Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Added GH
  data/patches/gh-1196-green-bay-packers.json
  data/patches/gh-3b7d-flag-of-peru.json
  data/patches/gh-6d72-hoppou-foundation-poi.json
  data/patches/gh-7be1-99-luftballons.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-0c07-gitanas-nauseda.json
  data/patches/gh-0c07-gitanas-nauseda.json
Labels: atlas data: patch

Create gh-9219-programmingdev.json
  data/patches/gh-9219-programmingdev.json
Labels: atlas data: patch

Create nier-2b-and-9s-nr2.json
  data/patches/nier-2b-and-9s-nr2.json
Labels: atlas data: patch

Fixed whiteout image
  web/_img/canvas/main/1690320611.png
Labels: none

Create gh-2f99-lituanica.json
  data/patches/gh-2f99-lituanica.json
Labels: atlas data: patch

Added end canvas
  web/_img/canvas/main/1690320856.png
  web/_js/config.js
Labels: none

Create gh-8c54-magrathean-sperm-whale.json
  data/patches/gh-8c54-magrathean-sperm-whale.json
Labels: atlas data: patch

Create gh-764f-flag-of-israel.json
  data/patches/gh-764f-flag-of-israel.json
Labels: atlas data: patch

Create gh-e6a3-fack-ju-spez-grafitti.json
  data/patches/gh-e6a3-fack-ju-spez-grafitti.json
Labels: atlas data: patch

SUS
  data/patches/gh-0fc8-sus.json
Labels: atlas data: patch

Create gh-a10c-flag-of-poland.json
  data/patches/gh-a10c-flag-of-poland.json
Labels: atlas data: patch

Create gh-07db-dont-panic.json
  data/patches/gh-07db-dont-panic.json
Labels: atlas data: patch

Create gh-d36b-hardcore-heart-totem.json
  data/patches/gh-d36b-hardcore-heart-totem.json
Labels: atlas data: patch

Create gh-2fa3-blue-corner-memorial.json
  data/patches/gh-2fa3-blue-corner-memorial.json
Labels: atlas data: patch

Create gh-bee3-spontaneous-crosses.json
  data/patches/gh-bee3-spontaneous-crosses.json
Labels: atlas data: patch

Create gh-2c22-bowl-of-petunias.json
  data/patches/gh-2c22-bowl-of-petunias.json
Labels: atlas data: patch

Create gh-2f46-permadeaz.json
  data/patches/gh-2f46-permadeaz.json
Labels: atlas data: patch

Create gh-01e2-simon-bolivar.json
  data/patches/gh-01e2-simon-bolivar.json
Labels: atlas data: patch

Create gh-0463-the-blue-corner.json
  data/patches/gh-0463-the-blue-corner.json
Labels: atlas data: patch

Create gh-7f2e-kauai-mounts-dog.json
  data/patches/gh-7f2e-kauai-mounts-dog.json
Labels: atlas data: patch

Create gh-5485-fuck-spez-whiteout.json
  data/patches/gh-5485-fuck-spez-whiteout.json
Labels: atlas data: patch

Create gh-b937-permadeaz.json
  data/patches/gh-b937-permadeaz.json
Labels: atlas data: patch

Create gh-9cfb-norminet.json
  data/patches/gh-9cfb-norminet.json
Labels: atlas data: patch

Create gh-1f6d-bowl-of-petunias.json
  data/patches/gh-1f6d-bowl-of-petunias.json
Labels: atlas data: patch

Update gh-7f2e-kauai-mounts-dog.json
  data/patches/gh-7f2e-kauai-mounts-dog.json
Labels: atlas data: patch

Create gh-0133-milena.json
  data/patches/gh-0133-milena.json
Labels: atlas data: patch

Create gh-8d36-metro-de-caracas.json
  data/patches/gh-8d36-metro-de-caracas.json
Labels: atlas data: patch

Create gh-ecb5-ecuawolxyz-banner.json
  data/patches/gh-ecb5-ecuawolxyz-banner.json
Labels: atlas data: patch

Create gh-2852-coxinha.json
  data/patches/gh-2852-coxinha.json
Labels: atlas data: patch

Create gh-8f1c-python.json
  data/patches/gh-8f1c-python.json
Labels: atlas data: patch

Create gh-071f-arara-azul-hyacinth-macaw.json
  data/patches/gh-071f-arara-azul-hyacinth-macaw.json
Labels: atlas data: patch

Create gh-655c-capoeira.json
  data/patches/gh-655c-capoeira.json
Labels: atlas data: patch

Create gh-be0f-pao-de-queijo-cheese-bread.json
  data/patches/gh-be0f-pao-de-queijo-cheese-bread.json
Labels: atlas data: patch

Add python logo
  data/patches/gh-f10a-python.json
Labels: atlas data: patch

Added Reddit official final canvas
  data/patches/gh-07db-dont-panic.json
  data/patches/gh-0c07-gitanas-nauseda.json
  data/patches/gh-0fc8-sus.json
  data/patches/gh-2f99-lituanica.json
  data/patches/gh-2fa3-blue-corner-memorial.json
  data/patches/gh-4265-austrian-ku.json
  data/patches/gh-6634-fuck-spez.json
  data/patches/gh-764f-flag-of-israel.json
  data/patches/gh-8c54-magrathean-sperm-whale.json
  data/patches/gh-9219-programmingdev.json
  data/patches/gh-a10c-flag-of-poland.json
  data/patches/gh-bee3-spontaneous-crosses.json
  data/patches/gh-d36b-hardcore-heart-totem.json
  data/patches/gh-e6a3-fack-ju-spez-grafitti.json
  data/patches/hatsune-miku-head.json
  data/patches/nier-2b-and-9s-nr2.json
  data/read-ids.txt
  web/_img/canvas/main-ex/redditfinal.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-3676-kirby-kuromi.json
  data/patches/gh-3676-kirby-kuromi.json
Labels: atlas data: patch

Create gh-eec8-flag-of-bolivia.json
  data/patches/gh-eec8-flag-of-bolivia.json
Labels: atlas data: patch

Update gh-def9-drednotio.json
  data/patches/gh-def9-drednotio.json
Labels: atlas data: patch
