Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-2736-der-ramen.json
  data/patches/gh-2736-der-ramen.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-bb0b-oshi-no-ko.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690173023.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-cf33-map-of-brittany.json
  data/patches/gh-cf33-map-of-brittany.json
Labels: atlas data: patch

Adjust issue templates
  .github/ISSUE_TEMPLATE/3-edit-json.yml
  .github/ISSUE_TEMPLATE/4-edit-request.yml
Labels: none

Create gh-6775-white-ermine-stoat.json
  data/patches/gh-6775-white-ermine-stoat.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690174800.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-19d8-bigoudene.json
  data/patches/gh-19d8-bigoudene.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-6775-white-ermine-stoat.json
  data/patches/gh-cf33-map-of-brittany.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  data/patches/gh-19d8-bigoudene.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690176638.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit Jet Lag: The Game
  data/patches/gh-0000-jet-lag-the-game.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690178416.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-0000-jet-lag-the-game.json
  data/read-ids.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Added entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690180193.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-b061-charizard-pokemon-card.json
  data/patches/gh-b061-charizard-pokemon-card.json
Labels: atlas data: patch

Added entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-b061-charizard-pokemon-card.json
Labels: atlas data: patch

Create gh-9f4d-resistance-in-ingress.json
  data/patches/gh-9f4d-resistance-in-ingress.json
Labels: atlas data: patch

Create gh-0934-jet-lag-the-game.json
  data/patches/gh-0934-jet-lag-the-game.json
Labels: atlas data: patch

Add 07:30-09:30 and missing canvasses 2
  web/atlas.json
Labels: atlas data: direct

Add 07:30-09:30 and missing canvasses 1
  web/atlas.json
Labels: atlas data: direct

Add 07:30-09:30 and missing canvasses 3
  tools/fill_missing_entry_times.py
  web/_img/canvas/main/1690007400.png
  web/_img/canvas/main/1690182001.png
  web/_img/canvas/main/1690183801.png
  web/_img/canvas/main/1690185601.png
  web/_img/canvas/main/1690187400.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-62f4-muse.json
  data/patches/gh-62f4-muse.json
Labels: atlas data: patch

Edit gh-77de-octoprism.json
  data/patches/gh-77de-octoprism.json
Labels: atlas data: patch

Add note regarding commit message
  CONTRIBUTING.md
Labels: none

Create gh-45c8-al-boraq.json
  data/patches/gh-45c8-al-boraq.json
Labels: atlas data: patch

Fix wrong chronological canvas order
  web/_js/config.js
Labels: none

Create gh-5916-hoalid-regragui.json
  data/patches/gh-5916-hoalid-regragui.json
Labels: atlas data: patch

Change description of Bad Apple!!
  data/patches/gh-d48a-bad-apple-music-video.json
Labels: atlas data: patch

Add expansion notes
  web/_js/config.js
Labels: none

Add 09:00-09:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690189200.png
  web/_img/canvas/main/1690191001.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create entry for osuplace and touhou subreddit text
  data/patches/gh-e02d-rosuplace-rtouhou.json
Labels: atlas data: patch

Update gh-62f4-muse.json
  data/patches/gh-62f4-muse.json
Labels: atlas data: patch

Better wording
  data/patches/gh-d48a-bad-apple-music-video.json
Labels: atlas data: patch

Fix view shifting when zooming when sidebar open
  web/_js/main/main.js
Labels: none

Added the discord server of the gd community, and the 98% video
  data/patches/gh-25ba-mefewe-sonic-wave-98.json
Labels: atlas data: patch

Fix entry box appearing on end of touch screen dragging
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none
