Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-b352-croatian-independence-day.json
  data/patches/gh-b352-croatian-independence-day.json
Labels: atlas data: patch

Create gh-b8b9-glagolitic-script.json
  data/patches/gh-b8b9-glagolitic-script.json
Labels: atlas data: patch

Create gh-0649-muse.json
  data/patches/gh-0649-muse.json
Labels: atlas data: patch

Create gh-33e6-takanashi-kiara-oktoberfest.json
  data/patches/gh-33e6-takanashi-kiara-oktoberfest.json
Labels: atlas data: patch

Update gh-33e6-takanashi-kiara-oktoberfest.json
  data/patches/gh-33e6-takanashi-kiara-oktoberfest.json
Labels: atlas data: patch

Create gh-81d0-fauna-crying-emote-saplings-cry.json
  data/patches/gh-81d0-fauna-crying-emote-saplings-cry.json
Labels: atlas data: patch

Update atlas.json
  web/atlas.json
Labels: atlas data: direct

Sorry, wrong thing that I deleted 🥴
  web/atlas.json
Labels: atlas data: direct

Create gh-aee4-rrvnxmango.json
  data/patches/gh-aee4-rrvnxmango.json
Labels: atlas data: patch

Add Entry for TUM/TU Dortmund collab
  data/patches/gh-ae8f-tu-dortmundtum-cooperation.json
Labels: atlas data: patch

Added a Name to the art, and changed description
  data/patches/gh-77cb-madohomu.json
Labels: atlas data: patch

Fixed "Tja" description
  web/atlas.json
Labels: atlas data: direct

Create gh-77c9-flag-of-germany.json
  data/patches/gh-77c9-flag-of-germany.json
Labels: atlas data: patch

Create gh-63f4-tumtu-darmstadt.json
  data/patches/gh-63f4-tumtu-darmstadt.json
Labels: atlas data: patch

change1
  web/atlas.json
Labels: atlas data: direct

Create gh-37ed-kdrkitten-mew.json
  data/patches/gh-37ed-kdrkitten-mew.json
Labels: atlas data: patch

Create gh-bfd9-mew-pokemon.json
  data/patches/gh-bfd9-mew-pokemon.json
Labels: atlas data: patch

ddnet.tw has moved to a new domain: ddnet.org
  web/atlas.json
Labels: atlas data: direct

Create gh-108c-bonjwa.json
  data/patches/gh-108c-bonjwa.json
Labels: atlas data: patch

Create gh-734d-wanderer-above-the-sea-of-fog.json
  data/patches/gh-734d-wanderer-above-the-sea-of-fog.json
Labels: atlas data: patch

Monster Hunter
  data/patches/gh-cd98-monster-hunter.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690136489.png
  web/_img/canvas/main/1690137040.png
  web/_img/canvas/main/1690138812.png
  web/_img/canvas/main/1690140648.png
  web/_img/canvas/main/1690142420.png
  web/_img/canvas/main/1690144254.png
  web/_img/canvas/main/1690146029.png
  web/_img/canvas/main/1690147802.png
  web/_img/canvas/main/1690149637.png
  web/_img/canvas/main/1690151410.png
  web/_img/canvas/main/1690153243.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-33e1-ultra-terrance.json
  data/patches/gh-33e1-ultra-terrance.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0649-muse.json
  data/patches/gh-108c-bonjwa.json
  data/patches/gh-33e6-takanashi-kiara-oktoberfest.json
  data/patches/gh-37ed-kdrkitten-mew.json
  data/patches/gh-63f4-tumtu-darmstadt.json
  data/patches/gh-734d-wanderer-above-the-sea-of-fog.json
  data/patches/gh-77cb-madohomu.json
  data/patches/gh-81d0-fauna-crying-emote-saplings-cry.json
  data/patches/gh-ae8f-tu-dortmundtum-cooperation.json
  data/patches/gh-aee4-rrvnxmango.json
  data/patches/gh-b352-croatian-independence-day.json
  data/patches/gh-b8b9-glagolitic-script.json
  data/patches/gh-bfd9-mew-pokemon.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Update atlas.json
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-3e24-fedditde.json
  data/patches/gh-3e24-fedditde.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-33e1-ultra-terrance.json
  data/patches/gh-3e24-fedditde.json
  data/read-ids.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690155018.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-8d28-norminet.json
  data/patches/gh-8d28-norminet.json
Labels: atlas data: patch

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-5f2d-42-school.json
  data/patches/gh-5f2d-42-school.json
Labels: atlas data: patch

Create gh-249a-hurdy-gurdy.json
  data/patches/gh-249a-hurdy-gurdy.json
Labels: atlas data: patch

Update gh-cd98-monster-hunter.json
  data/patches/gh-cd98-monster-hunter.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690156855.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-249a-hurdy-gurdy.json
  data/patches/gh-5f2d-42-school.json
  data/patches/gh-8d28-norminet.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-3c70-hitori-bocchi.json
  data/patches/gh-3c70-hitori-bocchi.json
Labels: atlas data: patch

Update gh-cd98-monster-hunter.json
  data/patches/gh-cd98-monster-hunter.json
Labels: atlas data: patch

Create gh-d9aa-holo-spice-and-wolf.json
  data/patches/gh-d9aa-holo-spice-and-wolf.json
Labels: atlas data: patch

author, time range
  data/patches/gh-cd98-monster-hunter.json
  data/patches/gh-de31-monster-hunter.json
Labels: atlas data: patch
