Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-7abc-eru-.json
  data/patches/gh-7abc-eru-.json
Labels: atlas data: patch

Create gh-c4b0-shura-hiwa-.json
  data/patches/gh-c4b0-shura-hiwa-.json
Labels: atlas data: patch

Create gh-d420-gp-explorer.json
  data/patches/gh-d420-gp-explorer.json
Labels: atlas data: patch

Updated entries
  data/patches/gardevoir-pokemon.json
  data/patches/gh-53da-portugal-caralho.json
  data/patches/gh-5b23-kurdishcummunity.json
  data/patches/gh-6495-charizard-base-set.json
  data/patches/gh-7579-matoi-ryuko-kill-la-kill.json
  data/patches/gh-7abc-eru-.json
  data/patches/gh-7ca5-allay.json
  data/patches/gh-9f62-quetzalcoatl.json
  data/patches/gh-ad06-logo-hochschule-hof-university-of-applied-sciences.json
  data/patches/gh-c4b0-shura-hiwa-.json
  data/patches/gh-d420-gp-explorer.json
  data/patches/gh-e530-zeno.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-00e1-palestinian-key.json
  data/patches/gh-00e1-palestinian-key.json
Labels: atlas data: patch

Create gh-7350-shiny-zorua.json
  data/patches/gh-7350-shiny-zorua.json
Labels: atlas data: patch

Create chao-sonic-the-hedgehog.json
  data/patches/chao-sonic-the-hedgehog.json
Labels: atlas data: patch

Create gh-a9af-al-aqsa-mosque.json
  data/patches/gh-a9af-al-aqsa-mosque.json
Labels: atlas data: patch

Create gh-f683-free-palestine.json
  data/patches/gh-f683-free-palestine.json
Labels: atlas data: patch

Create gh-5cfe-german-garmendia-logo.json
  data/patches/gh-5cfe-german-garmendia-logo.json
Labels: atlas data: patch

Replace description of Germany x The Netherlands Kabedon
  data/patches/gh-687b-germany-x-netherlands.json
Labels: atlas data: patch

Replace title
  data/patches/gh-687b-germany-x-netherlands.json
Labels: atlas data: patch

Create gh-6af9-pokemon-evolution-by-lattensepp-papaplatte.json
  data/patches/gh-6af9-pokemon-evolution-by-lattensepp-papaplatte.json
Labels: atlas data: patch

Updated Falklands memorial
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/chao-sonic-the-hedgehog.json
  data/patches/gh-00e1-palestinian-key.json
  data/patches/gh-687b-germany-x-netherlands.json
  data/patches/gh-6af9-pokemon-evolution-by-lattensepp-papaplatte.json
  data/patches/gh-7350-shiny-zorua.json
  data/patches/gh-a9af-al-aqsa-mosque.json
  data/patches/gh-f683-free-palestine.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-ad0a-pump-it-up.json
  data/patches/gh-ad0a-pump-it-up.json
Labels: atlas data: patch

Create gh-f7b7-existence-smp-nbrand.json
  data/patches/gh-f7b7-existence-smp-nbrand.json
Labels: atlas data: patch

Create gh-65fa-mastermovies.json
  data/patches/gh-65fa-mastermovies.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-65fa-mastermovies.json
  data/patches/gh-ad0a-pump-it-up.json
  data/patches/gh-f7b7-existence-smp-nbrand.json
  data/read-ids.txt
  tools/extend_entry_times.py
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Defaulted to Reddit official final canvas
  web/_js/config.js
Labels: none

Removed spam entry
  web/atlas.json
Labels: atlas data: direct

Create gh-3e8c-fech-the-ferret.json
  data/patches/gh-3e8c-fech-the-ferret.json
Labels: atlas data: patch

Create entry "Flag of South Korea"
  data/patches/gh-3bd7-flag-of-south-korea.json
Labels: atlas data: patch

Edit entry 180 "Flag of South Korea"
  data/patches/gh-7547-flag-of-south-korea.json
Labels: atlas data: patch

Edit entry 589 "Flag of South Korea"
  data/patches/gh-31c2-flag-of-south-korea.json
Labels: atlas data: patch

Updated entries
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Update gh-3e8c-fech-the-ferret.json
  data/patches/gh-3e8c-fech-the-ferret.json
Labels: atlas data: patch

Update gh-3e8c-fech-the-ferret.json
  data/patches/gh-3e8c-fech-the-ferret.json
Labels: atlas data: patch

Added placeFR Discord
  web/atlas.json
Labels: atlas data: direct

Added r/france subreddit
  web/atlas.json
Labels: atlas data: direct

Edit entry 2653 "Flag of South Korea"
  data/patches/gh-f93b-flag-of-south-korea.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-5cfe-german-garmendia-logo.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

edit Sri Lanka
  data/patches/gh-a625-flag-of-sri-lanka.json
Labels: atlas data: patch

edit Lion Head
  data/patches/edit Lion Head
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-31c2-flag-of-south-korea.json
  data/patches/gh-3bd7-flag-of-south-korea.json
  data/patches/gh-3e8c-fech-the-ferret.json
  data/patches/gh-7547-flag-of-south-korea.json
  data/patches/gh-a625-flag-of-sri-lanka.json
  data/patches/gh-b966-littlepip.json
  data/patches/gh-f93b-flag-of-south-korea.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit Singapore
  data/patches/Edit Singapore
Labels: atlas data: patch

edit Hearts
  data/patches/gh-2b90-singapore-sri-lanka-bolivia-tri-heart.json
Labels: atlas data: patch

edit Tower
  data/patches/edit Tower
Labels: atlas data: patch

edit Museum
  data/patches/gh-87ae-artscience-museum-of-singapore.json
Labels: atlas data: patch
