Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

woooo, added (hopefully) all of sub & discords
  data/patches/gh-f84b-fuck-spez.json
Labels: atlas data: patch

update description again to include more communities
  data/patches/gh-f84b-fuck-spez.json
Labels: atlas data: patch

Create gh-9afd-danke-kenteken.json
  data/patches/gh-9afd-danke-kenteken.json
Labels: atlas data: patch

Edit Snorlax & Friends (id: 2924)
  data/patches/gh-97b0-snorlax-friends.json
Labels: atlas data: patch

Create gh-e12c-made-in-abyss-faputa.json
  data/patches/gh-e12c-made-in-abyss-faputa.json
Labels: atlas data: patch

edit gh-b1c9-meltan.json
  data/patches/gh-b1c9-meltan.json
Labels: atlas data: patch

Edit entry 4336 "Flag of South Korea"
  data/patches/gh-6a70-flag-of-south-korea.json
Labels: atlas data: patch

Edit entry 4337 "Flag of South Korea (Nordic Asylum)"
  data/patches/gh-caa3-flag-of-south-korea-nordic-refugee.json
Labels: atlas data: patch

Create gh-1702-samurai-from-cyberpunk-2077.json
  data/patches/gh-1702-samurai-from-cyberpunk-2077.json
Labels: atlas data: patch

Create gh-d567-flag-of-lithuania.json
  data/patches/gh-d567-flag-of-lithuania.json
Labels: atlas data: patch

Edit entry 1931 "Flag of the United Kingdom"
  data/patches/gh-ed48-flag-of-the-united-kingdom.json
Labels: atlas data: patch

Create gh-babc-vilnius-cathedrals-bell-tower.json
  data/patches/gh-babc-vilnius-cathedrals-bell-tower.json
Labels: atlas data: patch

Create gh-7520-printful.json
  data/patches/gh-7520-printful.json
Labels: atlas data: patch

Create gh-92ee-lemmy.json
  data/patches/gh-92ee-lemmy.json
Labels: atlas data: patch

Edit entry 3025 "Flag of Honduras"
  data/patches/gh-26a6-honduras.json
Labels: atlas data: patch

Edit entry 170 "Flag of Cuba"
  data/patches/gh-d4b8-flag-of-cuba.json
Labels: atlas data: patch

Edit entry 312 "Flag of Bangladesh"
  data/patches/gh-0881-flag-of-bangladesh.json
Labels: atlas data: patch

PlaceBZH - Second location
  data/patches/gh-4b97-nighttime-lighthouse.json
Labels: atlas data: patch

Create gh-1369-robot-prince-of-auchtertool.json
  data/patches/gh-1369-robot-prince-of-auchtertool.json
Labels: atlas data: patch

Add the flag of dorset
  data/patches/flag-of-dorset.json
Labels: atlas data: patch

Updated GitHub
  data/patches/gh-0881-flag-of-bangladesh.json
  data/patches/gh-1369-robot-prince-of-auchtertool.json
  data/patches/gh-26a6-honduras.json
  data/patches/gh-3050-rosuplace-vista-button.json
  data/patches/gh-3530-yae-miko-fox-form.json
  data/patches/gh-46dc-belgium-beer-duvel.json
  data/patches/gh-47a2-blasphemous.json
  data/patches/gh-47b1-artwork-of-singapore.json
  data/patches/gh-4b97-nighttime-lighthouse.json
  data/patches/gh-510b-flag-of-portugal.json
  data/patches/gh-6a70-flag-of-south-korea.json
  data/patches/gh-73e9-nazare-waves.json
  data/patches/gh-7520-printful.json
  data/patches/gh-7c4d-pierreshow-logo.json
  data/patches/gh-90d8-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-9afd-danke-kenteken.json
  data/patches/gh-a599-3men1couch.json
  data/patches/gh-b1c9-meltan.json
  data/patches/gh-b440-grazer-uhrturm.json
  data/patches/gh-b85e-me-and-you.json
  data/patches/gh-babc-vilnius-cathedrals-bell-tower.json
  data/patches/gh-c9e3-lenich.json
  data/patches/gh-caa3-flag-of-south-korea-nordic-refugee.json
  data/patches/gh-d4b8-flag-of-cuba.json
  data/patches/gh-d567-flag-of-lithuania.json
  data/patches/gh-e099-blackjack.json
  data/patches/gh-e12c-made-in-abyss-faputa.json
  data/patches/gh-ed48-flag-of-the-united-kingdom.json
  data/patches/gh-f84b-fuck-spez.json
  data/patches/gh-fd46-printful.json
  data/patches/gh-fedd-fiat-126p-maluch.json
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated GitHub
  data/patches/Edit Singapore
  data/patches/edit Lion Head
  data/patches/edit Tower
  data/patches/gh-92ee-lemmy.json
  data/patches/gh-97b0-snorlax-friends.json
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

feat: optimized canvas rerender for better performance
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-16ca-foxholes-f.json
  data/patches/gh-16ca-foxholes-f.json
Labels: atlas data: patch

Updated Reddit
  data/patches/Update mondongo to reflect more details
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  web/atlas.json
Labels: atlas data: direct

Fixed duplicate entry
  web/atlas.json
Labels: atlas data: direct

Create gh-93de-skrunkly.json
  data/patches/gh-93de-skrunkly.json
Labels: atlas data: patch

Create gh-c4cc-makise-kurisu-christina.json
  data/patches/gh-c4cc-makise-kurisu-christina.json
Labels: atlas data: patch

Create gh-4f99-rain-world.json
  data/patches/gh-4f99-rain-world.json
Labels: atlas data: patch

Create gh-68eb-osu-start-bar-application.json
  data/patches/gh-68eb-osu-start-bar-application.json
Labels: atlas data: patch

Create gh-8f12-book-of-embers.json
  data/patches/gh-8f12-book-of-embers.json
Labels: atlas data: patch

Create gh-c83c-league-of-legends-icon.json
  data/patches/gh-c83c-league-of-legends-icon.json
Labels: atlas data: patch

Create gh-3849-star-wars-art.json
  data/patches/gh-3849-star-wars-art.json
Labels: atlas data: patch

create TeaRex emote from Rhetsin
  data/patches/gh-6135-tearex.json
Labels: atlas data: patch

Create gh-19db-triforce.json
  data/patches/gh-19db-triforce.json
Labels: atlas data: patch

Added submissions
  data/patches/flag-of-dorset.json
  data/patches/gh-16ca-foxholes-f.json
  data/patches/gh-19db-triforce.json
  data/patches/gh-4f99-rain-world.json
  data/patches/gh-6135-tearex.json
  data/patches/gh-68eb-osu-start-bar-application.json
  data/patches/gh-8f12-book-of-embers.json
  data/patches/gh-93de-skrunkly.json
  data/patches/gh-c4cc-makise-kurisu-christina.json
  data/patches/gh-c83c-league-of-legends-icon.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-4bd7-states-lion.json
  data/patches/gh-4bd7-states-lion.json
Labels: atlas data: patch

Create gh-85c4-python.json
  data/patches/gh-85c4-python.json
Labels: atlas data: patch

Create gh-84d9-rock-of-cashel.json
  data/patches/gh-84d9-rock-of-cashel.json
Labels: atlas data: patch
