Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-5926-forevers-community.json
  data/patches/gh-5926-forevers-community.json
Labels: atlas data: patch

Create gh-1447-reimu-hakurei.json
  data/patches/gh-1447-reimu-hakurei.json
Labels: atlas data: patch

Add Vanilly
  data/patches/gh-0000-vanilly.json
Labels: atlas data: patch

Create gh-63be-forevi1amor.json
  data/patches/gh-63be-forevi1amor.json
Labels: atlas data: patch

edit time of gh-a869-kemist_c10h15-flask.json
  data/patches/gh-a869-kemist_c10h15-flask.json
Labels: atlas data: patch

Singapore Flag and Artwork
  data/patches/gh-ccce-singapore-flag-and-artwork.json
Labels: atlas data: patch

Create gh-306e-forevi1nelsamor.json
  data/patches/gh-306e-forevi1nelsamor.json
Labels: atlas data: patch

Crescent Moon and Stars
  data/patches/gh-b1b8-crescent-moon-and-stars-of-singapore.json
Labels: atlas data: patch

Fix typo
  README.md
Labels: none

Fix one more typo
  README.md
Labels: none

Phish edit
  data/patches/gh-a23e-phish.json
Labels: atlas data: patch

Create gh-ec08-karlsruhe-institute-of-technology-kit.json
  data/patches/gh-ec08-karlsruhe-institute-of-technology-kit.json
Labels: atlas data: patch

Create gh-0271-flag-of-canada.json
  data/patches/gh-0271-flag-of-canada.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create Two country hearts
  data/patches/Two country hearts
Labels: atlas data: patch

Create gh-c8d8-flarewheeze.json
  data/patches/gh-c8d8-flarewheeze.json
Labels: atlas data: patch

edit description and title gh-a6a6-kemist_c10h15n-flask.json
  data/patches/gh-a6a6-kemist_c10h15n-flask.json
Labels: atlas data: patch

Create Three Countries Heart
  data/patches/Three Countries Heart
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-8205-rflipperzero-dolphin.json
  data/patches/gh-8205-rflipperzero-dolphin.json
Labels: atlas data: patch

Update gh-35eb-medicine-wheel.json
  data/patches/gh-35eb-medicine-wheel.json
Labels: atlas data: patch

Update gh-c85d-red.json
  data/patches/gh-c85d-red.json
Labels: atlas data: patch

Create gh-0fc7-zhongli.json
  data/patches/gh-0fc7-zhongli.json
Labels: atlas data: patch

Update gh-a8fe-doctor-simi.json
  data/patches/gh-a8fe-doctor-simi.json
Labels: atlas data: patch

Create gh-0d90-yew-with-blackboard.json
  data/patches/gh-0d90-yew-with-blackboard.json
Labels: atlas data: patch

Create gh-3e1c-caedrels-zaza-tree.json
  data/patches/gh-3e1c-caedrels-zaza-tree.json
Labels: atlas data: patch

Create gh-e1f9-canada-text.json
  data/patches/gh-e1f9-canada-text.json
Labels: atlas data: patch

Create gh-0c7d-brazilball.json
  data/patches/gh-0c7d-brazilball.json
Labels: atlas data: patch

decreases rendering of linesCanvas canvas
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-07fb-canadian-poppies.json
  data/patches/gh-07fb-canadian-poppies.json
Labels: atlas data: patch

Fix 4chan path
  data/patches/gh-1d7c-4chan.json
Labels: atlas data: patch

Create gh-1a8f-kitboga.json
  data/patches/gh-1a8f-kitboga.json
Labels: atlas data: patch

Create gh-6dd1-kitboga.json
  data/patches/gh-6dd1-kitboga.json
Labels: atlas data: patch

Create gh-7cb4-la-boulangerie-mc.json
  data/patches/gh-7cb4-la-boulangerie-mc.json
Labels: atlas data: patch

Create gh-4305-cella.json
  data/patches/gh-4305-cella.json
Labels: atlas data: patch

Create gh-43b4-northwest-territories-territorial-flag.json
  data/patches/gh-43b4-northwest-territories-territorial-flag.json
Labels: atlas data: patch

Create gh-429b-yukon-territorial-flag.json
  data/patches/gh-429b-yukon-territorial-flag.json
Labels: atlas data: patch

fix: Mustafa Kemal Atatürk
  web/atlas.json
Labels: atlas data: direct

Create gh-9dd7-mini-cirno-and-daiyousei.json
  data/patches/gh-9dd7-mini-cirno-and-daiyousei.json
Labels: atlas data: patch

Create gh-5de0-la-boulangerie-mc.json
  data/patches/gh-5de0-la-boulangerie-mc.json
Labels: atlas data: patch
