Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Edit Changi
  data/patches/gh-999b-changi-airport-control-tower.json
Labels: atlas data: patch

Create gh-b95c-rplacede-taskbar-tile.json
  data/patches/gh-b95c-rplacede-taskbar-tile.json
Labels: atlas data: patch

Update Flag of Vietnam (r/placevietnam)
  data/patches/gh-7a90-flag-of-vietnam.json
Labels: atlas data: patch

Edit Flag of Vietnam (r/placevietnam)
  data/patches/gh-7a90-flag-of-vietnam.json
Labels: atlas data: patch

Create French Heart
  data/patches/gh-a1a3-french-heart-with-singapore.json
Labels: atlas data: patch

Create Bearman
  data/patches/gh-f242-bearman-by-pierreshowgang.json
Labels: atlas data: patch

Add RiF in Vista Taskbar
  data/patches/gh-8b15-rif-is-fun-for-reddit.json
Labels: atlas data: patch

Create gh-bbe4-littlemeyhs-community-frog.json
  data/patches/gh-bbe4-littlemeyhs-community-frog.json
Labels: atlas data: patch

Create gh-2f73-smooth-coated-otter-of-singapore.json
  data/patches/gh-2f73-smooth-coated-otter-of-singapore.json
Labels: atlas data: patch

router at indie alliance
  data/patches/gh-ef3f-router.json
Labels: atlas data: patch

Create gh-06a7-singapore-river.json
  data/patches/gh-06a7-singapore-river.json
Labels: atlas data: patch

Create gh-b48c-lion-head-national-symbol-of-singapore.json
  data/patches/gh-b48c-lion-head-national-symbol-of-singapore.json
Labels: atlas data: patch

Create gh-35f9-malaysia-singapore-tiny-flags.json
  data/patches/gh-35f9-malaysia-singapore-tiny-flags.json
Labels: atlas data: patch

Create gh-59a5-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-59a5-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Create gh-949f-arctic-monkeys-am-logo.json
  data/patches/gh-949f-arctic-monkeys-am-logo.json
Labels: atlas data: patch

Revert Fuck Spez
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-232c-rat.json
  data/patches/gh-c393-megumin-konosuba.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated GitHub
  data/patches/gh-06a7-singapore-river.json
  data/patches/gh-2896-wbf.json
  data/patches/gh-2ce6-rising-phoenix-shego.json
  data/patches/gh-2f73-smooth-coated-otter-of-singapore.json
  data/patches/gh-33e5-flag-of-vietnam.json
  data/patches/gh-35f9-malaysia-singapore-tiny-flags.json
  data/patches/gh-59a5-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-6878-artwork-of-singapore.json
  data/patches/gh-6b12-flag-of-the-valencian-community.json
  data/patches/gh-71c6-vickypalami.json
  data/patches/gh-7a90-flag-of-vietnam.json
  data/patches/gh-8b15-rif-is-fun-for-reddit.json
  data/patches/gh-949f-arctic-monkeys-am-logo.json
  data/patches/gh-9914-pierreshow-logo.json
  data/patches/gh-999b-changi-airport-control-tower.json
  data/patches/gh-a1a3-french-heart-with-singapore.json
  data/patches/gh-b48c-lion-head-national-symbol-of-singapore.json
  data/patches/gh-b95c-rplacede-taskbar-tile.json
  data/patches/gh-bbe4-littlemeyhs-community-frog.json
  data/patches/gh-be3d-gawr-gura.json
  data/patches/gh-cbd9-10d-drawing.json
  data/patches/gh-dbc8-counter-strike-2-final-canvas.json
  data/patches/gh-ef3f-router.json
  data/patches/gh-f242-bearman-by-pierreshowgang.json
  data/patches/gh-f717-vc3-logo-expansion.json
  data/patches/gh-f8d1-azerbaijan-democratic-republic.json
  data/patches/gh-fcbd-logo-of-hwa-chong-institution.json
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create Flag of South Africa
  data/patches/gh-1a91-flag-of-south-africa.json
Labels: atlas data: patch

Create gh-8a4c-neco-arc-mittelflagge.json
  data/patches/gh-8a4c-neco-arc-mittelflagge.json
Labels: atlas data: patch

Create gh-35c6-neco-arc-nordflagge.json
  data/patches/gh-35c6-neco-arc-nordflagge.json
Labels: atlas data: patch

Edit Rosuplace Rtouhou
  data/patches/gh-2549-rosuplace-rtouhou.json
Labels: atlas data: patch

Create gh-6f0c-neco-arc-chaos.json
  data/patches/gh-6f0c-neco-arc-chaos.json
Labels: atlas data: patch

Create gh-7262-forgotten-turtles.json
  data/patches/gh-7262-forgotten-turtles.json
Labels: atlas data: patch

Create gh-5fbf-forgotten-turtles.json
  data/patches/gh-5fbf-forgotten-turtles.json
Labels: atlas data: patch

Create gh-e509-she-ra-catradora-kiss.json
  data/patches/gh-e509-she-ra-catradora-kiss.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-1a91-flag-of-south-africa.json
  data/patches/gh-2549-rosuplace-rtouhou.json
  data/patches/gh-35c6-neco-arc-nordflagge.json
  data/patches/gh-5fbf-forgotten-turtles.json
  data/patches/gh-6f0c-neco-arc-chaos.json
  data/patches/gh-7262-forgotten-turtles.json
  data/patches/gh-8a4c-neco-arc-mittelflagge.json
  data/patches/gh-e509-she-ra-catradora-kiss.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-bf08-fck-fpo-afd.json
  data/patches/gh-bf08-fck-fpo-afd.json
Labels: atlas data: patch

Create gh-1887-forgotten-turtles-video-game-group.json
  data/patches/gh-1887-forgotten-turtles-video-game-group.json
Labels: atlas data: patch

Create gh-11e6-flag-of-turkey.json
  data/patches/gh-11e6-flag-of-turkey.json
Labels: atlas data: patch

Create gh-b049-monokuma-danganronpa.json
  data/patches/gh-b049-monokuma-danganronpa.json
Labels: atlas data: patch

Create gh-266d-jimmy-chortles.json
  data/patches/gh-266d-jimmy-chortles.json
Labels: atlas data: patch

Create gh-3565-repolloclips.json
  data/patches/gh-3565-repolloclips.json
Labels: atlas data: patch

add ingria and siberian flag
  data/patches/gh-3307-siberian-republic-flag.json
  data/patches/gh-5b1d-ingria-flag.json
Labels: atlas data: patch

Create gh-ab22-mayhem.json
  data/patches/gh-ab22-mayhem.json
Labels: atlas data: patch

Create gh-96a0-koiarch.json
  data/patches/gh-96a0-koiarch.json
Labels: atlas data: patch

Create gh-0884-eusebio-ferreira.json
  data/patches/gh-0884-eusebio-ferreira.json
Labels: atlas data: patch

Create gh-3e89-german-twitch-streamer-hallo_alexa_.json
  data/patches/gh-3e89-german-twitch-streamer-hallo_alexa_.json
Labels: atlas data: patch

Create gh-205c-power-chainsaw-man.json
  data/patches/gh-205c-power-chainsaw-man.json
Labels: atlas data: patch

Create gh-3f22-hypixel-h.json
  data/patches/gh-3f22-hypixel-h.json
Labels: atlas data: patch
