Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-084f-flag-of-india.json
  data/patches/gh-084f-flag-of-india.json
Labels: atlas data: patch

Create entry PlaceNL cube houses
  data/patches/gh-2d2f-cube-houses.json
Labels: atlas data: patch

feat: add highlight steps
  web/_css/style.css
  web/_js/config.js
  web/_js/main/main.js
  web/_js/main/time.js
  web/index.html
Labels: none

Use abortController to avoid race condition
  web/_js/main/time.js
Labels: none

Fix link to Netlify deployment page
  README.md
Labels: none

Rename to @instanceonly, indicate instance-only code
  web/_js/config.js
  web/_js/main/draw.js
Labels: none

Update Twitter meta tags
  web/about.html
  web/index.html
Labels: none

Create gh-ca86-karlsruher-u-strab.json
  data/patches/gh-ca86-karlsruher-u-strab.json
Labels: atlas data: patch

Create gh-a13b-necosus.json
  data/patches/gh-a13b-necosus.json
Labels: atlas data: patch

Correct calculation when setting view
  web/_js/main/main.js
Labels: none

Correct calculation when setting view 2
  web/_js/main/main.js
  web/_js/main/time.js
Labels: none

Improve gh-5164-aloy-from-horizon-game-series.json
  data/patches/gh-5164-aloy-from-horizon-game-series.json
Labels: atlas data: patch

Improve gh-3dc8-the-mauritshuis.json
  data/patches/gh-3dc8-the-mauritshuis.json
Labels: atlas data: patch

Improve gh-9527-cube-houses.json
  data/patches/gh-9527-cube-houses.json
Labels: atlas data: patch

Improve gh-8fbe-royal-palace-of-amsterdam.json
  data/patches/gh-8fbe-royal-palace-of-amsterdam.json
Labels: atlas data: patch

Improve gh-a585-domtoren.json
  data/patches/gh-a585-domtoren.json
Labels: atlas data: patch

Create gh-829b-garden-city-singapore.json
  data/patches/gh-829b-garden-city-singapore.json
Labels: atlas data: patch

Create gh-2b55-phish.json
  data/patches/gh-2b55-phish.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-2b55-phish.json
  data/patches/gh-554d-nijisanji.json
  data/patches/gh-64a6-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-6c4f-kihamoovt.json
  data/patches/gh-829b-garden-city-singapore.json
  data/patches/gh-8319-flag-of-sri-lanka.json
  data/patches/gh-a13b-necosus.json
  data/patches/gh-ca86-karlsruher-u-strab.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Correct calculation when setting view 3
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Fixed formatting
  web/atlas.json
Labels: atlas data: direct

Correct calculation when setting view 4
  web/_js/main/draw.js
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-1915-murky.json
  data/patches/gh-1915-murky.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1915-murky.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Renamed proper timestamps to gray-out
  web/_js/config.js
Labels: none

Create gh-d821-distressed-red-ball.json
  data/patches/gh-d821-distressed-red-ball.json
Labels: atlas data: patch

Create gh-1561-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-1561-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-1561-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-aa7f-sherry-sharp-and-mikuru-nakano.json
  data/patches/gh-d821-distressed-red-ball.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Removed dupe
  web/atlas.json
Labels: atlas data: direct

Extended entries ending in Reddit final canvas
  tools/extend_entry_times.py
  web/atlas.json
Labels: atlas data: direct

Fix canvas images for forward diff to expansion
  web/_img/canvas/main-2/153_148.png
  web/_img/canvas/main-2/153_159.png
  web/_img/canvas/main-2/164_159.png
  web/_img/canvas/main-2/164_170.png
  web/_img/canvas/main-2/165_159.png
  web/_img/canvas/main-2/165_170.png
  web/_img/canvas/main-2/166_159.png
  web/_img/canvas/main-2/166_170.png
  web/_img/canvas/main-2/167_159.png
  web/_img/canvas/main-2/167_170.png
  web/_img/canvas/main-2/168_159.png
  web/_img/canvas/main-2/168_170.png
  web/_img/canvas/main-2/169_159.png
  web/_img/canvas/main-2/169_170.png
  web/_img/canvas/main-2/198_192.png
  web/_img/canvas/main-2/198_203.png
  web/_img/canvas/main-2/199_192.png
  web/_img/canvas/main-2/199_203.png
  web/_img/canvas/main-2/200_192.png
  web/_img/canvas/main-2/200_203.png
  web/_js/config.js
Labels: none

Make drawable period fixed, minor cleanup
  web/_js/config.js
Labels: none

Updated entries
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-7f3a-united-ireland.json
  data/patches/gh-7f3a-united-ireland.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
