Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

edit Flyer
  data/patches/gh-7438-singapore-flyer.json
Labels: atlas data: patch

edit Bus
  data/patches/gh-a882-bus-of-sbs-transit.json
Labels: atlas data: patch

Create gh-86de-camp-jupiter.json
  data/patches/gh-86de-camp-jupiter.json
Labels: atlas data: patch

edit MRT
  data/patches/gh-95c0-mass-rapid-transit.json
Labels: atlas data: patch

Remove duplicate Fubuki entries
  web/atlas.json
Labels: atlas data: direct

Create gh-59da-mlp-wipe-counter.json
  data/patches/gh-59da-mlp-wipe-counter.json
Labels: atlas data: patch

Add "Lenich" entry to the 2023 Atlas
  data/patches/gh-c9e3-lenich.json
Labels: atlas data: patch

Add Mochidoru Suisei
  data/patches/gh-ab37-mochidoru-suisei.json
Labels: atlas data: patch

Create gh-73d5-blackjack.json
  data/patches/gh-73d5-blackjack.json
Labels: atlas data: patch

edit Hearts
  data/patches/gh-2b14-singapore-bolivia-hearts.json
Labels: atlas data: patch

Edit Moon and Stars
  data/patches/gh-5a3a-crescent-moon-and-stars-of-singapore.json
Labels: atlas data: patch

edit Bird
  data/patches/gh-fc7e-fancy-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Create Update mondongo to reflect more details
  data/patches/Update mondongo to reflect more details
Labels: atlas data: patch

Create gh-3ab8-super-mario.json
  data/patches/gh-3ab8-super-mario.json
Labels: atlas data: patch

Create gh-42df-bsz-wiesau.json
  data/patches/gh-42df-bsz-wiesau.json
Labels: atlas data: patch

Create gh-ae9e-boost-for-reddit-on-the-taskbar.json
  data/patches/gh-ae9e-boost-for-reddit-on-the-taskbar.json
Labels: atlas data: patch

Remove image overrides system
  web/_js/main/view.js
  web/imageOverrides/Put the image overrides in this directory
Labels: none

First attempt on filter-first atlas
  web/_js/config.js
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/_js/main/main.js
  web/_js/main/overlap.js
  web/_js/main/time.js
  web/_js/main/view.js
Labels: none

Remove console logs
  web/_js/main/draw.js
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-a75f-fernsudflaggen-the-work-of-bernd-the-brothanos.json
  data/patches/gh-a75f-fernsudflaggen-the-work-of-bernd-the-brothanos.json
Labels: atlas data: patch

Add SPHERE logo explanation
  data/patches/gh-b1e9-sphere.json
Labels: atlas data: patch

Avoid doing view parameters on edit buttons
  web/_js/main/infoblock.js
Labels: none

Create gh-7761-tokino-sora-holding-a-heart.json
  data/patches/gh-7761-tokino-sora-holding-a-heart.json
Labels: atlas data: patch

Add 'autopech'
  data/patches/gh-ec51-autopech-car-breakdown.json
Labels: atlas data: patch

Create gh-535b-springbok.json
  data/patches/gh-535b-springbok.json
Labels: atlas data: patch

Create gh-0396-hungarian-grey.json
  data/patches/gh-0396-hungarian-grey.json
Labels: atlas data: patch

Create gh-e30f-mini-perry-the-platypus.json
  data/patches/gh-e30f-mini-perry-the-platypus.json
Labels: atlas data: patch

Make clicking undisplayed entries list work
  web/_js/main/infoblock.js
  web/_js/main/time.js
  web/_js/main/view.js
Labels: none

Make clicking undisplayed entries list work 2
  web/_js/main/infoblock.js
  web/_js/main/view.js
Labels: none

Create gh-7cae-3rd-assault-brigade-azov-ukraine.json
  data/patches/gh-7cae-3rd-assault-brigade-azov-ukraine.json
Labels: atlas data: patch

Refactoring
  web/_js/main/main.js
  web/_js/main/overlap.js
  web/_js/main/view.js
Labels: none

Create gh-c3a4-condorito.json
  data/patches/gh-c3a4-condorito.json
Labels: atlas data: patch

integrated changes to atlas.json
  data/patches/gh-7cae-3rd-assault-brigade-azov-ukraine.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

remove duplicate
  web/atlas.json
Labels: atlas data: direct

Create gh-84a7-ranimaljam-butterfly.json
  data/patches/gh-84a7-ranimaljam-butterfly.json
Labels: atlas data: patch

Create gh-a718-neco-arc-germany-flag-extension-of-the-middle.json
  data/patches/gh-a718-neco-arc-germany-flag-extension-of-the-middle.json
Labels: atlas data: patch

Create gh-0179-ddnet.json
  data/patches/gh-0179-ddnet.json
Labels: atlas data: patch

Create gh-d06a-techpack.json
  data/patches/gh-d06a-techpack.json
Labels: atlas data: patch

Create gh-fbc5-neco-arc-germany-flag-extension-of-the-middle.json
  data/patches/gh-fbc5-neco-arc-germany-flag-extension-of-the-middle.json
Labels: atlas data: patch

Create gh-eef9-wall-e-and-eve.json
  data/patches/gh-eef9-wall-e-and-eve.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
