Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-dd01-tako-of-the-void.json
  data/patches/gh-dd01-tako-of-the-void.json
Labels: atlas data: patch

Create gh-829a-the-miraculous.json
  data/patches/gh-829a-the-miraculous.json
Labels: atlas data: patch

Create gh-1fd2-blu-ubercharged-heavy.json
  data/patches/gh-1fd2-blu-ubercharged-heavy.json
Labels: atlas data: patch

Update gh-1fd2-blu-ubercharged-heavy.json
  data/patches/gh-1fd2-blu-ubercharged-heavy.json
Labels: atlas data: patch

Corrections
  data/patches/gh-6db5-hong-kong.json
Labels: atlas data: patch

Create gh-f528-kud.json
  data/patches/gh-f528-kud.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1fd2-blu-ubercharged-heavy.json
  data/patches/gh-6db5-hong-kong.json
  data/patches/gh-7f3a-united-ireland.json
  data/patches/gh-829a-the-miraculous.json
  data/patches/gh-dd01-tako-of-the-void.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-2d0b-holiday-trip-with-autopech-car-breakdown.json
  data/patches/gh-2d0b-holiday-trip-with-autopech-car-breakdown.json
Labels: atlas data: patch

Create gh-c24f-anwb-roadside-assistance-van.json
  data/patches/gh-c24f-anwb-roadside-assistance-van.json
Labels: atlas data: patch

Create gh-ce9f-norminet.json
  data/patches/gh-ce9f-norminet.json
Labels: atlas data: patch

Create gh-cc2e-senko-x-special-week-netherlands-flag.json
  data/patches/gh-cc2e-senko-x-special-week-netherlands-flag.json
Labels: atlas data: patch

Edited IFSCL
  data/patches/gh-fe8c-ifscl.json
Labels: atlas data: patch

Internet Explorer edited
  data/patches/gh-c933-internet-explorer.json
Labels: atlas data: patch

Create gh-2c9d-te-land-ter-zee-en-in-de-lucht.json
  data/patches/gh-2c9d-te-land-ter-zee-en-in-de-lucht.json
Labels: atlas data: patch

"Waldo" -> "Wally/Waldo"
  data/patches/gh-1155-wallywaldo.json
Labels: atlas data: patch

Create gh-8e63-loeki-the-lion.json
  data/patches/gh-8e63-loeki-the-lion.json
Labels: atlas data: patch

Create gh-c7ce-coco.json
  data/patches/gh-c7ce-coco.json
Labels: atlas data: patch

Create gh-b71a-bassie-adriaan.json
  data/patches/gh-b71a-bassie-adriaan.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1155-wallywaldo.json
  data/patches/gh-2c9d-te-land-ter-zee-en-in-de-lucht.json
  data/patches/gh-2d0b-holiday-trip-with-autopech-car-breakdown.json
  data/patches/gh-8e63-loeki-the-lion.json
  data/patches/gh-c24f-anwb-roadside-assistance-van.json
  data/patches/gh-c7ce-coco.json
  data/patches/gh-c933-internet-explorer.json
  data/patches/gh-cc2e-senko-x-special-week-netherlands-flag.json
  data/patches/gh-ce9f-norminet.json
  data/patches/gh-f528-kud.json
  data/patches/gh-fe8c-ifscl.json
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create Phe Game's Logo
  data/patches/gh-a1be-phe-games-logo.json
Labels: atlas data: patch

Edit Flag of Vietnam (r/placevietnam)
  data/patches/gh-3254-flag-of-vietnam.json
Labels: atlas data: patch

Create HMU XPRESS
  data/patches/gh-bcf7-hmu-xpress.json
Labels: atlas data: patch

Improve trace. Add place-wiki link. gh-8e2f-thunderdome.json
  data/patches/gh-8e2f-thunderdome.json
Labels: atlas data: patch

Create gh-bfe5-koekhappen.json
  data/patches/gh-bfe5-koekhappen.json
Labels: atlas data: patch

Create r/place Logo
  data/patches/gh-d180-rplace-logo.json
Labels: atlas data: patch

Create gh-c476-william-the-silent-of-orange.json
  data/patches/gh-c476-william-the-silent-of-orange.json
Labels: atlas data: patch

Create gh-1786-new-kids.json
  data/patches/gh-1786-new-kids.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-1786-new-kids.json
  data/patches/gh-3254-flag-of-vietnam.json
  data/patches/gh-8e2f-thunderdome.json
  data/patches/gh-a1be-phe-games-logo.json
  data/patches/gh-b71a-bassie-adriaan.json
  data/patches/gh-bcf7-hmu-xpress.json
  data/patches/gh-c476-william-the-silent-of-orange.json
  data/patches/gh-d180-rplace-logo.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/patches/gh-bfe5-koekhappen.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-646b-joint.json
  data/patches/gh-646b-joint.json
Labels: atlas data: patch

Create gh-91b9-man-bijt-hond.json
  data/patches/gh-91b9-man-bijt-hond.json
Labels: atlas data: patch

Create gh-2db5-frog.json
  data/patches/gh-2db5-frog.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-2db5-frog.json
  data/patches/gh-646b-joint.json
  data/patches/gh-91b9-man-bijt-hond.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-98d6-furry_irl-alliance.json
  data/patches/gh-98d6-furry_irl-alliance.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-98d6-furry_irl-alliance.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  tools/extend_entry_times.py
  web/atlas.json
Labels: atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
