Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-b966-littlepip.json
  data/patches/gh-b966-littlepip.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-2679-malaysia.json
  data/patches/gh-2cb6-appa.json
  data/patches/gh-3637-flag-of-portugal.json
  data/patches/gh-4523-dornets-mascot.json
  data/patches/gh-ad01-flag-of-malaysia.json
  data/patches/gh-fd8b-fenin.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create entry "Flag of South Korea (Nordic Refugee)"
  data/patches/gh-3f61-south-korea-postcard.json
  data/patches/gh-c4af-flag-of-south-korea.json
Labels: atlas data: patch

Create gh-ecda-hatsune-miku.json
  data/patches/gh-ecda-hatsune-miku.json
Labels: atlas data: patch

Create gh-5d2b-fenin.json
  data/patches/gh-5d2b-fenin.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-fb30-dragonite-saying-viva-espana.json
  data/patches/gh-fb30-dragonite-saying-viva-espana.json
Labels: atlas data: patch

Updated GH
  data/patches/gh-2028-patriot-ralsei.json
  data/patches/gh-e2c4-carro-de-bomberos.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

add patches
  data/patches/gh-8bcf-reimu-and-miku-saberfighting-at-flappy-birdland-featuring-the-bird-canadian-leaf-and-kyubey.json
  data/patches/gh-d80d-wowaka-powapowa-p-tribute.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-5d2b-fenin.json
  data/patches/gh-fb30-dragonite-saying-viva-espana.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-dbcf-purple-guy.json
  data/patches/gh-dbcf-purple-guy.json
Labels: atlas data: patch

add sakura miku
  data/patches/gh-53e4-sakura-miku.json
Labels: atlas data: patch

Create gh-0b47-pacific-wheel-santa-monica.json
  data/patches/gh-0b47-pacific-wheel-santa-monica.json
Labels: atlas data: patch

Create entry "Flag of South Korea"
  data/patches/gh-d22d-flag-of-south-korea.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-0b47-pacific-wheel-santa-monica.json
  data/patches/gh-53e4-sakura-miku.json
  data/patches/gh-8bcf-reimu-and-miku-saberfighting-at-flappy-birdland-featuring-the-bird-canadian-leaf-and-kyubey.json
  data/patches/gh-d80d-wowaka-powapowa-p-tribute.json
  data/patches/gh-dbcf-purple-guy.json
  data/patches/gh-ecda-hatsune-miku.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit entry 2653 "Flag of South Korea"
  data/patches/gh-b3c4-flag-of-south-korea.json
Labels: atlas data: patch

Update KuryKat (3007) entry
  data/patches/gh-2f69-kurykat.json
Labels: atlas data: patch

add sekai miku and other miku
  data/patches/gh-4f31-hatsune-miku.json
  data/patches/gh-60f4-hatsune-miku-25-ji-project-sekai.json
Labels: atlas data: patch

Create giant-grapu.json
  data/patches/giant-grapu.json
Labels: atlas data: patch

Create gh-0ff3-cowboy-eagle.json
  data/patches/gh-0ff3-cowboy-eagle.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-0ff3-cowboy-eagle.json
  data/patches/gh-2f69-kurykat.json
  data/patches/gh-4f31-hatsune-miku.json
  data/patches/gh-60f4-hatsune-miku-25-ji-project-sekai.json
  data/patches/giant-grapu.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Removed invalid submission
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create flag-of-senegal.json
  data/patches/flag-of-senegal.json
Labels: atlas data: patch

Create wheatley-portal.json
  data/patches/wheatley-portal.json
Labels: atlas data: patch

Create entry for atlas called ibishu-pigeon.json
  data/patches/ibishu-pigeon.json
Labels: atlas data: patch

Create gh-0231-bandera-de-chile.json
  data/patches/gh-0231-bandera-de-chile.json
Labels: atlas data: patch

BTS spring day place
  data/patches/gh-ed87-bts-spring-day.json
Labels: atlas data: patch

Create ben-10-logo.json
  data/patches/ben-10-logo.json
Labels: atlas data: patch

Updated entries
  data/patches/flag-of-senegal.json
  data/patches/gh-0231-bandera-de-chile.json
  data/patches/gh-ed87-bts-spring-day.json
  data/patches/ibishu-pigeon.json
  data/patches/wheatley-portal.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create castle-crashers.json
  data/patches/castle-crashers.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/ben-10-logo.json
  data/patches/castle-crashers.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-17b7-geometry-dash.json
  data/patches/gh-17b7-geometry-dash.json
Labels: atlas data: patch

Create gh-5432-autism-pride-flag-with-infinity-symbol-inside.json
  data/patches/gh-5432-autism-pride-flag-with-infinity-symbol-inside.json
Labels: atlas data: patch

Update gh-5432-autism-pride-flag-with-infinity-symbol-inside.json
  data/patches/gh-5432-autism-pride-flag-with-infinity-symbol-inside.json
Labels: atlas data: patch

Create goomba-super-mario.json
  data/patches/goomba-super-mario.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct
