Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Add 13:30-14:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690119000.png
  web/_img/canvas/main/1690120801.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Initialize atlasDisplay to avoid errors when moving mouse on initialization
  web/_js/main/view.js
Labels: none

Optimize initialization 2
  web/_js/main/main.js
Labels: none

Add header announcement system
  web/_js/config.js
  web/_js/main/main.js
  web/index.html
Labels: none

Revert "Initialize atlasDisplay to avoid errors when moving mouse on initialization"
  web/_js/main/view.js
Labels: none

Add 14:30 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690122601.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-9a61-tct-the-campaign-trail.json
  data/patches/gh-9a61-tct-the-campaign-trail.json
Labels: atlas data: patch

Add 15:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690124401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Edit Lego Minifigure Head
  data/patches/gh-2eb1-lego-minifigure-head.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0092-qwant.json
  data/patches/gh-17f6-dhalucard.json
  data/patches/gh-18c5-miraculous-tales-of-ladybug-cat-noir.json
  data/patches/gh-2eb1-lego-minifigure-head.json
  data/patches/gh-453d-champagne.json
  data/patches/gh-52d6-metropolitan-france.json
  data/patches/gh-64ab-czechia-coa.json
  data/patches/gh-6df5-chest-guardian.json
  data/patches/gh-707d-octoprism.json
  data/patches/gh-7664-kylian-mbappe.json
  data/patches/gh-93b5-railjet.json
  data/patches/gh-9a61-tct-the-campaign-trail.json
  data/patches/gh-9f3e-miraculous-tales-of-ladybug-cat-noir.json
  data/patches/gh-aa7b-sti2d.json
  data/patches/gh-abac-guy-lafleur.json
  data/patches/gh-b29f-charles-aznavour.json
  data/patches/gh-ccf9-kameto.json
  data/patches/petr-pavel.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Added more submissions
  data/patches/gh-2514-simon.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-44ad-black-midi.json
  data/patches/gh-44ad-black-midi.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690126209.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-44ad-black-midi.json
  data/patches/gh-d083-iut-vannes.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Removed invalid entry
  web/atlas.json
Labels: atlas data: direct

Always regenerate atlasDisplay, small refactoring
  web/_js/main/view.js
Labels: none

Added submissions
  data/patches/gh-d083-iut-vannes.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit Murder Drones
  data/patches/gh-5b5a-murder-drones.json
Labels: atlas data: patch

Create gh-84a5-andean-cock-of-the-rock.json
  data/patches/gh-84a5-andean-cock-of-the-rock.json
Labels: atlas data: patch

Create gh-876c-2-football-stars.json
  data/patches/gh-876c-2-football-stars.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-5b5a-murder-drones.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690128046.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Remove duplicate entry #GerVT
  web/atlas.json
Labels: atlas data: direct

Added entries
  web/atlas.json
Labels: atlas data: direct

Create gh-7d7f-renault-twigo-and-peugeot-205.json
  data/patches/gh-7d7f-renault-twigo-and-peugeot-205.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-876c-2-football-stars.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690129822.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-1ea7-lightning-mcqueen.json
  data/patches/gh-1ea7-lightning-mcqueen.json
Labels: atlas data: patch

Create gh-6611-ena.json
  data/patches/gh-6611-ena.json
Labels: atlas data: patch

Create gh-3bd1-inka-cola.json
  data/patches/gh-3bd1-inka-cola.json
Labels: atlas data: patch

Updated entries
  tools/extend_entry_times.py
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690131656.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-1ea7-lightning-mcqueen.json
  data/patches/gh-3bd1-inka-cola.json
  data/patches/gh-6611-ena.json
  data/patches/gh-7d7f-renault-twigo-and-peugeot-205.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-a930-shiny-sylveon.json
  data/patches/gh-a930-shiny-sylveon.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690133431.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-84a5-andean-cock-of-the-rock.json
  data/patches/gh-a930-shiny-sylveon.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690136489.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Extend drawable area
  tools/extend_entry_times.py
  web/_img/canvas/main/1690135205.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
