Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-d49c-blackpink-heart-logo.json
  data/patches/gh-d49c-blackpink-heart-logo.json
Labels: atlas data: patch

Create gh-4890-blackpink.json
  data/patches/gh-4890-blackpink.json
Labels: atlas data: patch

Update gh-5e39-ruhr-universitat-bochum.json
  data/patches/gh-5e39-ruhr-universitat-bochum.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690300848.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-d084-bocchi-mendako.json
  data/patches/gh-d084-bocchi-mendako.json
Labels: atlas data: patch

Create gh-948f-importgenius-lightbulb.json
  data/patches/gh-948f-importgenius-lightbulb.json
Labels: atlas data: patch

Patch Thailand flag
  data/patches/gh-3640-flag-of-thailand.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated Reddit
  data/patches/gh-3640-flag-of-thailand.json
  data/patches/gh-429b-perxitaa-momonkunn-violetag-and-missefe.json
  data/patches/gh-4890-blackpink.json
  data/patches/gh-7209-a-piece-of-cheese.json
  data/patches/gh-8d16-blink-bp-hammer-logo.json
  data/patches/gh-948f-importgenius-lightbulb.json
  data/patches/gh-d084-bocchi-mendako.json
  data/patches/gh-d49c-blackpink-heart-logo.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated GitHub
  data/patches/gh-4a16-blackpink-logo.json
  data/patches/gh-5e39-ruhr-universitat-bochum.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690302635.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create hatsune-miku-head.json
  data/patches/hatsune-miku-head.json
Labels: atlas data: patch

Create gh-5aca-fuck-spez.json
  data/patches/gh-5aca-fuck-spez.json
Labels: atlas data: patch

Create gh-70bc-storm-helmet.json
  data/patches/gh-70bc-storm-helmet.json
Labels: atlas data: patch

Create gh-7494-the-galactic-republic-discord-logo-invite-link.json
  data/patches/gh-7494-the-galactic-republic-discord-logo-invite-link.json
Labels: atlas data: patch

Create gh-daa1-rstarwars_place-lightsaber.json
  data/patches/gh-daa1-rstarwars_place-lightsaber.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690304417.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-5aca-fuck-spez.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-c882-reddark.json
  data/patches/gh-c882-reddark.json
Labels: atlas data: patch

Create drednot.io 1
  data/patches/gh-def9-drednotio.json
Labels: atlas data: patch

Create gh-5c35-carte-vitale.json
  data/patches/gh-5c35-carte-vitale.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-5c35-carte-vitale.json
  data/patches/gh-c882-reddark.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690306259.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-8d67-magpie.json
  data/patches/gh-8d67-magpie.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690308006.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Update Domino + FL Times
  data/patches/gh-3828-domino.json
  data/patches/gh-cd1e-fl-studio.json
Labels: atlas data: patch

Create gh-2a71-eekum-bokum-inugami-korone.json
  data/patches/gh-2a71-eekum-bokum-inugami-korone.json
Labels: atlas data: patch

Create gh-d54a-ens-bocchinoko.json
  data/patches/gh-d54a-ens-bocchinoko.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690309849.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-2a71-eekum-bokum-inugami-korone.json
  data/patches/gh-3828-domino.json
  data/patches/gh-8d67-magpie.json
  data/patches/gh-cd1e-fl-studio.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated GitHub
  data/patches/gh-d54a-ens-bocchinoko.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-a3a6-rstarwars_places-initial-attempted-piece.json
  data/patches/gh-a3a6-rstarwars_places-initial-attempted-piece.json
Labels: atlas data: patch

Create gh-17e9-rstarwars_places-initial-attempted-piece-attempt-2.json
  data/patches/gh-17e9-rstarwars_places-initial-attempted-piece-attempt-2.json
Labels: atlas data: patch

Create gh-ea54-puffle.json
  data/patches/gh-ea54-puffle.json
Labels: atlas data: patch

Patch for "Schkreckl" logo
  data/patches/gh-7d8d-schkreckl.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-7d8d-schkreckl.json
  data/patches/gh-ea54-puffle.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690311634.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-665e-pan.json
  data/patches/gh-665e-pan.json
Labels: atlas data: patch

Create gh-e4c3-rstarwars_place-lightsaber-1.json
  data/patches/gh-e4c3-rstarwars_place-lightsaber-1.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690313420.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct
