Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Adjust updateBackground to solve potential bugs
  web/_css/style.css
  web/_js/main/time.js
Labels: none

Replace gh-282b-states-lion.json
  data/patches/gh-282b-states-lion.json
Labels: atlas data: patch

Create gh-1685-de-nieuws-bv.json
  data/patches/gh-1685-de-nieuws-bv.json
Labels: atlas data: patch

Create gh-e00d-npo-radio-1.json
  data/patches/gh-e00d-npo-radio-1.json
Labels: atlas data: patch

Create gh-0b49-stardew-valley-duck.json
  data/patches/gh-0b49-stardew-valley-duck.json
Labels: atlas data: patch

Edit HMU XPRESS
  data/patches/gh-f238-hmu-xpress.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-0b49-stardew-valley-duck.json
  data/patches/gh-1685-de-nieuws-bv.json
  data/patches/gh-282b-states-lion.json
  data/patches/gh-e00d-npo-radio-1.json
  data/patches/gh-f238-hmu-xpress.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-7f13-captain-rex-helmet.json
  data/patches/gh-7f13-captain-rex-helmet.json
Labels: atlas data: patch

Create gh-3337-comander-cody-helmet.json
  data/patches/gh-3337-comander-cody-helmet.json
Labels: atlas data: patch

Create gh-1fa8-rstarwars_place-finds-refuge.json
  data/patches/gh-1fa8-rstarwars_place-finds-refuge.json
Labels: atlas data: patch

Create gh-e341-darth-vader.json
  data/patches/gh-e341-darth-vader.json
Labels: atlas data: patch

Create gh-34cd-reimu-and-miku-saberfighting-at-flappy-birdland-featuring-the-bird-canadian-leaf-and-kyubey.json
  data/patches/gh-34cd-reimu-and-miku-saberfighting-at-flappy-birdland-featuring-the-bird-canadian-leaf-and-kyubey.json
Labels: atlas data: patch

Create gh-4b7e-tie-fighters-star-wars.json
  data/patches/gh-4b7e-tie-fighters-star-wars.json
Labels: atlas data: patch

Create gh-1409-star-wars-x-wing-starfighter.json
  data/patches/gh-1409-star-wars-x-wing-starfighter.json
Labels: atlas data: patch

Add Kaaklijn
  data/patches/gh-d1cc-kaaklijn.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1409-star-wars-x-wing-starfighter.json
  data/patches/gh-17e9-rstarwars_places-initial-attempted-piece-attempt-2.json
  data/patches/gh-1fa8-rstarwars_place-finds-refuge.json
  data/patches/gh-3337-comander-cody-helmet.json
  data/patches/gh-34cd-reimu-and-miku-saberfighting-at-flappy-birdland-featuring-the-bird-canadian-leaf-and-kyubey.json
  data/patches/gh-4b7e-tie-fighters-star-wars.json
  data/patches/gh-70bc-storm-helmet.json
  data/patches/gh-7494-the-galactic-republic-discord-logo-invite-link.json
  data/patches/gh-7f13-captain-rex-helmet.json
  data/patches/gh-a3a6-rstarwars_places-initial-attempted-piece.json
  data/patches/gh-d1cc-kaaklijn.json
  data/patches/gh-daa1-rstarwars_place-lightsaber.json
  data/patches/gh-e341-darth-vader.json
  data/patches/gh-e4c3-rstarwars_place-lightsaber-1.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-12b5-flags-of-the-dutch-antilles.json
  data/patches/gh-12b5-flags-of-the-dutch-antilles.json
Labels: atlas data: patch

Create gh-d938-mini-skyrim-logo.json
  data/patches/gh-d938-mini-skyrim-logo.json
Labels: atlas data: patch

period fix hmu-xpress
  data/patches/gh-1200-hmu-xpress.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-1200-hmu-xpress.json
  data/patches/gh-12b5-flags-of-the-dutch-antilles.json
  data/patches/gh-d938-mini-skyrim-logo.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

combine multiple entries
  web/atlas.json
Labels: atlas data: direct

Extended entries
  web/atlas.json
Labels: atlas data: direct

combine duplicate entries of Philadelphia Eagles
  web/atlas.json
Labels: atlas data: direct

period fix gh-1562-titlebar-buttons.json
  data/patches/gh-1562-titlebar-buttons.json
Labels: atlas data: patch

fixed path and period of kamikatze
  data/patches/gh-ed2a-kamikatze.json
Labels: atlas data: patch

updated path of fruchtzwergeeis
  data/patches/gh-16d6-fruchtzwergeeis.json
Labels: atlas data: patch

duplicate of 4357
  web/atlas.json
Labels: atlas data: direct

add bowser entry
  data/patches/gh-2a65-bowser.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Edit HMU XPRESS
  data/patches/gh-6a99-hmu-xpress.json
Labels: atlas data: patch

Fix Period for TTTV Ruffy
  data/patches/gh-38b2-tttv-ruffy.json
Labels: atlas data: patch

Fix Period for Pink Spade
  data/patches/gh-7147-pink-spade.json
Labels: atlas data: patch

Change border to Springbok
  data/patches/gh-2519-springbok.json
Labels: atlas data: patch

Fix border of PGOD
  data/patches/gh-19fd-pgod-senor-concha.json
Labels: atlas data: patch

Fix border of PGOD (No.2)
  data/patches/gh-c57a-pgod.json
Labels: atlas data: patch

Fix period and border of Blush
  data/patches/gh-7870-blush.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1562-titlebar-buttons.json
  data/patches/gh-16d6-fruchtzwergeeis.json
  data/patches/gh-19fd-pgod-senor-concha.json
  data/patches/gh-2519-springbok.json
  data/patches/gh-2a65-bowser.json
  data/patches/gh-38b2-tttv-ruffy.json
  data/patches/gh-6a99-hmu-xpress.json
  data/patches/gh-7147-pink-spade.json
  data/patches/gh-7870-blush.json
  data/patches/gh-c57a-pgod.json
  data/patches/gh-ed2a-kamikatze.json
  data/read-ids.txt
  tools/extend_entry_times.py
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Fix error on formatPeriod and getNearestPeriod
  web/_js/main/time.js
Labels: none

Fix wrong link on displayed atlas entry
  web/_js/main/infoblock.js
Labels: none

Fix border for Vagos
  data/patches/gh-28ef-vagos-from-luckyv.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
