Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-f199-aspen-glass-bowl.json
  data/patches/gh-f199-aspen-glass-bowl.json
Labels: atlas data: patch

Create gh-260b-loeki-the-lion.json
  data/patches/gh-260b-loeki-the-lion.json
Labels: atlas data: patch

Create gh-2ad5-skulette-crest.json
  data/patches/gh-2ad5-skulette-crest.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-04e5-inunnguaq.json
  data/patches/gh-304a-canadian-trans-flag.json
  data/patches/gh-5b6a-canadian-poppies.json
  data/patches/gh-6146-canadian-pride-flag.json
  data/patches/gh-656a-tip-stevens-totems.json
  data/patches/gh-692f-german-boy-and-dutch-girl.json
  data/patches/gh-6983-polandball.json
  data/patches/gh-706e-buurman-en-buurman.json
  data/patches/gh-77a5-flag-of-chile.json
  data/patches/gh-ae46-the-mauritshuis.json
  data/patches/gh-b074-estrangeiro.json
  data/patches/gh-b1ae-tip-stevens-totems.json
  data/patches/gh-f199-aspen-glass-bowl.json
  data/patches/gh-fa91-nyan-cat-watching-a-sunflower.json
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-8be9-schuddebuikjes.json
  data/patches/gh-8be9-schuddebuikjes.json
Labels: atlas data: patch

Create gh-4de6-nunl.json
  data/patches/gh-4de6-nunl.json
Labels: atlas data: patch

Create gh-ca9d-blueyes.json
  data/patches/gh-ca9d-blueyes.json
Labels: atlas data: patch

Create gh-6ef6-destiny.json
  data/patches/gh-6ef6-destiny.json
Labels: atlas data: patch

Create gh-987f-new-kids.json
  data/patches/gh-987f-new-kids.json
Labels: atlas data: patch

Create gh-445f-tip-stevens-totem.json
  data/patches/gh-445f-tip-stevens-totem.json
Labels: atlas data: patch

Create gh-e25e-flag-of-sweden.json
  data/patches/gh-e25e-flag-of-sweden.json
Labels: atlas data: patch

Create gh-7ef8-emotiguy.json
  data/patches/gh-7ef8-emotiguy.json
Labels: atlas data: patch

Create gh-7560-tip-stevens-totem.json
  data/patches/gh-7560-tip-stevens-totem.json
Labels: atlas data: patch

Create gh-2425-inabakumori-osage-chan.json
  data/patches/gh-2425-inabakumori-osage-chan.json
Labels: atlas data: patch

Added ran date to -te-land-ter-zee-en-in-de-lucht
  data/patches/gh-7026-te-land-ter-zee-en-in-de-lucht.json
Labels: atlas data: patch

Create gh-d755-romanian-mig-21.json
  data/patches/gh-d755-romanian-mig-21.json
Labels: atlas data: patch

Updated entries
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: direct

Create gh-2828-rubius-and-titi.json
  data/patches/gh-2828-rubius-and-titi.json
Labels: atlas data: patch

Create gh-3eb8-ponces-shadow-flower.json
  data/patches/gh-3eb8-ponces-shadow-flower.json
Labels: atlas data: patch

Create gh-1236-vegas-golden-knights.json
  data/patches/gh-1236-vegas-golden-knights.json
Labels: atlas data: patch

Edit gh-64f5-ed250-pendolino-pkp-intercity-train.json
  data/patches/gh-64f5-ed250-pendolino-pkp-intercity-train.json
Labels: atlas data: patch

Create gh-fb40-flag-of-germany-not-official-sudflagge.json
  data/patches/gh-fb40-flag-of-germany-not-official-sudflagge.json
Labels: atlas data: patch

Edit Flag of Cuba
  data/patches/gh-64bd-flag-of-cuba.json
Labels: atlas data: patch

Create gh-56d2-flag-of-algeria.json
  data/patches/gh-56d2-flag-of-algeria.json
Labels: atlas data: patch

Change atlas.json
  web/atlas.json
Labels: atlas data: direct

Create gh-df4b-league-of-legends-poro.json
  data/patches/gh-df4b-league-of-legends-poro.json
Labels: atlas data: patch

Create gh-9d19-the-scream.json
  data/patches/gh-9d19-the-scream.json
Labels: atlas data: patch

Create gh-2ea8-lance-reddick-memorial-and-destiny-art.json
  data/patches/gh-2ea8-lance-reddick-memorial-and-destiny-art.json
Labels: atlas data: patch

Create gh-ba3e-germany-x-netherlands.json
  data/patches/gh-ba3e-germany-x-netherlands.json
Labels: atlas data: patch

Updated atlas
  data/patches/gh-2425-inabakumori-osage-chan.json
  data/patches/gh-260b-loeki-the-lion.json
  data/patches/gh-2ad5-skulette-crest.json
  data/patches/gh-445f-tip-stevens-totem.json
  data/patches/gh-4de6-nunl.json
  data/patches/gh-6ef6-destiny.json
  data/patches/gh-7026-te-land-ter-zee-en-in-de-lucht.json
  data/patches/gh-7560-tip-stevens-totem.json
  data/patches/gh-7ef8-emotiguy.json
  data/patches/gh-8be9-schuddebuikjes.json
  data/patches/gh-987f-new-kids.json
  data/patches/gh-ca9d-blueyes.json
  data/patches/gh-d755-romanian-mig-21.json
  data/patches/gh-e25e-flag-of-sweden.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/patches/gh-1236-vegas-golden-knights.json
  data/patches/gh-2828-rubius-and-titi.json
  data/patches/gh-2ea8-lance-reddick-memorial-and-destiny-art.json
  data/patches/gh-3eb8-ponces-shadow-flower.json
  data/patches/gh-56d2-flag-of-algeria.json
  data/patches/gh-64bd-flag-of-cuba.json
  data/patches/gh-64f5-ed250-pendolino-pkp-intercity-train.json
  data/patches/gh-9d19-the-scream.json
  data/patches/gh-ba3e-germany-x-netherlands.json
  data/patches/gh-df4b-league-of-legends-poro.json
  data/patches/gh-fb40-flag-of-germany-not-official-sudflagge.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-9f62-quetzalcoatl.json
  data/patches/gh-9f62-quetzalcoatl.json
Labels: atlas data: patch

Create gh-53da-portugal-caralho.json
  data/patches/gh-53da-portugal-caralho.json
Labels: atlas data: patch

Create gh-e530-zeno.json
  data/patches/gh-e530-zeno.json
Labels: atlas data: patch

Create gh-6495-charizard-base-set.json
  data/patches/gh-6495-charizard-base-set.json
Labels: atlas data: patch

Create gardevoir-pokemon.json
  data/patches/gardevoir-pokemon.json
Labels: atlas data: patch

Create gh-7579-matoi-ryuko-kill-la-kill.json
  data/patches/gh-7579-matoi-ryuko-kill-la-kill.json
Labels: atlas data: patch

kurdishcummunity.json
  data/patches/gh-5b23-kurdishcummunity.json
Labels: atlas data: patch

Create gh-7ca5-allay.json
  data/patches/gh-7ca5-allay.json
Labels: atlas data: patch

Create gh-ad06-logo-hochschule-hof-university-of-applied-sciences.json
  data/patches/gh-ad06-logo-hochschule-hof-university-of-applied-sciences.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
