Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Removed dupes
  web/atlas.json
Labels: atlas data: direct

Create gh-bb17-hassan-2-mosque.json
  data/patches/gh-bb17-hassan-2-mosque.json
Labels: atlas data: patch

Create gh-4879-twin-center.json
  data/patches/gh-4879-twin-center.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-7a7a-church-of-the-sacred-hear.json
  data/patches/gh-7a7a-church-of-the-sacred-hear.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690239631.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

1-karate-dojo-norden
  data/patches/gh-5890-1-karate-dojo-norden.json
Labels: atlas data: patch

Create gh-8c20-casa-voyageurs-railway-station.json
  data/patches/gh-8c20-casa-voyageurs-railway-station.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-4687-lion-rampant.json
  data/patches/gh-7ea2-slifer-the-sky-dragon-by-papaplatte.json
  data/patches/gh-ac76-valorant-agents.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690241410.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-5e12-tribute-to-lola.json
  data/patches/gh-5e12-tribute-to-lola.json
Labels: atlas data: patch

Create gh-fd0f-les-restos-du-coeur.json
  data/patches/gh-fd0f-les-restos-du-coeur.json
Labels: atlas data: patch

Create gh-93ab-retrogamingnow-iceberg.json
  data/patches/gh-93ab-retrogamingnow-iceberg.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-4879-twin-center.json
  data/patches/gh-5890-1-karate-dojo-norden.json
  data/patches/gh-5e12-tribute-to-lola.json
  data/patches/gh-7a7a-church-of-the-sacred-hear.json
  data/patches/gh-8c20-casa-voyageurs-railway-station.json
  data/patches/gh-bb17-hassan-2-mosque.json
  data/patches/gh-fd0f-les-restos-du-coeur.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-3405-tribute-to-lola.json
  data/patches/gh-3405-tribute-to-lola.json
Labels: atlas data: patch

Create gh-dea4-charles-de-gaulle.json
  data/patches/gh-dea4-charles-de-gaulle.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-9213-crying-gigachad-yagoo.json
  data/patches/gh-9213-crying-gigachad-yagoo.json
Labels: atlas data: patch

Create gh-a64d-zephra.json
  data/patches/gh-a64d-zephra.json
Labels: atlas data: patch

Create gh-d2cb-rvnx-logo.json
  data/patches/gh-d2cb-rvnx-logo.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690243251.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-fe3d-eekum-bokum-inugami-korone.json
  data/patches/gh-fe3d-eekum-bokum-inugami-korone.json
Labels: atlas data: patch

Create gh-db18-escape-from-tarkov-killas-helmet-and-chk-logo.json
  data/patches/gh-db18-escape-from-tarkov-killas-helmet-and-chk-logo.json
Labels: atlas data: patch

Create gh-8e31-november-2015-paris-attacks.json
  data/patches/gh-8e31-november-2015-paris-attacks.json
Labels: atlas data: patch

Updated submissions
  data/patches/gh-3405-tribute-to-lola.json
  data/patches/gh-9213-crying-gigachad-yagoo.json
  data/patches/gh-93ab-retrogamingnow-iceberg.json
  data/patches/gh-a64d-zephra.json
  data/patches/gh-d2cb-rvnx-logo.json
  data/patches/gh-dea4-charles-de-gaulle.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-663e-olympique-de-marseille.json
  data/patches/gh-663e-olympique-de-marseille.json
Labels: atlas data: patch

Create gh-d930-tgv-001.json
  data/patches/gh-d930-tgv-001.json
Labels: atlas data: patch

Create gh-7c04-shigure-ui-vtuber-and-illustrator.json
  data/patches/gh-7c04-shigure-ui-vtuber-and-illustrator.json
Labels: atlas data: patch

Create xlabit.json
  data/patches/xlabit.json
Labels: atlas data: patch

Updated subreddit and discord link
  data/patches/gh-08a3-flag-of-taiwan.json
Labels: atlas data: patch

Taiwan Independence entry: Updated subreddit and discord link
  data/patches/gh-0b3a-taiwan-independence-flag.json
Labels: atlas data: patch

Create gh-6caf-harfang-des-neiges.json
  data/patches/gh-6caf-harfang-des-neiges.json
Labels: atlas data: patch

Taipei 101: Updated subreddit and discord link
  data/patches/gh-06de-taipei-101.json
Labels: atlas data: patch

Create gh-9f15-kaziukas-the-great.json
  data/patches/gh-9f15-kaziukas-the-great.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-06de-taipei-101.json
  data/patches/gh-08a3-flag-of-taiwan.json
  data/patches/gh-0b3a-taiwan-independence-flag.json
  data/patches/gh-663e-olympique-de-marseille.json
  data/patches/gh-6caf-harfang-des-neiges.json
  data/patches/gh-7c04-shigure-ui-vtuber-and-illustrator.json
  data/patches/gh-8e31-november-2015-paris-attacks.json
  data/patches/gh-d930-tgv-001.json
  data/patches/gh-db18-escape-from-tarkov-killas-helmet-and-chk-logo.json
  data/patches/gh-fe3d-eekum-bokum-inugami-korone.json
  data/patches/xlabit.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690245031.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

New Entry: Taiwan High Speed Rail
  data/patches/gh-bc38-taiwan-high-speed-rail.json
Labels: atlas data: patch

Bravo: Updated subreddit and discord links
  data/patches/gh-7bf8-bravo.json
Labels: atlas data: patch

Create xlabit-vietnam.json
  data/patches/xlabit-vietnam.json
Labels: atlas data: patch

Create gh-9593-westcol.json
  data/patches/gh-9593-westcol.json
Labels: atlas data: patch

Create gh-c129-escape-from-tarkov-killas-helmet-and-chk-logo.json
  data/patches/gh-c129-escape-from-tarkov-killas-helmet-and-chk-logo.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
