Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Updated entries
  data/patches/gh-7928-helvetia.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

UPDATE TIME
  data/patches/gh-d6ff-unified-payments-interface.json
Labels: atlas data: patch

Create gh-ca15-holo-spice-and-wolf.json
  data/patches/gh-ca15-holo-spice-and-wolf.json
Labels: atlas data: patch

Create gh-9c6f-sbb-cff-ffs-logo.json
  data/patches/gh-9c6f-sbb-cff-ffs-logo.json
Labels: atlas data: patch

Create gh-3da3-marisa-kirisame.json
  data/patches/gh-3da3-marisa-kirisame.json
Labels: atlas data: patch

Create gh-b487-reimu-hakurei.json
  data/patches/gh-b487-reimu-hakurei.json
Labels: atlas data: patch

Create gh-51ac-geoguessr-logo.json
  data/patches/gh-51ac-geoguessr-logo.json
Labels: atlas data: patch

Create gh-ee46-2014-fifa-world-cup.json
  data/patches/gh-ee46-2014-fifa-world-cup.json
Labels: atlas data: patch

Create gh-c2d7-lionel-messi.json
  data/patches/gh-c2d7-lionel-messi.json
Labels: atlas data: patch

Create gh-bc44-flag-of-argentina.json
  data/patches/gh-bc44-flag-of-argentina.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690230606.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-9984-10d-drawing.json
  data/patches/gh-9984-10d-drawing.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-3da3-marisa-kirisame.json
  data/patches/gh-51ac-geoguessr-logo.json
  data/patches/gh-9984-10d-drawing.json
  data/patches/gh-9c6f-sbb-cff-ffs-logo.json
  data/patches/gh-b487-reimu-hakurei.json
  data/patches/gh-bc44-flag-of-argentina.json
  data/patches/gh-c2d7-lionel-messi.json
  data/patches/gh-ca15-holo-spice-and-wolf.json
  data/patches/gh-d6ff-unified-payments-interface.json
  data/patches/gh-ee46-2014-fifa-world-cup.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-a02f-yet-another-french-flag.json
  data/patches/gh-a02f-yet-another-french-flag.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Create gh-5365-rolex-logo.json
  data/patches/gh-5365-rolex-logo.json
Labels: atlas data: patch

Create x-wing-fighter.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

Update x-wing-fighter.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

Added entry for the Minetest logo
  data/patches/gh-e598-minetest.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-5365-rolex-logo.json
  data/patches/gh-a02f-yet-another-french-flag.json
  data/patches/gh-e598-minetest.json
  data/patches/gh-f037-star-wars-art.json
  data/patches/x-wing-fighter.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690232446.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-caf1-adiyogi.json
  data/patches/gh-caf1-adiyogi.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Create gh-a306-ramayana-anime.json
  data/patches/gh-a306-ramayana-anime.json
Labels: atlas data: patch

Update x-wing-fighter.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Update x-wing-fighter.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

Update x-wing-fighter.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690234231.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-a306-ramayana-anime.json
  data/patches/gh-caf1-adiyogi.json
  data/patches/gh-f037-star-wars-art.json
  data/patches/star-wars-x-wing-starfighter.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Update Star Wars Art
  data/patches/gh-edf0-star-wars-art.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690236013.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-edf0-star-wars-art.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690237853.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-4687-lion-rampant.json
  data/patches/gh-4687-lion-rampant.json
Labels: atlas data: patch

Red dragon Slifer the Sky Dragon
  data/patches/gh-7ea2-slifer-the-sky-dragon-by-papaplatte.json
Labels: atlas data: patch

Create gh-ac76-valorant-agents.json
  data/patches/gh-ac76-valorant-agents.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
