Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-a24d-white-house.json
  data/patches/gh-a24d-white-house.json
Labels: atlas data: patch

Create gh-b787-paddington.json
  data/patches/gh-b787-paddington.json
Labels: atlas data: patch

Create gh-9f0e-big-ben.json
  data/patches/gh-9f0e-big-ben.json
Labels: atlas data: patch

Create gh-ebd5-alaska-and-other-us-islands.json
  data/patches/gh-ebd5-alaska-and-other-us-islands.json
Labels: atlas data: patch

Add 11:00-11:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690282800.png
  web/_img/canvas/main/1690284600.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-0908-duolingo.json
  data/patches/gh-0908-duolingo.json
Labels: atlas data: patch

Create gh-e4b5-lturepublic.json
  data/patches/gh-e4b5-lturepublic.json
Labels: atlas data: patch

Update gh-0908-duolingo.json
  data/patches/gh-0908-duolingo.json
Labels: atlas data: patch

Fix more entries button to use previous list
  web/_js/main/view.js
Labels: none

Edit 32? Timelapse
  data/patches/gh-bdca-32.json
Labels: atlas data: patch

Add 12:00-12:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690286401.png
  web/_img/canvas/main/1690288201.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Add security-events perms on Qodana
  .github/workflows/qodana.yml
Labels: none

Create gh-6fe2-stegi-and-domo.json
  data/patches/gh-6fe2-stegi-and-domo.json
Labels: atlas data: patch

Added new item with description
  data/patches/gh-ece9-flag-of-india.json
Labels: atlas data: patch

Add 13:00-13:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690290001.png
  web/_img/canvas/main/1690291801.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-0000-lamb-card.json
  data/patches/gh-0000-lamb-card.json
Labels: atlas data: patch

Updated GitHub
  data/patches/gh-0000-lamb-card.json
  data/patches/gh-08d4-blush.json
  data/patches/gh-0908-duolingo.json
  data/patches/gh-2837-blackpink-heart-logo.json
  data/patches/gh-6fe2-stegi-and-domo.json
  data/patches/gh-700f-seattle-seahawks.json
  data/patches/gh-8b83-feastables.json
  data/patches/gh-9a10-takagi-san.json
  data/patches/gh-9aca-breast-cancer-ribbon.json
  data/patches/gh-9f0e-big-ben.json
  data/patches/gh-a24d-white-house.json
  data/patches/gh-b787-paddington.json
  data/patches/gh-bdca-32.json
  data/patches/gh-bf7c-1-karate-dojo-norden.json
  data/patches/gh-d54b-breast-cancer-awareness.json
  data/patches/gh-d729-route-66.json
  data/patches/gh-e4b5-lturepublic.json
  data/patches/gh-ebd5-alaska-and-other-us-islands.json
  data/patches/gh-ece9-flag-of-india.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-f63d-noblezitos-crown.json
  data/patches/gh-f63d-noblezitos-crown.json
Labels: atlas data: patch

Create gh-533a-not-just-bikes-logo.json
  data/patches/gh-533a-not-just-bikes-logo.json
Labels: atlas data: patch

Fix empty period when exporting an entry in default period
  web/_js/main/time.js
Labels: none

Added submissions
  data/read-ids.txt
  tools/extend_entry_times.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  tools/extend_entry_times.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-0000-israel.json
  tools/extend_entry_times.py
  web/_img/canvas/main/1690293657.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Added submissions
  data/patches/gh-533a-not-just-bikes-logo.json
  data/patches/gh-f63d-noblezitos-crown.json
  data/read-ids.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-ff1e-gnu-terry.json
  data/patches/gh-ff1e-gnu-terry.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690295436.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-5be1-neurobell.json
  data/patches/gh-5be1-neurobell.json
Labels: atlas data: patch

Update atlas.json
  web/atlas.json
Labels: atlas data: direct

Create gh-1a3d-ttvspb1703.json
  data/patches/gh-1a3d-ttvspb1703.json
Labels: atlas data: patch

Update gh-1a3d-ttvspb1703.json
  data/patches/gh-1a3d-ttvspb1703.json
Labels: atlas data: patch

Create gh-9298-logo-hochschule-hof-university-of-applied-sciences.json
  data/patches/gh-9298-logo-hochschule-hof-university-of-applied-sciences.json
Labels: atlas data: patch

Create gh-4a16-blackpink-logo.json
  data/patches/gh-4a16-blackpink-logo.json
Labels: atlas data: patch

Create gh-d2a0-blink-bp-hammer-logo.json
  data/patches/gh-d2a0-blink-bp-hammer-logo.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-1a3d-ttvspb1703.json
  data/patches/gh-5be1-neurobell.json
  data/patches/gh-9298-logo-hochschule-hof-university-of-applied-sciences.json
  data/patches/gh-d2a0-blink-bp-hammer-logo.json
  data/patches/gh-ff1e-gnu-terry.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690297219.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-7209-a-piece-of-cheese.json
  data/patches/gh-7209-a-piece-of-cheese.json
Labels: atlas data: patch

Fixed rendering
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690299001.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Add Ruhr-Universitat-Bochum.json
  data/patches/gh-5e39-ruhr-universitat-bochum.json
Labels: atlas data: patch

Create gh-429b-perxitaa-momonkunn-violetag-and-missefe.json
  data/patches/gh-429b-perxitaa-momonkunn-violetag-and-missefe.json
Labels: atlas data: patch

Create gh-8d16-blink-bp-hammer-logo.json
  data/patches/gh-8d16-blink-bp-hammer-logo.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
