Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Updated canvas
  data/patches/gh-7bf8-bravo.json
  data/patches/gh-9593-westcol.json
  data/patches/gh-9f15-kaziukas-the-great.json
  data/patches/gh-bc38-taiwan-high-speed-rail.json
  data/patches/gh-c129-escape-from-tarkov-killas-helmet-and-chk-logo.json
  data/patches/xlabit-vietnam.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690246809.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-fe2a-mini-penis-power.json
  data/patches/gh-fe2a-mini-penis-power.json
Labels: atlas data: patch

Create gh-843c-b1g-acc-logos.json
  data/patches/gh-843c-b1g-acc-logos.json
Labels: atlas data: patch

Remove entry 2208
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/patches/gh-843c-b1g-acc-logos.json
  data/patches/gh-fe2a-mini-penis-power.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690248650.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Avoid duplicate code regarding coords display update
  web/_js/main/draw.js
  web/_js/main/view.js
Labels: none

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690250429.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Avoid duplicate code regarding coords display update 2
  web/_js/main/view.js
Labels: none

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-3081-toothless.json
  data/patches/gh-3081-toothless.json
Labels: atlas data: patch

Create gh-3081-toothless.json
  data/patches/gh-3081-toothless.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690252208.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GitHub
  data/patches/gh-3081-toothless.json
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-4c1e-toothless.json
  data/patches/gh-4c1e-toothless.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690254051.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Remove duplicate Eiffel Tower
  web/atlas.json
Labels: atlas data: direct

Update RIP Miura
  data/patches/gh-2a5d-rip-miura.json
Labels: atlas data: patch

Update The Lurch of Us
  data/patches/gh-9cb0-the-lurch-of-us.json
Labels: atlas data: patch

Update Reimari Artwork
  data/patches/gh-34ad-reimari-artwork.json
Labels: atlas data: patch

Remove Reimari Bad Apple Art as duplicate
  web/atlas.json
Labels: atlas data: direct

Create Black MIDI Locations
  data/patches/gh-756a-black-midi.json
Labels: atlas data: patch

Update Valorant Agents
  data/patches/gh-2406-valorant-agents.json
Labels: atlas data: patch

Create gh-d649-perxitaa-momonkunn-violetag-and-missefe.json
  data/patches/gh-d649-perxitaa-momonkunn-violetag-and-missefe.json
Labels: atlas data: patch

Update Raupe Nimmersatt
  data/patches/gh-b2b6-raupe-nimmersatt.json
Labels: atlas data: patch

Update The 5 Stars
  data/patches/gh-bc33-the-5-stars.json
Labels: atlas data: patch

Create gh-ef7d-penguin-zone.json
  data/patches/gh-ef7d-penguin-zone.json
Labels: atlas data: patch

Update Fuleco
  data/patches/gh-4759-fuleco.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-4c1e-toothless.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated GitHub
  data/patches/gh-2406-valorant-agents.json
  data/patches/gh-2a5d-rip-miura.json
  data/patches/gh-34ad-reimari-artwork.json
  data/patches/gh-4759-fuleco.json
  data/patches/gh-756a-black-midi.json
  data/patches/gh-9cb0-the-lurch-of-us.json
  data/patches/gh-b2b6-raupe-nimmersatt.json
  data/patches/gh-bc33-the-5-stars.json
  data/patches/gh-ef7d-penguin-zone.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690255830.png
  web/_js/config.js
Labels: none

Updated Reddit
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Update Joy Boy
  data/patches/gh-f26d-joy-boy.json
Labels: atlas data: patch

Update Bad Apple!!! (Music Video)
  data/patches/gh-cc6d-bad-apple-music-video.json
Labels: atlas data: patch

Update 4er Kaktus (4 Block Cactus)
  data/patches/gh-a5f6-4er-kaktus-4-block-cactus.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/patches/gh-a5f6-4er-kaktus-4-block-cactus.json
  data/patches/gh-cc6d-bad-apple-music-video.json
  data/patches/gh-d649-perxitaa-momonkunn-violetag-and-missefe.json
  data/patches/gh-f26d-joy-boy.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690257608.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Add FL Studio
  data/patches/gh-3ca8-fl-studio.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
