Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-d467-okami.json
  data/patches/gh-d467-okami.json
Labels: atlas data: patch

Create gh-4bdf-schuddebuikjes.json
  data/patches/gh-4bdf-schuddebuikjes.json
Labels: atlas data: patch

Create gh-0ef1-nessie-apex-legends.json
  data/patches/gh-0ef1-nessie-apex-legends.json
Labels: atlas data: patch

Create gh-9efa-minesweeper-community.json
  data/patches/gh-9efa-minesweeper-community.json
Labels: atlas data: patch

Create gh-81cb-stardew-valley-duck.json
  data/patches/gh-81cb-stardew-valley-duck.json
Labels: atlas data: patch

fixed time range
  data/patches/gh-031a-nessie-apex-legends.json
  data/patches/gh-0ef1-nessie-apex-legends.json
Labels: atlas data: patch

Create gh-b163-duck-stardew-valley.json
  data/patches/gh-b163-duck-stardew-valley.json
Labels: atlas data: patch

Create gh-3dd5-fech-the-ferret.json
  data/patches/gh-3dd5-fech-the-ferret.json
Labels: atlas data: patch

Create gh-e582-okami-fech-the-ferret.json
  data/patches/gh-e582-okami-fech-the-ferret.json
Labels: atlas data: patch

Create gh-28f2-killer-sans-something-new.json
  data/patches/gh-28f2-killer-sans-something-new.json
Labels: atlas data: patch

Create gh-1f3e-flag-of-portugal.json
  data/patches/gh-1f3e-flag-of-portugal.json
Labels: atlas data: patch

Create gh-4bb4-delta-cafes.json
  data/patches/gh-4bb4-delta-cafes.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-2b90-singapore-sri-lanka-bolivia-tri-heart.json
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/patches/gh-0179-ddnet.json
  data/patches/gh-031a-nessie-apex-legends.json
  data/patches/gh-0396-hungarian-grey.json
  data/patches/gh-1f3e-flag-of-portugal.json
  data/patches/gh-2b14-singapore-bolivia-hearts.json
  data/patches/gh-3ab8-super-mario.json
  data/patches/gh-3dd5-fech-the-ferret.json
  data/patches/gh-42df-bsz-wiesau.json
  data/patches/gh-4bb4-delta-cafes.json
  data/patches/gh-4bdf-schuddebuikjes.json
  data/patches/gh-59da-mlp-wipe-counter.json
  data/patches/gh-5a3a-crescent-moon-and-stars-of-singapore.json
  data/patches/gh-73d5-blackjack.json
  data/patches/gh-7438-singapore-flyer.json
  data/patches/gh-7761-tokino-sora-holding-a-heart.json
  data/patches/gh-81cb-stardew-valley-duck.json
  data/patches/gh-84a7-ranimaljam-butterfly.json
  data/patches/gh-87ae-artscience-museum-of-singapore.json
  data/patches/gh-95c0-mass-rapid-transit.json
  data/patches/gh-9efa-minesweeper-community.json
  data/patches/gh-a75f-fernsudflaggen-the-work-of-bernd-the-brothanos.json
  data/patches/gh-a882-bus-of-sbs-transit.json
  data/patches/gh-ab37-mochidoru-suisei.json
  data/patches/gh-ae9e-boost-for-reddit-on-the-taskbar.json
  data/patches/gh-b163-duck-stardew-valley.json
  data/patches/gh-b1e9-sphere.json
  data/patches/gh-c3a4-condorito.json
  data/patches/gh-d06a-techpack.json
  data/patches/gh-d467-okami.json
  data/patches/gh-e30f-mini-perry-the-platypus.json
  data/patches/gh-e582-okami-fech-the-ferret.json
  data/patches/gh-ec51-autopech-car-breakdown.json
  data/patches/gh-eef9-wall-e-and-eve.json
  data/patches/gh-fbc5-neco-arc-germany-flag-extension-of-the-middle.json
  data/patches/gh-fc7e-fancy-duck-x-uwu-bird-x-birds-arent-real.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-3050-rosuplace-vista-button.json
  data/patches/gh-3050-rosuplace-vista-button.json
Labels: atlas data: patch

Create gh-46dc-belgium-beer-duvel.json
  data/patches/gh-46dc-belgium-beer-duvel.json
Labels: atlas data: patch

Readd marking of removed entries
  web/_js/main/main.js
Labels: none

Edit artwork of Singapore
  data/patches/gh-47b1-artwork-of-singapore.json
Labels: atlas data: patch

Refactoring
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-47a2-blasphemous.json
  data/patches/gh-47a2-blasphemous.json
Labels: atlas data: patch

Edit PierreShow
  data/patches/gh-7c4d-pierreshow-logo.json
Labels: atlas data: patch

Create gh-722f-getonmylvl.json
  data/patches/gh-722f-getonmylvl.json
Labels: atlas data: patch

Refactoring again
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/_js/main/time.js
  web/_js/main/view.js
Labels: none

Create gh-b85e-me-and-you.json
  data/patches/gh-b85e-me-and-you.json
Labels: atlas data: patch

Edit Top Hat Duck
  data/patches/gh-90d8-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Create gh-fd46-printful.json
  data/patches/gh-fd46-printful.json
Labels: atlas data: patch

Create gh-4dbc-pastel-de-nata.json
  data/patches/gh-4dbc-pastel-de-nata.json
Labels: atlas data: patch

Create gh-e1b4-amalia-rodrigues-and-fado.json
  data/patches/gh-e1b4-amalia-rodrigues-and-fado.json
Labels: atlas data: patch

Create gh-403f-eusebio-ferreira.json
  data/patches/gh-403f-eusebio-ferreira.json
Labels: atlas data: patch

Create gh-73e9-nazare-waves.json
  data/patches/gh-73e9-nazare-waves.json
Labels: atlas data: patch

Create gh-7c8e-padrao.json
  data/patches/gh-7c8e-padrao.json
Labels: atlas data: patch

add 3men1couch.json
  data/patches/gh-a599-3men1couch.json
Labels: atlas data: patch

Edit gh-f84b-fuck-spez.json to include more communities involved
  data/patches/gh-f84b-fuck-spez.json
Labels: atlas data: patch

Create gh-510b-flag-of-portugal.json
  data/patches/gh-510b-flag-of-portugal.json
Labels: atlas data: patch

updated the wording in the description to be better
  data/patches/gh-f84b-fuck-spez.json
Labels: atlas data: patch

Update Yae Miko (fox form)
  data/patches/gh-3530-yae-miko-fox-form.json
Labels: atlas data: patch

Create gh-b440-grazer-uhrturm.json
  data/patches/gh-b440-grazer-uhrturm.json
Labels: atlas data: patch

Create gh-e099-blackjack.json
  data/patches/gh-e099-blackjack.json
Labels: atlas data: patch

Create gh-fedd-fiat-126p-maluch.json
  data/patches/gh-fedd-fiat-126p-maluch.json
Labels: atlas data: patch
