Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690158630.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GitHub
  data/patches/gh-3c70-hitori-bocchi.json
  data/patches/gh-d9aa-holo-spice-and-wolf.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690160406.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-253c-holo-spice-and-wolf.json
  data/patches/gh-253c-holo-spice-and-wolf.json
Labels: atlas data: patch

add the nebula link to the show like the shinkinson
  data/patches/gh-c236-jet-lag-the-game.json
Labels: atlas data: patch

Blue Corner
  data/patches/gh-90ef-the-blue-corner.json
Labels: atlas data: patch

Update gh-90ef-the-blue-corner.json
  data/patches/gh-90ef-the-blue-corner.json
Labels: atlas data: patch

Edit gh-c1b8-holo-spice-and-wolf.json
  data/patches/gh-c1b8-holo-spice-and-wolf.json
Labels: atlas data: patch

Indian Train Coach.json
  data/patches/gh-903c-indian-train-coach.json
Labels: atlas data: patch

Update author gh-c1b8-holo-spice-and-wolf.json
  data/patches/gh-c1b8-holo-spice-and-wolf.json
Labels: atlas data: patch

Create gh-eaa6-monkaw.json
  data/patches/gh-eaa6-monkaw.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690162244.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-0975-vande-bharat-express.json
  data/patches/gh-0975-vande-bharat-express.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-903c-indian-train-coach.json
  data/patches/gh-90ef-the-blue-corner.json
  data/patches/gh-c236-jet-lag-the-game.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-a7c7-karl-lauterbach.json
  data/patches/gh-a7c7-karl-lauterbach.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690164023.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-d81f-power.json
  data/patches/gh-d81f-power.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0975-vande-bharat-express.json
  data/patches/gh-a7c7-karl-lauterbach.json
  data/patches/gh-eaa6-monkaw.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-b9ff-arc-de-triomphe.json
  data/patches/gh-b9ff-arc-de-triomphe.json
Labels: atlas data: patch

Create gh-40e2-factorio-cracktorio.json
  data/patches/gh-40e2-factorio-cracktorio.json
Labels: atlas data: patch

Create gh-cabd-olympia-logo.json
  data/patches/gh-cabd-olympia-logo.json
Labels: atlas data: patch

Create gh-e916-1up-graffity-on-tgv.json
  data/patches/gh-e916-1up-graffity-on-tgv.json
Labels: atlas data: patch

Create gh-ba30-eiffel-tower.json
  data/patches/gh-ba30-eiffel-tower.json
Labels: atlas data: patch

Create gh-c4fc-mission-erde-logo.json
  data/patches/gh-c4fc-mission-erde-logo.json
Labels: atlas data: patch

Updated entries
  web/_img/canvas/main/1690163961.png
  web/_img/canvas/main/1690164023.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690165855.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-40e2-factorio-cracktorio.json
  data/patches/gh-b9ff-arc-de-triomphe.json
  data/patches/gh-ba30-eiffel-tower.json
  data/patches/gh-c4fc-mission-erde-logo.json
  data/patches/gh-cabd-olympia-logo.json
  data/patches/gh-e916-1up-graffity-on-tgv.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690167631.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-253c-holo-spice-and-wolf.json
  data/patches/gh-d81f-power.json
  data/patches/gh-de31-monster-hunter.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Replace Scaevolus' canvas with fixed ones
  web/_img/canvas/main/1690011000.png
  web/_img/canvas/main/1690011000_1.png
  web/_img/canvas/main/1690012800.png
  web/_img/canvas/main/1690012800_1.png
  web/_js/config.js
Labels: none

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690169408.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Update "Oshi no Ko" paths
  data/patches/gh-bb0b-oshi-no-ko.json
Labels: atlas data: patch

Improve slug generation
  tools/create_patch.py
Labels: none

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690171245.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Add Twitter meta tags
  web/index.html
Labels: none

Add Twitter meta tags 2
  web/index.html
Labels: none
