Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-4187-flag-of-lebanon.json
  data/patches/gh-4187-flag-of-lebanon.json
Labels: atlas data: patch

Create gh-8457-stardew-valley-blue-discus.json
  data/patches/gh-8457-stardew-valley-blue-discus.json
Labels: atlas data: patch

Create gh-3d41-stardew-valley-crab.json
  data/patches/gh-3d41-stardew-valley-crab.json
Labels: atlas data: patch

Create gh-fb9c-the-sun.json
  data/patches/gh-fb9c-the-sun.json
Labels: atlas data: patch

update time boundry
  data/patches/gh-fb9c-the-sun.json
Labels: atlas data: patch

Create Added Niko from OneShot
  data/patches/Added Niko from OneShot
Labels: atlas data: patch

Create gh-a925-valxntinaa1-and-kiitsuha-pig.json
  data/patches/gh-a925-valxntinaa1-and-kiitsuha-pig.json
Labels: atlas data: patch

Patch wolverine description to link to johan_speak and declare solidarity with Black Company
  data/patches/gh-0c54-university-of-michigan-wolverine-and-friends.json
Labels: atlas data: patch

Update Michigan M plot description with solidarity and score explanation
  data/patches/gh-180d-university-of-michigan.json
Labels: atlas data: patch

Create gh-1e8a-destinygg.json
  data/patches/gh-1e8a-destinygg.json
Labels: atlas data: patch

Create gh-d8d9-south-park.json
  data/patches/gh-d8d9-south-park.json
Labels: atlas data: patch

Create gh-853c-waldo.json
  data/patches/gh-853c-waldo.json
Labels: atlas data: patch

Create gh-f167-a-small-version-of-ame-chan-holding-the-dutch-flag-from-needy-streamer-overload.json
  data/patches/gh-f167-a-small-version-of-ame-chan-holding-the-dutch-flag-from-needy-streamer-overload.json
Labels: atlas data: patch

Create gh-338c-aphex-twin-logo.json
  data/patches/gh-338c-aphex-twin-logo.json
Labels: atlas data: patch

Create gh-c316-the-ballad-of-hamantha.json
  data/patches/gh-c316-the-ballad-of-hamantha.json
Labels: atlas data: patch

Create gh-12b4-jenny-wakeman-mlaatr-20th-anniversary.json
  data/patches/gh-12b4-jenny-wakeman-mlaatr-20th-anniversary.json
Labels: atlas data: patch

Create gh-ff01-pink-floyd-the-dark-side-of-the-moon.json
  data/patches/gh-ff01-pink-floyd-the-dark-side-of-the-moon.json
Labels: atlas data: patch

Create gh-4a1b-fnaf-corner.json
  data/patches/gh-4a1b-fnaf-corner.json
Labels: atlas data: patch

Create gh-6f01-arona-blue-archive.json
  data/patches/gh-6f01-arona-blue-archive.json
Labels: atlas data: patch

Update gh-f167-a-small-version-of-ame-chan-holding-the-dutch-flag-from-needy-streamer-overload.json
  data/patches/gh-f167-a-small-version-of-ame-chan-holding-the-dutch-flag-from-needy-streamer-overload.json
Labels: atlas data: patch

Create gh-d1bf-cube-houses.json
  data/patches/gh-d1bf-cube-houses.json
Labels: atlas data: patch

Create gh-ebb5-kazakhstan.json
  data/patches/gh-ebb5-kazakhstan.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-4d18-savesoil.json
  data/patches/gh-4d18-savesoil.json
Labels: atlas data: patch

Create gh-5c8a-royal-palace-of-amsterdam.json
  data/patches/gh-5c8a-royal-palace-of-amsterdam.json
Labels: atlas data: patch

Create gh-77a5-flag-of-chile.json
  data/patches/gh-77a5-flag-of-chile.json
Labels: atlas data: patch

Create gh-6146-canadian-pride-flag.json
  data/patches/gh-6146-canadian-pride-flag.json
Labels: atlas data: patch

Create gh-304a-canadian-trans-flag.json
  data/patches/gh-304a-canadian-trans-flag.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-0641-kirby.json
  data/patches/gh-12b4-jenny-wakeman-mlaatr-20th-anniversary.json
  data/patches/gh-1e8a-destinygg.json
  data/patches/gh-2771-sunfish.json
  data/patches/gh-338c-aphex-twin-logo.json
  data/patches/gh-4a1b-fnaf-corner.json
  data/patches/gh-4d18-savesoil.json
  data/patches/gh-5c8a-royal-palace-of-amsterdam.json
  data/patches/gh-6f01-arona-blue-archive.json
  data/patches/gh-75c6-biyoo.json
  data/patches/gh-7ff6-omniscient-readers-viewpoint.json
  data/patches/gh-853c-waldo.json
  data/patches/gh-a370-kim-dokja-and-yoo-joonghyuk.json
  data/patches/gh-ac5a-uriel.json
  data/patches/gh-ba1d-kim-dokja.json
  data/patches/gh-c316-the-ballad-of-hamantha.json
  data/patches/gh-d1bf-cube-houses.json
  data/patches/gh-d8d9-south-park.json
  data/patches/gh-ebb5-kazakhstan.json
  data/patches/gh-f167-a-small-version-of-ame-chan-holding-the-dutch-flag-from-needy-streamer-overload.json
  data/patches/gh-ff01-pink-floyd-the-dark-side-of-the-moon.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-6983-polandball.json
  data/patches/gh-6983-polandball.json
Labels: atlas data: patch

Create gh-04e5-inunnguaq.json
  data/patches/gh-04e5-inunnguaq.json
Labels: atlas data: patch

Create gh-5b6a-canadian-poppies.json
  data/patches/gh-5b6a-canadian-poppies.json
Labels: atlas data: patch

Create gh-692f-german-boy-and-dutch-girl.json
  data/patches/gh-692f-german-boy-and-dutch-girl.json
Labels: atlas data: patch

Create gh-656a-tip-stevens-totems.json
  data/patches/gh-656a-tip-stevens-totems.json
Labels: atlas data: patch

Create gh-b074-estrangeiro.json
  data/patches/gh-b074-estrangeiro.json
Labels: atlas data: patch

Create gh-b1ae-tip-stevens-totems.json
  data/patches/gh-b1ae-tip-stevens-totems.json
Labels: atlas data: patch

Create gh-fa91-nyan-cat-watching-a-sunflower.json
  data/patches/gh-fa91-nyan-cat-watching-a-sunflower.json
Labels: atlas data: patch

Added warning for controversial entries
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: direct

Create gh-ae46-the-mauritshuis.json
  data/patches/gh-ae46-the-mauritshuis.json
Labels: atlas data: patch

Create gh-706e-buurman-en-buurman.json
  data/patches/gh-706e-buurman-en-buurman.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
