Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-f477-fedditde.json
  data/patches/gh-f477-fedditde.json
Labels: atlas data: patch

Create gh-f5b3-ingress.json
  data/patches/gh-f5b3-ingress.json
Labels: atlas data: patch

Create gh-2f42-ingress.json
  data/patches/gh-2f42-ingress.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690214404.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-37eb-black-midi.json
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Added submissions
  data/patches/gh-2f42-ingress.json
  data/patches/gh-f477-fedditde.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690216249.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Update contributing guide for clarity
  CONTRIBUTING.md
Labels: none

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690218028.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-f297-windows-7-taskbar.json
  data/patches/gh-f297-windows-7-taskbar.json
Labels: atlas data: patch

Create gh-9651-flag-of-the-romani.json
  data/patches/gh-9651-flag-of-the-romani.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-9651-flag-of-the-romani.json
  data/patches/gh-f297-windows-7-taskbar.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690219804.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Removed duplicate entry
  web/atlas.json
Labels: atlas data: direct

Extended entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690221610.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-23a9-hypixel-h.json
  data/patches/gh-23a9-hypixel-h.json
Labels: atlas data: patch

Create gh-8afc-blink-bp-hammer-logo.json
  data/patches/gh-8afc-blink-bp-hammer-logo.json
Labels: atlas data: patch

Create gh-2e9e-blackpink-logo.json
  data/patches/gh-2e9e-blackpink-logo.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690223452.png
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-23a9-hypixel-h.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated canvas
  web/_js/config.js
Labels: none

Create gh-cd24-blackpink-heart-logo.json
  data/patches/gh-cd24-blackpink-heart-logo.json
Labels: atlas data: patch

Create gh-c6a2-mrwissen2go.json
  data/patches/gh-c6a2-mrwissen2go.json
Labels: atlas data: patch

Create gh-ab56-anarchist-flag.json
  data/patches/gh-ab56-anarchist-flag.json
Labels: atlas data: patch

Create gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690225253.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-2e9e-blackpink-logo.json
  data/patches/gh-8afc-blink-bp-hammer-logo.json
  data/patches/gh-ab56-anarchist-flag.json
  data/patches/gh-cd24-blackpink-heart-logo.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Create gh-4909-star-wars-x-wing-starfighter.json
  data/patches/gh-4909-star-wars-x-wing-starfighter.json
Labels: atlas data: patch

Create gh-d54e-star-wars-x-wing-starfighter.json
  data/patches/gh-d54e-star-wars-x-wing-starfighter.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690227039.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Adding helvetia in swiss flag
  data/patches/gh-7928-helvetia.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Create gh-eb64-swiss-broadcasting-corporation-ssr.json
  data/patches/gh-eb64-swiss-broadcasting-corporation-ssr.json
Labels: atlas data: patch

Update gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

Create star-wars-x-wing-starfighter.json
  data/patches/star-wars-x-wing-starfighter.json
Labels: atlas data: patch

Create gh-9fad-rolex-logo.json
  data/patches/gh-9fad-rolex-logo.json
Labels: atlas data: patch

Create gh-dc73-edelweiss.json
  data/patches/gh-dc73-edelweiss.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-9fad-rolex-logo.json
  data/patches/gh-dc73-edelweiss.json
  data/patches/gh-eb64-swiss-broadcasting-corporation-ssr.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690228827.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
