Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create rplace-doctor-who-alliance.json
  data/patches/rplace-doctor-who-alliance.json
Labels: atlas data: patch

Create gh-b564-gege-circle.json
  data/patches/gh-b564-gege-circle.json
Labels: atlas data: patch

Rachid.json
  data/patches/rachid.json
Labels: atlas data: patch

Adjusted borders
  data/patches/gh-021x-drednotio-0.json
Labels: atlas data: patch

Adjusted borders
  data/patches/gh-042d-drednotio-2.json
Labels: atlas data: patch

Fixed typo in description
  data/patches/gh-def9-drednotio-1.json
Labels: atlas data: patch

Create gh-b70f-effzeh.json
  data/patches/gh-b70f-effzeh.json
Labels: atlas data: patch

Create gh-7b6c-serpias-emu.json
  data/patches/gh-7b6c-serpias-emu.json
Labels: atlas data: patch

algeria-martyrs-memorial.json
  data/patches/gh-4a95-martyrs-memorial.json
Labels: atlas data: patch

Updated entries
  data/patches/33
  data/patches/gh-427f-dig-dug.json
  data/patches/gh-47b8-jermathing20.json
  data/patches/gh-5121-jermathing.json
  data/patches/gh-5186-napoleon-flag-rnapoleonfr.json
  data/patches/gh-5b98-ddnet.json
  data/patches/gh-81b9-barbie-logo.json
  data/patches/gh-a121-tako-of-the-void.json
  data/patches/gh-ac5d-a-trash-that-burns.json
  data/patches/gh-b564-gege-circle.json
  data/patches/rplace-doctor-who-alliance.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-a489-spycrab.json
  data/patches/gh-a489-spycrab.json
Labels: atlas data: patch

Fixed link
  web/atlas.json
Labels: atlas data: direct

Create gh-ab37-la-boulangerie-mc.json
  data/patches/gh-ab37-la-boulangerie-mc.json
Labels: atlas data: patch

Create gh-63a1-serpias-otori.json
  data/patches/gh-63a1-serpias-otori.json
Labels: atlas data: patch

Create gh-3c85-la-boulangerie-mc.json
  data/patches/gh-3c85-la-boulangerie-mc.json
Labels: atlas data: patch

Adjusted borders
  data/patches/gh-0c44-drednotio-swiss.json
Labels: atlas data: patch

Create gh-57bd-germany-x-netherlands.json
  data/patches/gh-57bd-germany-x-netherlands.json
Labels: atlas data: patch

Updated atlas
  data/patches/gh-7d2f-mudkip.json
  data/patches/gh-a489-spycrab.json
  data/patches/gh-b70f-effzeh.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-85d8-assassin-brotherhood.json
  data/patches/gh-85d8-assassin-brotherhood.json
Labels: atlas data: patch

Updated atlas
  web/atlas.json
Labels: atlas data: direct

Changed "StarEnd" to "StartEnd"
  data/patches/gh-706f-tokoyami-towa-hololive.json
Labels: atlas data: patch

Extend true-final-only entries to official final
  tools/extend_entry_times.py
  web/atlas.json
Labels: atlas data: direct

Create gh-b7e9-capitan-gato.json
  data/patches/gh-b7e9-capitan-gato.json
Labels: atlas data: patch

Create gh-5ec4-effzeh.json
  data/patches/gh-5ec4-effzeh.json
Labels: atlas data: patch

Create gh-7639-ttvjesusavgn.json
  data/patches/gh-7639-ttvjesusavgn.json
Labels: atlas data: patch

Create gh-c7c9-bernd-das-brothanos.json
  data/patches/gh-c7c9-bernd-das-brothanos.json
Labels: atlas data: patch

Create gh-0b73-tiny-landscape.json
  data/patches/gh-0b73-tiny-landscape.json
Labels: atlas data: patch

Create gh-e932-flag-of-mexico.json
  data/patches/gh-e932-flag-of-mexico.json
Labels: atlas data: patch

Create gh-c808-axolotl.json
  data/patches/gh-c808-axolotl.json
Labels: atlas data: patch

Create gh-fa4b-monarch-butterfly.json
  data/patches/gh-fa4b-monarch-butterfly.json
Labels: atlas data: patch

Create gh-efe3-ena.json
  data/patches/gh-efe3-ena.json
Labels: atlas data: patch

Create gh-0d5f-plankton.json
  data/patches/gh-0d5f-plankton.json
Labels: atlas data: patch

Create gh-48e0-machu-picchu.json
  data/patches/gh-48e0-machu-picchu.json
Labels: atlas data: patch

Create eric-cartman-south-park.json
  data/patches/eric-cartman-south-park.json
Labels: atlas data: patch

Create gh-92d1-jermathing20.json
  data/patches/gh-92d1-jermathing20.json
Labels: atlas data: patch

Create gh-2559-jermathing.json
  data/patches/gh-2559-jermathing.json
Labels: atlas data: patch

Create gh-a438-a-flag-of-lithuania.json
  data/patches/gh-a438-a-flag-of-lithuania.json
Labels: atlas data: patch

Create gh-2a76-kirby-kuromi.json
  data/patches/gh-2a76-kirby-kuromi.json
Labels: atlas data: patch

Create-esc-heart-with-swedish-flag.json
  data/patches/gh-e535-esc-heart-with-swedish-flag.json
Labels: atlas data: patch

Create gh-2314-a-cross.json
  data/patches/gh-2314-a-cross.json
Labels: atlas data: patch
