Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Create gh-fcc0-discord-server-azgeda.json
  data/patches/gh-fcc0-discord-server-azgeda.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-665e-pan.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-f972-kiwyxtreme.json
  data/patches/gh-f972-kiwyxtreme.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690314280.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GitHub
  data/patches/gh-f972-kiwyxtreme.json
  data/patches/gh-fcc0-discord-server-azgeda.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-1428-windows-96-logo.json
  data/patches/gh-1428-windows-96-logo.json
Labels: atlas data: patch

Create gh-feee-aerg-dis-prism-alliance.json
  data/patches/gh-feee-aerg-dis-prism-alliance.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Patch gh-0a5c-puffle.json
  data/patches/gh-0a5c-puffle.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-1428-windows-96-logo.json
  data/patches/gh-feee-aerg-dis-prism-alliance.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-1655-aleksib.json
  data/patches/gh-1655-aleksib.json
Labels: atlas data: patch

Create gh-7663-logo-historique-fc-nantes.json
  data/patches/gh-7663-logo-historique-fc-nantes.json
Labels: atlas data: patch

Create nier-2b-and-9s.json
  data/patches/nier-2b-and-9s.json
Labels: atlas data: patch

Create gh-f50e-femboy-flag.json
  data/patches/gh-f50e-femboy-flag.json
Labels: atlas data: patch

Create gh-5143-kurykat.json
  data/patches/gh-5143-kurykat.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-7108-pan.json
  data/patches/gh-7108-pan.json
Labels: atlas data: patch

Create gh-4556-loona.json
  data/patches/gh-4556-loona.json
Labels: atlas data: patch

Create gh-d895-tribute-to-lola-second-iteration.json
  data/patches/gh-d895-tribute-to-lola-second-iteration.json
Labels: atlas data: patch

Create nier-emil.json
  data/patches/nier-emil.json
Labels: atlas data: patch

Create gh-1fe9-kauai.json
  data/patches/gh-1fe9-kauai.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0a5c-puffle.json
  data/patches/gh-1655-aleksib.json
  data/patches/gh-5143-kurykat.json
  data/patches/gh-7108-pan.json
  data/patches/gh-7663-logo-historique-fc-nantes.json
  data/patches/gh-f50e-femboy-flag.json
  data/read-ids.txt
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Set entries back to final canvas
  web/atlas.json
Labels: atlas data: direct

Create gh-d65f-french-cleaning-team.json
  data/patches/gh-d65f-french-cleaning-team.json
Labels: atlas data: patch

Create gh-6c9f-taylor-swift.json
  data/patches/gh-6c9f-taylor-swift.json
Labels: atlas data: patch

Create gh-23f8-evermore.json
  data/patches/gh-23f8-evermore.json
Labels: atlas data: patch

Create gh-f71e-la-region-bretagne.json
  data/patches/gh-f71e-la-region-bretagne.json
Labels: atlas data: patch

Update gh-23f8-evermore.json
  data/patches/gh-23f8-evermore.json
Labels: atlas data: patch

Create gh-9ae6-karma-is-a-cat.json
  data/patches/gh-9ae6-karma-is-a-cat.json
Labels: atlas data: patch

Create nier-2b.json
  data/patches/nier-2b.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-4556-loona.json
  data/patches/gh-d65f-french-cleaning-team.json
  data/patches/gh-d895-tribute-to-lola-second-iteration.json
  data/patches/gh-f71e-la-region-bretagne.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690314219.png
  web/_img/canvas/main/1690314280.png
  web/_img/canvas/main/1690318825.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-6d72-hoppou-foundation-poi.json
  data/patches/gh-6d72-hoppou-foundation-poi.json
Labels: atlas data: patch

Create nier-pod-042.json
  data/patches/nier-pod-042.json
Labels: atlas data: patch

Create gh-3b7d-flag-of-peru.json
  data/patches/gh-3b7d-flag-of-peru.json
Labels: atlas data: patch

Create gh-7be1-99-luftballons.json
  data/patches/gh-7be1-99-luftballons.json
Labels: atlas data: patch

Create gh-1196-green-bay-packers.json
  data/patches/gh-1196-green-bay-packers.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690320611.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-6634-fuck-spez.json
  data/patches/gh-6634-fuck-spez.json
Labels: atlas data: patch

Create gh-4265-austrian-ku.json
  data/patches/gh-4265-austrian-ku.json
Labels: atlas data: patch
