Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Fix period for HSV
  data/patches/gh-a60d-hsv.json
Labels: atlas data: patch

Fix period for HSV (No.2)
  data/patches/gh-5e05-hsv-logo.json
Labels: atlas data: patch

Fix period for Webos
  data/patches/gh-fe00-webos-community.json
Labels: atlas data: patch

Fix period for Community Tv Show
  data/patches/gh-8b17-community-tv-show.json
Labels: atlas data: patch

Create gh-587f-delutaya.json
  data/patches/gh-587f-delutaya.json
Labels: atlas data: patch

Create gh-0621-projekt-melody.json
  data/patches/gh-0621-projekt-melody.json
Labels: atlas data: patch

Create gh-a50b-pompompurin.json
  data/patches/gh-a50b-pompompurin.json
Labels: atlas data: patch

Updated GitHub
  data/patches/gh-0621-projekt-melody.json
  data/patches/gh-28ef-vagos-from-luckyv.json
  data/patches/gh-587f-delutaya.json
  data/patches/gh-5e05-hsv-logo.json
  data/patches/gh-8b17-community-tv-show.json
  data/patches/gh-a50b-pompompurin.json
  data/patches/gh-a60d-hsv.json
  data/patches/gh-fe00-webos-community.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-abd5-lola-daviet.json
  data/patches/gh-abd5-lola-daviet.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-abd5-lola-daviet.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Extended entries
  web/atlas.json
Labels: atlas data: direct

Create gh-142b-something.json
  data/patches/gh-142b-something.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-142b-something.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
Labels: none

Create gh-3687-drawpile.json
  data/patches/gh-3687-drawpile.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-28f2-killer-sans-something-new.json
  data/patches/gh-3687-drawpile.json
  data/read-ids.txt
  web/all-authors.txt
Labels: atlas data: patch

Revert "Merge pull request #1418 from placeAtlas/staging/code"
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/_js/main/main.js
  web/_js/main/overlap.js
  web/_js/main/time.js
  web/_js/main/view.js
  web/about.html
  web/imageOverrides/Put the image overrides in this directory
  web/index.html
Labels: none

Temporarily disable Qodana
  .github/workflows/qodana.yml
Labels: none

Re-enable Qodana upload
  .github/workflows/qodana.yml
Labels: none

Re-enable Qodana
  .github/workflows/qodana.yml
Labels: none

Revert "Revert "Merge pull request #1418 from placeAtlas/staging/code""
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/_js/main/main.js
  web/_js/main/overlap.js
  web/_js/main/time.js
  web/_js/main/view.js
  web/about.html
  web/imageOverrides/Put the image overrides in this directory
  web/index.html
Labels: none

Fix atlas data not updating on draw mode
  web/_js/main/draw.js
Labels: none

Removed Wikipedia warning
  web/index.html
Labels: none

Updated Reddit
  data/read-ids.txt
  web/all-authors.txt
Labels: none

Create gh-8be1-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-8be1-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Create hammer-sickle.json
  data/patches/hammer-sickle.json
Labels: atlas data: patch

Create parappa-parappa-the-rapper.json
  data/patches/parappa-parappa-the-rapper.json
Labels: atlas data: patch

Create pj-berri-parappa-the-rapper.json
  data/patches/pj-berri-parappa-the-rapper.json
Labels: atlas data: patch

Create gh-27d2-black-company.json
  data/patches/gh-27d2-black-company.json
Labels: atlas data: patch

Create gh-1136-programmingdev.json
  data/patches/gh-1136-programmingdev.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-1136-programmingdev.json
  data/patches/gh-27d2-black-company.json
  data/patches/gh-8be1-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/hammer-sickle.json
  data/patches/parappa-parappa-the-rapper.json
  data/patches/pj-berri-parappa-the-rapper.json
  data/read-ids.txt
  web/all-authors.txt
Labels: atlas data: patch

Updated Reddit
  data/read-ids.txt
  web/all-authors.txt
Labels: none

Create gh-083e-vytautas-the-great.json
  data/patches/gh-083e-vytautas-the-great.json
Labels: atlas data: patch

Create gh-7ffb-foxholes-f.json
  data/patches/gh-7ffb-foxholes-f.json
Labels: atlas data: patch

Create gh-5c83-the-red-nose.json
  data/patches/gh-5c83-the-red-nose.json
Labels: atlas data: patch

Create gh-496e-hold-the-line.json
  data/patches/gh-496e-hold-the-line.json
Labels: atlas data: patch

Add Otong & Pakpol
  data/patches/odp.txt
Labels: atlas data: patch

Updated submissions
  data/patches/gh-083e-vytautas-the-great.json
  data/patches/gh-496e-hold-the-line.json
  data/patches/gh-5c83-the-red-nose.json
  data/patches/gh-7ffb-foxholes-f.json
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
Labels: atlas data: patch

Updated Reddit
  data/patches/odp.txt
  data/read-ids.txt
  web/all-authors.txt
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
