Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Add 10:00-10:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690192801.png
  web/_img/canvas/main/1690194601.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-4e8d-roger-federer.json
  data/patches/gh-4e8d-roger-federer.json
Labels: atlas data: patch

Create gh-9878-1000-swiss-franc-bill.json
  data/patches/gh-9878-1000-swiss-franc-bill.json
Labels: atlas data: patch

Create gh-813b-rivella-red-bottle.json
  data/patches/gh-813b-rivella-red-bottle.json
Labels: atlas data: patch

Create gh-0f54-helvetia.json
  data/patches/gh-0f54-helvetia.json
Labels: atlas data: patch

Create gh-1aad-migros-ice-tea-peach.json
  data/patches/gh-1aad-migros-ice-tea-peach.json
Labels: atlas data: patch

Update atlas.json
  web/atlas.json
Labels: atlas data: direct

Create gh-a43c-migros-ice-tea-lemon.json
  data/patches/gh-a43c-migros-ice-tea-lemon.json
Labels: atlas data: patch

missing comma
  web/atlas.json
Labels: atlas data: direct

Update atlas.json
  web/atlas.json
Labels: atlas data: direct

Create gh-5a58-france.json
  data/patches/gh-5a58-france.json
Labels: atlas data: patch

Create gh-b8f0-spyro.json
  data/patches/gh-b8f0-spyro.json
Labels: atlas data: patch

Add 11:00-11:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690196400.png
  web/_img/canvas/main/1690198201.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-8bf5-wolfgang-amadeus-mozart-musician.json
  data/patches/gh-8bf5-wolfgang-amadeus-mozart-musician.json
Labels: atlas data: patch

Create gh-26da-penguin-zone.json
  data/patches/gh-26da-penguin-zone.json
Labels: atlas data: patch

Update Murder Drones
  data/patches/gh-488c-murder-drones.json
Labels: atlas data: patch

Add 12:00-12:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690200001.png
  web/_img/canvas/main/1690201801.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-6df5-2-football-stars.json
  data/patches/gh-6df5-2-football-stars.json
Labels: atlas data: patch

Specify what requirements.txt to cache
  .github/workflows/validate-json.yml
Labels: none

Fix merge_out.py parts regarding ID types
  tools/merge_out.py
Labels: none

Update package-lock.json
  package-lock.json
Labels: none

Formalize numerical IDs
  web/atlas.json
Labels: atlas data: direct

When merging patches, use numeric IDs when possible
  tools/merge_out.py
Labels: none

Add myself on All Contributors, use 4 per row
  .all-contributorsrc
  README.md
Labels: none

Update Enigma do Medo
  data/patches/gh-c147-enigma-do-medo.json
Labels: atlas data: patch

Add 13:00-13:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690203601.png
  web/_img/canvas/main/1690205401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-f069-frakk-the-famous-dog.json
  data/patches/gh-f069-frakk-the-famous-dog.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0934-jet-lag-the-game.json
  data/patches/gh-0f54-helvetia.json
  data/patches/gh-1aad-migros-ice-tea-peach.json
  data/patches/gh-25ba-mefewe-sonic-wave-98.json
  data/patches/gh-26da-penguin-zone.json
  data/patches/gh-45c8-al-boraq.json
  data/patches/gh-488c-murder-drones.json
  data/patches/gh-4e8d-roger-federer.json
  data/patches/gh-5916-hoalid-regragui.json
  data/patches/gh-5a58-france.json
  data/patches/gh-62f4-muse.json
  data/patches/gh-6df5-2-football-stars.json
  data/patches/gh-77de-octoprism.json
  data/patches/gh-813b-rivella-red-bottle.json
  data/patches/gh-8bf5-wolfgang-amadeus-mozart-musician.json
  data/patches/gh-9878-1000-swiss-franc-bill.json
  data/patches/gh-9f4d-resistance-in-ingress.json
  data/patches/gh-a43c-migros-ice-tea-lemon.json
  data/patches/gh-b8f0-spyro.json
  data/patches/gh-c147-enigma-do-medo.json
  data/patches/gh-d48a-bad-apple-music-video.json
  data/patches/gh-e02d-rosuplace-rtouhou.json
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-9bd9-flag-of-austria.json
  data/patches/gh-9bd9-flag-of-austria.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  tools/merge_out.py
  web/_img/canvas/main/1690207226.png
  web/_js/config.js
Labels: none

Added submissions
  data/patches/gh-9bd9-flag-of-austria.json
  data/patches/gh-f069-frakk-the-famous-dog.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-38d4-coat-of-arms-of-south-tyrol.json
  data/patches/gh-38d4-coat-of-arms-of-south-tyrol.json
Labels: atlas data: patch

Create gh-cb52-coat-of-arms-of-bavaria.json
  data/patches/gh-cb52-coat-of-arms-of-bavaria.json
Labels: atlas data: patch

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690209002.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-38d4-coat-of-arms-of-south-tyrol.json
  data/patches/gh-cb52-coat-of-arms-of-bavaria.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-1dcf-spyro.json
  data/patches/gh-1dcf-spyro.json
Labels: atlas data: patch

New location
  data/patches/gh-37eb-black-midi.json
Labels: atlas data: patch

Updated canvas
  data/patches/gh-1dcf-spyro.json
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690210843.png
  web/_img/canvas/main/1690212625.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Added submissions
  data/read-ids.txt
  tools/extend_entry_times.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-3627-ingress.json
  data/patches/gh-3627-ingress.json
Labels: atlas data: patch
