Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Tagging a smaller Technoblade tribute
  data/patches/gh-716f-technoblade.json
Labels: atlas data: patch

Create gh-8a11-king-carl-xvi-gustaf.json
  data/patches/gh-8a11-king-carl-xvi-gustaf.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-b346-go-vegan.json
  data/patches/gh-b346-go-vegan.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-57a2-cyrusr-cyrustwo.json
  data/patches/gh-6a66-unitystation-logo.json
  data/patches/gh-716f-technoblade.json
  data/patches/gh-8a11-king-carl-xvi-gustaf.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Update gh-b346-go-vegan.json
  data/patches/gh-b346-go-vegan.json
Labels: atlas data: patch

Create gh-90ae-mongolmar.json
  data/patches/gh-90ae-mongolmar.json
Labels: atlas data: patch

Create gh-ef28-hassan-2-mosque.json
  data/patches/gh-ef28-hassan-2-mosque.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-90ae-mongolmar.json
  data/patches/gh-b346-go-vegan.json
  data/patches/gh-ef28-hassan-2-mosque.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-ff25-flag-of-portugal.json
  data/patches/gh-ff25-flag-of-portugal.json
Labels: atlas data: patch

Create gh-cf78-eusebio-ferreira.json
  data/patches/gh-cf78-eusebio-ferreira.json
Labels: atlas data: patch

Create gh-ecb2-niagara-falls.json
  data/patches/gh-ecb2-niagara-falls.json
Labels: atlas data: patch

Edit entry 4337 "Flag of South Korea (Nordic Asylum)"
  data/patches/gh-3839-flag-of-south-korea-nordic-asylum.json
Labels: atlas data: patch

Split entry 4418 "Flag of Sweden"
  data/patches/gh-a483-flag-of-sweden.json
  data/patches/gh-b740-flag-of-sweden.json
Labels: atlas data: patch

Edit entry 4305 "South Korea Postcard"
  data/patches/gh-e32c-south-korea-postcard.json
Labels: atlas data: patch

Create gh-c393-megumin-konosuba.json
  data/patches/gh-c393-megumin-konosuba.json
Labels: atlas data: patch

Create gh-1c42-a-cow.json
  data/patches/gh-1c42-a-cow.json
Labels: atlas data: patch

Create gh-b3e7-caralho.json
  data/patches/gh-b3e7-caralho.json
Labels: atlas data: patch

Create gh-232c-rat.json
  data/patches/gh-232c-rat.json
Labels: atlas data: patch

Remove redundant event listener
  web/_js/main/view.js
Labels: none

Updated entries
  data/patches/gh-1c42-a-cow.json
  data/patches/gh-3839-flag-of-south-korea-nordic-asylum.json
  data/patches/gh-a483-flag-of-sweden.json
  data/patches/gh-b3e7-caralho.json
  data/patches/gh-b740-flag-of-sweden.json
  data/patches/gh-e32c-south-korea-postcard.json
  data/patches/gh-ecb2-niagara-falls.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create Add Dead Crewmate
  data/patches/Add Dead Crewmate
Labels: atlas data: patch

Edit Vanilly
  data/patches/Edit Vanilly
Labels: atlas data: patch

Add Peashooter
  data/patches/Add Peashooter
Labels: atlas data: patch

Create gh-fcbd-logo-of-hwa-chong-institution.json
  data/patches/gh-fcbd-logo-of-hwa-chong-institution.json
Labels: atlas data: patch

Edit PierreShow
  data/patches/gh-9914-pierreshow-logo.json
Labels: atlas data: patch

Edit Singapore
  data/patches/gh-6878-artwork-of-singapore.json
Labels: atlas data: patch

Edit Flag of Vietnam (r/placevietnam)
  data/patches/gh-7a90-flag-of-vietnam.json
Labels: atlas data: patch

Flag of Valencian Community
  data/patches/gh-6b12-flag-of-the-valencian-community.json
Labels: atlas data: patch

Create Flag Of Vietnam (Old location)
  data/patches/gh-33e5-flag-of-vietnam.json
Labels: atlas data: patch

Update Flag of Vietnam (r/placevietnam)
  data/patches/gh-7a90-flag-of-vietnam.json
Labels: atlas data: patch

Create gh-dbc8-counter-strike-2-final-canvas.json
  data/patches/gh-dbc8-counter-strike-2-final-canvas.json
Labels: atlas data: patch

Update gh-dbc8-counter-strike-2-final-canvas.json
  data/patches/gh-dbc8-counter-strike-2-final-canvas.json
Labels: atlas data: patch

Create gh-f8d1-azerbaijan-democratic-republic.json
  data/patches/gh-f8d1-azerbaijan-democratic-republic.json
Labels: atlas data: patch

Edit WBF
  data/patches/gh-2896-wbf.json
Labels: atlas data: patch

Create gh-71c6-vickypalami.json
  data/patches/gh-71c6-vickypalami.json
Labels: atlas data: patch

Create gh-2ce6-rising-phoenix-shego.json
  data/patches/gh-2ce6-rising-phoenix-shego.json
Labels: atlas data: patch

Edit VC3
  data/patches/gh-f717-vc3-logo-expansion.json
Labels: atlas data: patch

Edit 10D Drawing
  data/patches/gh-cbd9-10d-drawing.json
Labels: atlas data: patch

Create gh-be3d-gawr-gura.json
  data/patches/gh-be3d-gawr-gura.json
Labels: atlas data: patch
