Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-02c8-logo-of-the-ibs-it-business-school-oldenburg.json
  data/patches/gh-02c8-logo-of-the-ibs-it-business-school-oldenburg.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-5432-autism-pride-flag-with-infinity-symbol-inside.json
  data/patches/goomba-super-mario.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-17b7-geometry-dash.json
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-029a-titanic-titan-submersible.json
  data/patches/gh-029a-titanic-titan-submersible.json
Labels: atlas data: patch

Add Stony Brook University region
  data/patches/gh-c227-stony-brook-university.json
Labels: atlas data: patch

Update gh-02c8-logo-of-the-ibs-it-business-school-oldenburg.json
  data/patches/gh-02c8-logo-of-the-ibs-it-business-school-oldenburg.json
Labels: atlas data: patch

Disable Highlight Empty
  CONTRIBUTING.md
  web/index.html
Labels: none

Edit entry 3025 "Flag of Honduras"
  data/patches/gh-ad00-flag-of-honduras.json
Labels: atlas data: patch

Create logo-of-playstation.json
  data/patches/logo-of-playstation.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-029a-titanic-titan-submersible.json
  data/patches/gh-02c8-logo-of-the-ibs-it-business-school-oldenburg.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-aa7f-sherry-sharp-and-mikuru-nakano.json
  data/patches/gh-aa7f-sherry-sharp-and-mikuru-nakano.json
Labels: atlas data: patch

Create flag-of-north-macedonia.json
  data/patches/flag-of-north-macedonia.json
Labels: atlas data: patch

UX improvements
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/about.html
  web/index.html
Labels: none

Fix touch-action
  web/_css/style.css
Labels: none

Insert r/Korea_Place server invites
  data/patches/gh-3f61-south-korea-postcard.json
  data/patches/gh-b3c4-flag-of-south-korea.json
  data/patches/gh-c4af-flag-of-south-korea.json
  data/patches/gh-d22d-flag-of-south-korea.json
Labels: atlas data: patch

Cancel editing entry 3025 "Flag of Honduras"
  data/patches/gh-ad00-flag-of-honduras.json
Labels: atlas data: patch

Update description
  data/patches/gh-c227-stony-brook-university.json
Labels: atlas data: patch

Create gh-1dd5-national-aeronautics-and-space-administration.json
  data/patches/gh-1dd5-national-aeronautics-and-space-administration.json
Labels: atlas data: patch

Fix typo
  data/patches/gh-c227-stony-brook-university.json
Labels: atlas data: patch

Remove duplicate entry 2653 "Flag of Korea"
  web/atlas.json
Labels: atlas data: direct

Create gh-24cb-apollo-11.json
  data/patches/gh-24cb-apollo-11.json
Labels: atlas data: patch

Edit Cuban Flag
  data/patches/gh-cf9e-flag-of-cuba.json
Labels: atlas data: patch

Create gh-9df1-switzerland-flag.json
  data/patches/gh-9df1-switzerland-flag.json
Labels: atlas data: patch

Create king-laugh-emote-clash-royale.json
  data/patches/king-laugh-emote-clash-royale.json
Labels: atlas data: patch

Create gh-fd9c-inkling-squid.json
  data/patches/gh-fd9c-inkling-squid.json
Labels: atlas data: patch

Create gh-5ec2-longshork-eating-the-flag-of-chile.json
  data/patches/gh-5ec2-longshork-eating-the-flag-of-chile.json
Labels: atlas data: patch

Create gh-d809-rainbowroad.json
  data/patches/gh-d809-rainbowroad.json
Labels: atlas data: patch

Create gh-0b2d-dlrg.json
  data/patches/gh-0b2d-dlrg.json
Labels: atlas data: patch

Create gh-1d4f-geometry-dash.json
  data/patches/gh-1d4f-geometry-dash.json
Labels: atlas data: patch

Create gh-bef2-mein-kleiner-gruner-kaktus.json
  data/patches/gh-bef2-mein-kleiner-gruner-kaktus.json
Labels: atlas data: patch

Create gh-99ac-ecoles-normales-superieures.json
  data/patches/gh-99ac-ecoles-normales-superieures.json
Labels: atlas data: patch

Create gh-7e7f-nyan-cat-watching-a-sunflower.json
  data/patches/gh-7e7f-nyan-cat-watching-a-sunflower.json
Labels: atlas data: patch

Create gh-f03c-ecoles-normales-superieures.json
  data/patches/gh-f03c-ecoles-normales-superieures.json
Labels: atlas data: patch

Create gh-2bbc-vivy.json
  data/patches/gh-2bbc-vivy.json
Labels: atlas data: patch

Create gh-8dfd-some-mammals-mumbling.json
  data/patches/gh-8dfd-some-mammals-mumbling.json
Labels: atlas data: patch

Create gh-f8ae-fubuki-fishing-bocchi.json
  data/patches/gh-f8ae-fubuki-fishing-bocchi.json
Labels: atlas data: patch

Create gh-ccd5-kienlabadaos-logo.json
  data/patches/gh-ccd5-kienlabadaos-logo.json
Labels: atlas data: patch

Fix typo in Taiga Aisaka's name
  data/patches/gh-4434-i-placed-my-.json
Labels: atlas data: patch

Create gh-c528-saints-and-patriots-scoreboard.json
  data/patches/gh-c528-saints-and-patriots-scoreboard.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
