Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-4663-cross-for-the-four-day-marches.json
  data/patches/gh-4663-cross-for-the-four-day-marches.json
Labels: atlas data: patch

Create gh-d1ae-easter-rising-1916.json
  data/patches/gh-d1ae-easter-rising-1916.json
Labels: atlas data: patch

Create gh-953e-guinesus.json
  data/patches/gh-953e-guinesus.json
Labels: atlas data: patch

Create gh-f4da-let-op-geld-lenen-kost-geld.json
  data/patches/gh-f4da-let-op-geld-lenen-kost-geld.json
Labels: atlas data: patch

Create gh-4f32-ame-chan-needy-streamer-overload-holding-dutch-flag.json
  data/patches/gh-4f32-ame-chan-needy-streamer-overload-holding-dutch-flag.json
Labels: atlas data: patch

add some more atlas requests
  data/patches/gh-8057-free-navalny-message.json
  data/patches/gh-8951-freedom-of-russia-legion.json
  data/patches/gh-d1ef-tj.json
  data/patches/gh-f576-navalny-headquarters-logo.json
  data/patches/gh-ff42-tv-rain.json
Labels: atlas data: patch

Create gh-0b80-rhine.json
  data/patches/gh-0b80-rhine.json
Labels: atlas data: patch

Create gh-3940-doctor-who-tardis.json
  data/patches/gh-3940-doctor-who-tardis.json
Labels: atlas data: patch

Create gh-d383-ecuadors-tardis.json
  data/patches/gh-d383-ecuadors-tardis.json
Labels: atlas data: patch

Create gh-1159-rplacenl-vista-button.json
  data/patches/gh-1159-rplacenl-vista-button.json
Labels: atlas data: patch

Create gh-79a8-lekkersicko.json
  data/patches/gh-79a8-lekkersicko.json
Labels: atlas data: patch

Create gh-6dd5-f-society.json
  data/patches/gh-6dd5-f-society.json
Labels: atlas data: patch

Updated atlas
  data/patches/gh-0b80-rhine.json
  data/patches/gh-1159-rplacenl-vista-button.json
  data/patches/gh-3849-star-wars-art.json
  data/patches/gh-3940-doctor-who-tardis.json
  data/patches/gh-4663-cross-for-the-four-day-marches.json
  data/patches/gh-4bd7-states-lion.json
  data/patches/gh-4f32-ame-chan-needy-streamer-overload-holding-dutch-flag.json
  data/patches/gh-6dd5-f-society.json
  data/patches/gh-79a8-lekkersicko.json
  data/patches/gh-8057-free-navalny-message.json
  data/patches/gh-84d9-rock-of-cashel.json
  data/patches/gh-85c4-python.json
  data/patches/gh-8951-freedom-of-russia-legion.json
  data/patches/gh-953e-guinesus.json
  data/patches/gh-d1ae-easter-rising-1916.json
  data/patches/gh-d1ef-tj.json
  data/patches/gh-d383-ecuadors-tardis.json
  data/patches/gh-f4da-let-op-geld-lenen-kost-geld.json
  data/patches/gh-f576-navalny-headquarters-logo.json
  data/patches/gh-ff42-tv-rain.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-96bc-mote-con-huesillos.json
  data/patches/gh-96bc-mote-con-huesillos.json
Labels: atlas data: patch

fix: render lines call while updateHovering
  web/_js/main/view.js
Labels: none

Create gh-d186-placenl.json
  data/patches/gh-d186-placenl.json
Labels: atlas data: patch

Create gh-bc58-faust-limbus-company-johann-georg-faust.json
  data/patches/gh-bc58-faust-limbus-company-johann-georg-faust.json
Labels: atlas data: patch

Create gh-6073-polder.json
  data/patches/gh-6073-polder.json
Labels: atlas data: patch

Create gh-7368-caravela.json
  data/patches/gh-7368-caravela.json
Labels: atlas data: patch

Updated entries
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: direct

Create gh-a83c-aaalsob.json
  data/patches/gh-a83c-aaalsob.json
Labels: atlas data: patch

Create gh-c6bd-distortion-detective.json
  data/patches/gh-c6bd-distortion-detective.json
Labels: atlas data: patch

Updated GitHub
  data/patches/gh-403f-eusebio-ferreira.json
  data/patches/gh-4dbc-pastel-de-nata.json
  data/patches/gh-6073-polder.json
  data/patches/gh-7368-caravela.json
  data/patches/gh-7c8e-padrao.json
  data/patches/gh-96bc-mote-con-huesillos.json
  data/patches/gh-bc58-faust-limbus-company-johann-georg-faust.json
  data/patches/gh-d186-placenl.json
  data/patches/gh-e1b4-amalia-rodrigues-and-fado.json
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-de97-mini-canadian-flag.json
  data/patches/gh-de97-mini-canadian-flag.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-d922-flags-of-osea-cascadia-and-belka.json
  data/patches/gh-d922-flags-of-osea-cascadia-and-belka.json
Labels: atlas data: patch

Create gh-00fd-sylvees-cat.json
  data/patches/gh-00fd-sylvees-cat.json
Labels: atlas data: patch

Create gh-58a2-poldermolen.json
  data/patches/gh-58a2-poldermolen.json
Labels: atlas data: patch

Create gh-f0a4-grateful-dead-marching-bear.json
  data/patches/gh-f0a4-grateful-dead-marching-bear.json
Labels: atlas data: patch

Create gh-845b-favela-five.json
  data/patches/gh-845b-favela-five.json
Labels: atlas data: patch

Create gh-2ed2-mexico-city-metro.json
  data/patches/gh-2ed2-mexico-city-metro.json
Labels: atlas data: patch

Create gh-67b3-gaiming-gladiators.json
  data/patches/gh-67b3-gaiming-gladiators.json
Labels: atlas data: patch

Create gh-7d56-miffy.json
  data/patches/gh-7d56-miffy.json
Labels: atlas data: patch

Updated truscum
  web/atlas.json
Labels: atlas data: direct

Create gh-01fa-russian-anti-war-flag.json
  data/patches/gh-01fa-russian-anti-war-flag.json
Labels: atlas data: patch

Create gh-6a66-unitystation-logo.json
  data/patches/gh-6a66-unitystation-logo.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-00fd-sylvees-cat.json
  data/patches/gh-01fa-russian-anti-war-flag.json
  data/patches/gh-2ed2-mexico-city-metro.json
  data/patches/gh-58a2-poldermolen.json
  data/patches/gh-67b3-gaiming-gladiators.json
  data/patches/gh-7d56-miffy.json
  data/patches/gh-845b-favela-five.json
  data/patches/gh-a83c-aaalsob.json
  data/patches/gh-c6bd-distortion-detective.json
  data/patches/gh-d922-flags-of-osea-cascadia-and-belka.json
  data/patches/gh-de97-mini-canadian-flag.json
  data/patches/gh-f0a4-grateful-dead-marching-bear.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Update gh-6a66-unitystation-logo.json
  data/patches/gh-6a66-unitystation-logo.json
Labels: atlas data: patch

Create gh-57a2-cyrusr-cyrustwo.json
  data/patches/gh-57a2-cyrusr-cyrustwo.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
