Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690259448.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Edit "I placed my pickle"
  data/patches/gh-0d9e-i-placed-my-.json
Labels: atlas data: patch

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690261229.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GitHub
  data/patches/gh-0d9e-i-placed-my-.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690263007.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690264848.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Add view variables on hash
  web/_js/main/draw.js
  web/_js/main/infoblock.js
  web/_js/main/main.js
  web/_js/main/time.js
  web/_js/main/view.js
Labels: none

add domino
  data/patches/gh-65ea-domino.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690266609.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GitHub
  data/patches/gh-3ca8-fl-studio.json
  data/patches/gh-65ea-domino.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Mention Highlight Empty in submission guide
  CONTRIBUTING.md
Labels: none

Updated Reddit
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-08d4-blush.json
  data/patches/gh-08d4-blush.json
Labels: atlas data: patch

Refactor for clarity
  web/_js/main/draw.js
  web/_js/main/main.js
  web/_js/main/overlap.js
  web/_js/main/time.js
  web/_js/main/view.js
Labels: none

Cap minZoom to 0.125
  web/_js/main/main.js
Labels: none

Use offset on setZoomByPath
  web/_js/main/view.js
Labels: none

Remove entry ID from hash when deselected
  web/_js/main/main.js
  web/_js/main/view.js
Labels: none

Create gh-0000-israel.json
  data/patches/gh-0000-israel.json
Labels: atlas data: patch

Create gh-7628-blackpink-logo.json
  data/patches/gh-7628-blackpink-logo.json
Labels: atlas data: patch

Create gh-2837-blackpink-heart-logo.json
  data/patches/gh-2837-blackpink-heart-logo.json
Labels: atlas data: patch

Add 07:00-07:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690268400.png
  web/_img/canvas/main/1690270201.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Add note for sixth expansion
  web/_js/config.js
Labels: none

Add name to PR Labeler job
  .github/workflows/pr-labeler.yml
Labels: none

Specify permissions on workflows
  .github/workflows/qodana.yml
  .github/workflows/validate-json.yml
Labels: none

Fix period not empty on default period and variation
  web/_js/main/time.js
Labels: none

Remove trailing zero in decimal on hash
  web/_js/main/time.js
Labels: none

Add 08:00-08:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690272001.png
  web/_img/canvas/main/1690273801.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

-1-karate-dojo-norden
  data/patches/gh-bf7c-1-karate-dojo-norden.json
Labels: atlas data: patch

Create gh-700f-seattle-seahawks.json
  data/patches/gh-700f-seattle-seahawks.json
Labels: atlas data: patch

Create gh-9a10-takagi-san.json
  data/patches/gh-9a10-takagi-san.json
Labels: atlas data: patch

Add 09:00-09:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690275600.png
  web/_img/canvas/main/1690277401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Add 10:00-10:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690279200.png
  web/_img/canvas/main/1690281000.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

Create gh-d54b-breast-cancer-awareness.json
  data/patches/gh-d54b-breast-cancer-awareness.json
Labels: atlas data: patch

Create gh-8b83-feastables.json
  data/patches/gh-8b83-feastables.json
Labels: atlas data: patch

Create gh-d729-route-66.json
  data/patches/gh-d729-route-66.json
Labels: atlas data: patch

Create gh-9aca-breast-cancer-ribbon.json
  data/patches/gh-9aca-breast-cancer-ribbon.json
Labels: atlas data: patch
