Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-0c44-drednotio.json
  data/patches/gh-0c44-drednotio.json
Labels: atlas data: patch

Change: Add OberonMola to the r/place Wiki
  data/patches/gh-9c1f-oberonmola.json
Labels: atlas data: patch

Create gh-042d-drednotio.json
  data/patches/gh-042d-drednotio.json
Labels: atlas data: patch

Create hatsune-miku-head-edit.json
  data/patches/hatsune-miku-head-edit.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-0133-milena.json
  data/patches/gh-01e2-simon-bolivar.json
  data/patches/gh-0463-the-blue-corner.json
  data/patches/gh-071f-arara-azul-hyacinth-macaw.json
  data/patches/gh-1f6d-bowl-of-petunias.json
  data/patches/gh-2852-coxinha.json
  data/patches/gh-2c22-bowl-of-petunias.json
  data/patches/gh-3676-kirby-kuromi.json
  data/patches/gh-5485-fuck-spez-whiteout.json
  data/patches/gh-655c-capoeira.json
  data/patches/gh-7f2e-kauai-mounts-dog.json
  data/patches/gh-8d36-metro-de-caracas.json
  data/patches/gh-8f1c-python.json
  data/patches/gh-9cfb-norminet.json
  data/patches/gh-b937-permadeaz.json
  data/patches/gh-be0f-pao-de-queijo-cheese-bread.json
  data/patches/gh-f10a-python.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-8fbc-flag-of-venezuela.json
  data/patches/gh-8fbc-flag-of-venezuela.json
Labels: atlas data: patch

Create gh-2928-h-e-x-e-dready.json
  data/patches/gh-2928-h-e-x-e-dready.json
Labels: atlas data: patch

Rename gh-def9-drednotio.json to gh-def9-drednotio-1.json
  data/patches/gh-def9-drednotio-1.json
Labels: atlas data: patch

Rename gh-042d-drednotio.json to gh-042d-drednotio-2.json
  data/patches/gh-042d-drednotio-2.json
Labels: atlas data: patch

Create gh-9caa-doctor-who-60th-anniversary-area.json
  data/patches/gh-9caa-doctor-who-60th-anniversary-area.json
Labels: atlas data: patch

Update and rename gh-0c44-drednotio.json to gh-0c44-drednotio-swiss.json
  data/patches/gh-0c44-drednotio-swiss.json
Labels: atlas data: patch

Create gh-3607-vwp-virtual-witch-phenomenon.json
  data/patches/gh-3607-vwp-virtual-witch-phenomenon.json
Labels: atlas data: patch

Add Tokoyami Towa [Hololive]
  data/patches/gh-74f2-tokoyami-towa-hololive.json
Labels: atlas data: patch

Create gh-021x-drednotio-0.json
  data/patches/gh-021x-drednotio-0.json
Labels: atlas data: patch

Add Vermont
  data/patches/gh-193e-vermont.json
Labels: atlas data: patch

Update gh-def9-drednotio-1.json
  data/patches/gh-def9-drednotio-1.json
Labels: atlas data: patch

Create 33
  data/patches/33
Labels: atlas data: patch

Create gh-ef74-smol-takodachis.json
  data/patches/gh-ef74-smol-takodachis.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-2928-h-e-x-e-dready.json
  data/patches/gh-3607-vwp-virtual-witch-phenomenon.json
  data/patches/gh-8fbc-flag-of-venezuela.json
  data/patches/gh-9c1f-oberonmola.json
  data/patches/hatsune-miku-head-edit.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-5479-chloe-and-gura-vtubers-place-mural.json
  data/patches/gh-5479-chloe-and-gura-vtubers-place-mural.json
Labels: atlas data: patch

Adds data for Super Bear Adventure
  data/patches/super-bear-adventure.json
Labels: atlas data: patch

Updated atlas
  web/atlas.json
Labels: atlas data: direct

Create gh-4f77-project-inkunzi-ii-revengeance.json
  data/patches/gh-4f77-project-inkunzi-ii-revengeance.json
Labels: atlas data: patch

Dutch Ambulance, Police and Firefighter
  data/patches/gh-ad5d-dutch-ambulance-police-car-and-firefighter-truck.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1fe9-kauai.json
  data/patches/gh-23f8-evermore.json
  data/patches/gh-6c9f-taylor-swift.json
  data/patches/gh-9ae6-karma-is-a-cat.json
  data/patches/gh-ecb5-ecuawolxyz-banner.json
  data/patches/nier-2b-and-9s.json
  data/patches/nier-2b.json
  data/patches/nier-emil.json
  data/patches/nier-pod-042.json
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Blender
  data/patches/gh-84c4-blender.json
Labels: atlas data: patch

Create gh-a9bf-project-inkunzi-revengeance-logo.json
  data/patches/gh-a9bf-project-inkunzi-revengeance-logo.json
Labels: atlas data: patch

Create gh-81b9-barbie-logo.json
  data/patches/gh-81b9-barbie-logo.json
Labels: atlas data: patch

Create gh-427f-dig-dug.json
  data/patches/gh-427f-dig-dug.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-021x-drednotio-0.json
  data/patches/gh-042d-drednotio-2.json
  data/patches/gh-0c44-drednotio-swiss.json
  data/patches/gh-193e-vermont.json
  data/patches/gh-4f77-project-inkunzi-ii-revengeance.json
  data/patches/gh-5479-chloe-and-gura-vtubers-place-mural.json
  data/patches/gh-74f2-tokoyami-towa-hololive.json
  data/patches/gh-84c4-blender.json
  data/patches/gh-9caa-doctor-who-60th-anniversary-area.json
  data/patches/gh-ad5d-dutch-ambulance-police-car-and-firefighter-truck.json
  data/patches/gh-def9-drednotio-1.json
  data/patches/gh-ef74-smol-takodachis.json
  data/patches/super-bear-adventure.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-5186-napoleon-flag-rnapoleonfr.json
  data/patches/gh-5186-napoleon-flag-rnapoleonfr.json
Labels: atlas data: patch

Add "A trash that burns"
  data/patches/gh-ac5d-a-trash-that-burns.json
Labels: atlas data: patch

Create gh-91a1-flag-of-algeria.json
  data/patches/gh-91a1-flag-of-algeria.json
Labels: atlas data: patch

jermathing.json
  data/patches/gh-5121-jermathing.json
Labels: atlas data: patch

Create Mudkip Entry
  data/patches/gh-7d2f-mudkip.json
Labels: atlas data: patch

Add "A trash can that burns"
  data/patches/gh-ac5d-a-trash-that-burns.json
Labels: atlas data: patch

Create gh-5b98-ddnet.json
  data/patches/gh-5b98-ddnet.json
Labels: atlas data: patch

jermathing20.json
  data/patches/gh-47b8-jermathing20.json
Labels: atlas data: patch

Update gh-5121-jermathing.json
  data/patches/gh-5121-jermathing.json
Labels: atlas data: patch

Create gh-a121-tako-of-the-void.json
  data/patches/gh-a121-tako-of-the-void.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
