Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json

Updated Falklands memorial
  web/atlas.json
Labels: atlas data: direct

Create gh-6192-alestorm-duck.json
  data/patches/gh-6192-alestorm-duck.json
Labels: atlas data: patch

Updated submissions
  data/patches/Add Dead Crewmate
  data/patches/Add Peashooter
  data/patches/Edit Vanilly
  data/patches/gh-0884-eusebio-ferreira.json
  data/patches/gh-11e6-flag-of-turkey.json
  data/patches/gh-1887-forgotten-turtles-video-game-group.json
  data/patches/gh-205c-power-chainsaw-man.json
  data/patches/gh-266d-jimmy-chortles.json
  data/patches/gh-3307-siberian-republic-flag.json
  data/patches/gh-3565-repolloclips.json
  data/patches/gh-3e89-german-twitch-streamer-hallo_alexa_.json
  data/patches/gh-3f22-hypixel-h.json
  data/patches/gh-5b1d-ingria-flag.json
  data/patches/gh-96a0-koiarch.json
  data/patches/gh-ab22-mayhem.json
  data/patches/gh-b049-monokuma-danganronpa.json
  data/patches/gh-bf08-fck-fpo-afd.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  data/patches/gh-86de-camp-jupiter.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-2cd4-westcol.json
  data/patches/gh-2cd4-westcol.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-6192-alestorm-duck.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-d530-flag-of-europe.json
  data/patches/gh-d530-flag-of-europe.json
Labels: atlas data: patch

Create gh-5d1c-dmytro-kotsiubailo.json
  data/patches/gh-5d1c-dmytro-kotsiubailo.json
Labels: atlas data: patch

Create gh-39de-kraken-regiment-logo.json
  data/patches/gh-39de-kraken-regiment-logo.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-2cd4-westcol.json
  data/patches/gh-39de-kraken-regiment-logo.json
  data/patches/gh-5d1c-dmytro-kotsiubailo.json
  data/patches/gh-d530-flag-of-europe.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-9d39-crimean-tatar-tamga.json
  data/patches/gh-9d39-crimean-tatar-tamga.json
Labels: atlas data: patch

Added submissions
  data/patches/gh-9d39-crimean-tatar-tamga.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit entry 3025 "Flag of Honduras" and remove its duplicates
  data/patches/gh-6a22-flag-of-honduras.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Edit entry 2146 "Jaime Garzón"
  data/patches/gh-2768-jaime-garzon.json
Labels: atlas data: patch

Edit entry 3403 "Belgian Firetruck"
  data/patches/gh-9b95-belgian-firetruck.json
Labels: atlas data: patch

Edit entry 2155 "AMINJ"
  data/patches/gh-23d6-aminj.json
Labels: atlas data: patch

Edit entry 2043 "Flag of Argentina"
  data/patches/gh-1d63-flag-of-argentina.json
Labels: atlas data: patch

Edit entry 2861 "Argentina"
  data/patches/gh-2bee-argentina.json
Labels: atlas data: patch

Edit entry 5181 "Scottish unicorn"
  data/patches/gh-c68c-scottish-unicorn.json
Labels: atlas data: patch

Create gh-a46c-bearman-by-pierreshowgang.json
  data/patches/gh-a46c-bearman-by-pierreshowgang.json
Labels: atlas data: patch

Create gh-4f1e-destiny.json
  data/patches/gh-4f1e-destiny.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-1d63-flag-of-argentina.json
  data/patches/gh-23d6-aminj.json
  data/patches/gh-2768-jaime-garzon.json
  data/patches/gh-2bee-argentina.json
  data/patches/gh-4f1e-destiny.json
  data/patches/gh-6a22-flag-of-honduras.json
  data/patches/gh-9b95-belgian-firetruck.json
  data/patches/gh-a46c-bearman-by-pierreshowgang.json
  data/patches/gh-c68c-scottish-unicorn.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-2522-fuck-spez-small-top-right.json
  data/patches/gh-2522-fuck-spez-small-top-right.json
Labels: atlas data: patch

Create gh-a1d5-switzerland-area.json
  data/patches/gh-a1d5-switzerland-area.json
Labels: atlas data: patch

Updated entries
  web/atlas.json
Labels: atlas data: direct

Added submissions
  data/patches/gh-2522-fuck-spez-small-top-right.json
  data/patches/gh-a1d5-switzerland-area.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Updated entries
  web/atlas.json
Labels: atlas data: direct

Create gh-051e-gaimin-gladiators.json
  data/patches/gh-051e-gaimin-gladiators.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-051e-gaimin-gladiators.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-50b5-ottlight-umy_name_is_-profile-picture.json
  data/patches/gh-50b5-ottlight-umy_name_is_-profile-picture.json
Labels: atlas data: patch

Create gh-2e3a-mass-rapid-transit.json
  data/patches/gh-2e3a-mass-rapid-transit.json
Labels: atlas data: patch

Create gh-9085-singapore-bolivia-hearts.json
  data/patches/gh-9085-singapore-bolivia-hearts.json
Labels: atlas data: patch

Updated entries
  CONTRIBUTING.md
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Create gh-b38d-singapore-sri-lanka-bolivia-tri-heart.json
  data/patches/gh-b38d-singapore-sri-lanka-bolivia-tri-heart.json
Labels: atlas data: patch

Updated Reddit
  data/patches/gh-2e3a-mass-rapid-transit.json
  data/patches/gh-50b5-ottlight-umy_name_is_-profile-picture.json
  data/patches/gh-9085-singapore-bolivia-hearts.json
  data/patches/gh-b38d-singapore-sri-lanka-bolivia-tri-heart.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-8319-flag-of-sri-lanka.json
  data/patches/gh-8319-flag-of-sri-lanka.json
Labels: atlas data: patch

Create gh-64a6-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
  data/patches/gh-64a6-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

Create gh-6c4f-kihamoovt.json
  data/patches/gh-6c4f-kihamoovt.json
Labels: atlas data: patch

Create gh-554d-nijisanji.json
  data/patches/gh-554d-nijisanji.json
Labels: atlas data: patch
