Repository placeAtlas/atlas-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: atlas data: patch, atlas data: direct

Create gh-9221-tokoyami-towa-hololive.json
  data/patches/gh-9221-tokoyami-towa-hololive.json
Labels: atlas data: patch

Create mappy-video-game-character.json
  data/patches/mappy-video-game-character.json
Labels: atlas data: patch

Create gh-d13f-greenland.json
  data/patches/gh-d13f-greenland.json
Labels: atlas data: patch

Create gh-e165-gitanas-nauseda-lithuania-president.json
  data/patches/gh-e165-gitanas-nauseda-lithuania-president.json
Labels: atlas data: patch

Updated entries
  data/patches/eric-cartman-south-park.json
  data/patches/gh-0b73-tiny-landscape.json
  data/patches/gh-0d5f-plankton.json
  data/patches/gh-2314-a-cross.json
  data/patches/gh-2559-jermathing.json
  data/patches/gh-2a76-kirby-kuromi.json
  data/patches/gh-48e0-machu-picchu.json
  data/patches/gh-4a95-martyrs-memorial.json
  data/patches/gh-57bd-germany-x-netherlands.json
  data/patches/gh-5ec4-effzeh.json
  data/patches/gh-63a1-serpias-otori.json
  data/patches/gh-706f-tokoyami-towa-hololive.json
  data/patches/gh-7639-ttvjesusavgn.json
  data/patches/gh-7b6c-serpias-emu.json
  data/patches/gh-85d8-assassin-brotherhood.json
  data/patches/gh-91a1-flag-of-algeria.json
  data/patches/gh-9221-tokoyami-towa-hololive.json
  data/patches/gh-92d1-jermathing20.json
  data/patches/gh-a438-a-flag-of-lithuania.json
  data/patches/gh-b7e9-capitan-gato.json
  data/patches/gh-c7c9-bernd-das-brothanos.json
  data/patches/gh-c808-axolotl.json
  data/patches/gh-d13f-greenland.json
  data/patches/gh-e535-esc-heart-with-swedish-flag.json
  data/patches/gh-e932-flag-of-mexico.json
  data/patches/gh-efe3-ena.json
  data/patches/gh-fa4b-monarch-butterfly.json
  data/patches/mappy-video-game-character.json
  data/patches/rachid.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-84c6-marcelo-martins-moreno.json
  data/patches/gh-84c6-marcelo-martins-moreno.json
Labels: atlas data: patch

Create gh-48fa-state-of-alaska.json
  data/patches/gh-48fa-state-of-alaska.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated entries
  data/patches/gh-84c6-marcelo-martins-moreno.json
  data/patches/gh-e165-gitanas-nauseda-lithuania-president.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create pac-man.json
  data/patches/pac-man.json
Labels: atlas data: patch

Create gh-f989-simon-bolivar.json
  data/patches/gh-f989-simon-bolivar.json
Labels: atlas data: patch

Create gh-0aca-chinchou.json
  data/patches/gh-0aca-chinchou.json
Labels: atlas data: patch

Create gh-accc-andreh.json
  data/patches/gh-accc-andreh.json
Labels: atlas data: patch

Create gh-b3a7-kessoku-band-mendako-from-bocchi-the-rock.json
  data/patches/gh-b3a7-kessoku-band-mendako-from-bocchi-the-rock.json
Labels: atlas data: patch

Add AI Sponge
  data/patches/gh-e8f9-ai-sponge.json
Labels: atlas data: patch

Create gh-5850-boombox.json
  data/patches/gh-5850-boombox.json
Labels: atlas data: patch

Create skid-pump.json
  data/patches/skid-pump.json
Labels: atlas data: patch

Create gh-e386-the-red-nose.json
  data/patches/gh-e386-the-red-nose.json
Labels: atlas data: patch

Create william-afton-fnaf.json
  data/patches/william-afton-fnaf.json
Labels: atlas data: patch

Create gh-dff9-placeburs-computer.json
  data/patches/gh-dff9-placeburs-computer.json
Labels: atlas data: patch

Updated entries
  data/patches/gh-0aca-chinchou.json
  data/patches/gh-48fa-state-of-alaska.json
  data/patches/gh-5850-boombox.json
  data/patches/gh-accc-andreh.json
  data/patches/gh-b3a7-kessoku-band-mendako-from-bocchi-the-rock.json
  data/patches/gh-dff9-placeburs-computer.json
  data/patches/gh-e386-the-red-nose.json
  data/patches/gh-e8f9-ai-sponge.json
  data/patches/gh-f989-simon-bolivar.json
  data/patches/pac-man.json
  data/patches/skid-pump.json
  data/patches/william-afton-fnaf.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Fix searching by ID
  web/_js/main/view.js
Labels: none

Create gh-b97b-rmorocco.json
  data/patches/gh-b97b-rmorocco.json
Labels: atlas data: patch

Only run Qodana on placeAtlas org
  .github/workflows/qodana.yml
Labels: none

Create gh-bbb3-pokemon-evolution-by-lattensepp-papaplatte.json
  data/patches/gh-bbb3-pokemon-evolution-by-lattensepp-papaplatte.json
Labels: atlas data: patch

Updated atlas
  data/patches/gh-b97b-rmorocco.json
  data/patches/gh-bbb3-pokemon-evolution-by-lattensepp-papaplatte.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create fire-mario.json
  data/patches/fire-mario.json
Labels: atlas data: patch

Create gh-a799-august-12-2036.json
  data/patches/gh-a799-august-12-2036.json
Labels: atlas data: patch

Updated entries
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

Updated GH
  data/patches/fire-mario.json
  data/patches/gh-a799-august-12-2036.json
  web/atlas.json
Labels: atlas data: patch, atlas data: direct

Create gh-ad01-flag-of-malaysia.json
  data/patches/gh-ad01-flag-of-malaysia.json
Labels: atlas data: patch

Create gh-3637-flag-of-portugal.json
  data/patches/gh-3637-flag-of-portugal.json
Labels: atlas data: patch

Create gh-2679-malaysia.json
  data/patches/gh-2679-malaysia.json
Labels: atlas data: patch

Create gh-4523-dornets-mascot.json
  data/patches/gh-4523-dornets-mascot.json
Labels: atlas data: patch

Create gh-fd8b-fenin.json
  data/patches/gh-fd8b-fenin.json
Labels: atlas data: patch

Edit entry 2653 "Flag of South Korea"
  data/patches/gh-b3c4-flag-of-south-korea.json
Labels: atlas data: patch

Create entry "South Korea Postcard"
  data/patches/gh-3f61-south-korea-postcard.json
Labels: atlas data: patch

Create gh-2cb6-appa.json
  data/patches/gh-2cb6-appa.json
Labels: atlas data: patch

Create gh-2028-patriot-ralsei.json
  data/patches/gh-2028-patriot-ralsei.json
Labels: atlas data: patch

Create gh-e2c4-carro-de-bomberos.json
  data/patches/gh-e2c4-carro-de-bomberos.json
Labels: atlas data: patch

.github/labeler.yml:

'atlas data: patch':
  - data/patches/**

'atlas data: direct':
  - web/atlas.json
