Repository placeAtlas/atlas-2023, pull requests merged in 2023-08, with the labels that each got.

#1481 Edit gh-12b5-flags-of-the-dutch-antilles.json
  data/patches/gh-12b5-flags-of-the-dutch-antilles.json
Labels: atlas data: patch

#1482 fix mini-skyrim-logo
  data/patches/gh-d938-mini-skyrim-logo.json
Labels: atlas data: patch

#1483 period fix hmu-xpress
  data/patches/gh-1200-hmu-xpress.json
Labels: atlas data: patch

#1485 combine multiple entries
  web/atlas.json
Labels: atlas data: direct

#1487 combine duplicate entries of Philadelphia Eagles
  web/atlas.json
Labels: atlas data: direct

#1488 period fix gh-1562-titlebar-buttons.json
  data/patches/gh-1562-titlebar-buttons.json
Labels: atlas data: patch

#1489 fixed path and period of kamikatze
  data/patches/gh-ed2a-kamikatze.json
Labels: atlas data: patch

#1490 updated path of fruchtzwergeeis
  data/patches/gh-16d6-fruchtzwergeeis.json
Labels: atlas data: patch

#1491 add bowser entry
  data/patches/gh-2a65-bowser.json
Labels: atlas data: patch

#1492 Edit HMU XPRESS
  data/patches/gh-6a99-hmu-xpress.json
Labels: atlas data: patch

#1493 Fix Period for TTTV Ruffy
  data/patches/gh-38b2-tttv-ruffy.json
Labels: atlas data: patch

#1494 Fix Period for Pink Spade
  data/patches/gh-7147-pink-spade.json
Labels: atlas data: patch

#1495 Change border to Springbok
  data/patches/gh-2519-springbok.json
Labels: atlas data: patch

#1496 Fix border of PGOD
  data/patches/gh-19fd-pgod-senor-concha.json
Labels: atlas data: patch

#1497 Fix border of PGOD (No.2)
  data/patches/gh-c57a-pgod.json
Labels: atlas data: patch

#1498 Fix period and border of Blush
  data/patches/gh-7870-blush.json
Labels: atlas data: patch

#1500 Fix border for Vagos
  data/patches/gh-28ef-vagos-from-luckyv.json
Labels: atlas data: patch

#1501 Fix period for HSV
  data/patches/gh-a60d-hsv.json
Labels: atlas data: patch

#1502 Fix period for HSV (No.2)
  data/patches/gh-5e05-hsv-logo.json
Labels: atlas data: patch

#1503 Fix period for Webos
  data/patches/gh-fe00-webos-community.json
Labels: atlas data: patch

#1504 Fix period for Community Tv Show
  data/patches/gh-8b17-community-tv-show.json
Labels: atlas data: patch

#1505 Create gh-587f-delutaya.json
  data/patches/gh-587f-delutaya.json
Labels: atlas data: patch

#1506 Create gh-0621-projekt-melody.json
  data/patches/gh-0621-projekt-melody.json
Labels: atlas data: patch

#1507 pompompurin
  data/patches/gh-a50b-pompompurin.json
Labels: atlas data: patch

#1508 Create gh-abd5-lola-daviet.json
  data/patches/gh-abd5-lola-daviet.json
Labels: atlas data: patch

#1509 Cleanup
  data/patches/gh-587f-delutaya.json
  data/read-ids.txt
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct, atlas data: patch

#1510 Create gh-142b-something.json
  data/patches/gh-142b-something.json
Labels: atlas data: patch

#1512 Create gh-3687-drawpile.json
  data/patches/gh-3687-drawpile.json
Labels: atlas data: patch

#1513 Create gh-28f2-killer-sans-something-new.json
  data/patches/gh-28f2-killer-sans-something-new.json
Labels: atlas data: patch

#1522 Edit Duck
  data/patches/gh-8be1-top-hat-duck-x-uwu-bird-x-birds-arent-real.json
Labels: atlas data: patch

#1523 Create hammer-sickle.json
  data/patches/hammer-sickle.json
Labels: atlas data: patch

#1524 Create parappa-parappa-the-rapper.json
  data/patches/parappa-parappa-the-rapper.json
Labels: atlas data: patch

#1525 Create pj-berri-parappa-the-rapper.json
  data/patches/pj-berri-parappa-the-rapper.json
Labels: atlas data: patch

#1526 Create gh-27d2-black-company.json
  data/patches/gh-27d2-black-company.json
Labels: atlas data: patch

#1527 Create gh-1136-programmingdev.json
  data/patches/gh-1136-programmingdev.json
Labels: atlas data: patch

#1531 Create gh-083e-vytautas-the-great.json
  data/patches/gh-083e-vytautas-the-great.json
Labels: atlas data: patch

#1532 Create gh-7ffb-foxholes-f.json
  data/patches/gh-7ffb-foxholes-f.json
Labels: atlas data: patch

#1533 Create gh-5c83-the-red-nose.json
  data/patches/gh-5c83-the-red-nose.json
Labels: atlas data: patch

#1534 Create gh-496e-hold-the-line.json
  data/patches/gh-496e-hold-the-line.json
Labels: atlas data: patch

#1535 Add Otong & Pakpol
  data/patches/odp.txt
Labels: atlas data: patch

#1539 Create gh-a7ca-hachenburger-westerwald.json
  data/patches/gh-a7ca-hachenburger-westerwald.json
Labels: atlas data: patch

#1541 AI: The Somnium Files
  data/patches/gh-08b7-tama.json
  data/patches/gh-a86c-ai-the-somnium-files.json
  data/patches/gh-d87b-aiba.json
Labels: atlas data: patch

#1543 Update ai_sponge
  data/patches/gh-b4a3-ai-sponge.json
Labels: atlas data: patch

#1551 Add SAMURAI from Cyberpunk 2077
  data/patches/gh-1702-samurai-from-cyberpunk-2077.json
Labels: atlas data: patch

#1554 Create T logo
  data/patches/gh-5533-t-logo-the-3th-one.json
Labels: atlas data: patch

#1555 Create T logo (second one)
  data/patches/gh-700d-t-logo-the-1st-one.json
Labels: atlas data: patch

#1556 Create T logo (third one)
  data/patches/gh-0e4e-t-logo-the-2nd-one.json
Labels: atlas data: patch

#1560 Fixing Flipper zero Timeline
  data/patches/gh-77ac-flipper-zero.json
Labels: atlas data: patch
