Repository placeAtlas/atlas-2023, pull requests merged in 2023-07, with the labels that each got.

#254 Add 09:30-10:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690104601.png
  web/_img/canvas/main/1690106401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#265 Add 10:30-11:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690108201.png
  web/_img/canvas/main/1690110001.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#269 Add 11:30-12:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690111801.png
  web/_img/canvas/main/1690113601.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#273 Add 12:30-14:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690115401.png
  web/_img/canvas/main/1690117201.png
  web/_img/canvas/main/1690119000.png
  web/_img/canvas/main/1690120801.png
  web/_js/config.js
  web/atlas.json
  web/index.html
Labels: atlas data: direct

#279 Add 14:30 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690122601.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#281 Add 15:00 canvas
  tools/extend_entry_times.py
  web/_img/canvas/main/1690124401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#249 dhalucard image moved
  data/patches/gh-17f6-dhalucard.json
Labels: atlas data: patch

#250 Create gh-6df5-chest-guardian.json
  data/patches/gh-6df5-chest-guardian.json
Labels: atlas data: patch

#252 Create petr-pavel.json
  data/patches/petr-pavel.json
Labels: atlas data: patch

#256 Add qwant
  data/patches/gh-0092-qwant.json
Labels: atlas data: patch

#257 Add Charles Aznavour
  data/patches/gh-b29f-charles-aznavour.json
Labels: atlas data: patch

#259 Add guy lafleur
  data/patches/gh-abac-guy-lafleur.json
Labels: atlas data: patch

#261 Add Metropolitan France
  data/patches/gh-52d6-metropolitan-france.json
Labels: atlas data: patch

#262 Add champagne
  data/patches/gh-453d-champagne.json
Labels: atlas data: patch

#263 Add Kameto
  data/patches/gh-ccf9-kameto.json
Labels: atlas data: patch

#266 Add IUT Vannes
  data/patches/gh-d083-iut-vannes.json
Labels: atlas data: patch

#267 Create gh-64ab-czechia-coa.json
  data/patches/gh-64ab-czechia-coa.json
Labels: atlas data: patch

#268 Add Railjet
  data/patches/gh-93b5-railjet.json
Labels: atlas data: patch

#271 Fix link & period STI2D
  data/patches/gh-aa7b-sti2d.json
Labels: atlas data: patch

#258 Add Simon
  data/patches/gh-2514-simon.json
Labels: atlas data: patch

#284 Add Black MIDI
  data/patches/gh-44ad-black-midi.json
  data/patches/gh-d083-iut-vannes.json
Labels: atlas data: patch

#287 Submissions of mine
  data/patches/gh-5b5a-murder-drones.json
Labels: atlas data: patch

#289 Add 2 football starts
  data/patches/gh-876c-2-football-stars.json
Labels: atlas data: patch

#292 Create gh-84a5-andean-cock-of-the-rock.json
  data/patches/gh-84a5-andean-cock-of-the-rock.json
Labels: atlas data: patch

#294 Add peugeot 205 and renault twingo
  data/patches/gh-7d7f-renault-twigo-and-peugeot-205.json
Labels: atlas data: patch

#295 Create gh-1ea7-lightning-mcqueen.json
  data/patches/gh-1ea7-lightning-mcqueen.json
Labels: atlas data: patch

#296 Create gh-6611-ena.json
  data/patches/gh-6611-ena.json
Labels: atlas data: patch

#297 Create gh-3bd1-inka-cola.json
  data/patches/gh-3bd1-inka-cola.json
Labels: atlas data: patch

#299 Create gh-a930-shiny-sylveon.json
  data/patches/gh-a930-shiny-sylveon.json
Labels: atlas data: patch

#305 Create gh-b352-croatian-independence-day.json
  data/patches/gh-b352-croatian-independence-day.json
Labels: atlas data: patch

#306 Create gh-b8b9-glagolitic-script.json
  data/patches/gh-b8b9-glagolitic-script.json
Labels: atlas data: patch

#307 Create gh-0649-muse.json
  data/patches/gh-0649-muse.json
Labels: atlas data: patch

#308 Create gh-33e6-takanashi-kiara-oktoberfest.json
  data/patches/gh-33e6-takanashi-kiara-oktoberfest.json
Labels: atlas data: patch

#309 Create gh-81d0-fauna-crying-emote-saplings-cry.json
  data/patches/gh-81d0-fauna-crying-emote-saplings-cry.json
Labels: atlas data: patch

#311 Create gh-aee4-rrvnxmango.json
  data/patches/gh-aee4-rrvnxmango.json
Labels: atlas data: patch

#312 Add Entry for TUM/TU Dortmund collab
  data/patches/gh-ae8f-tu-dortmundtum-cooperation.json
Labels: atlas data: patch

#313 Added a Name to the art, and changed description
  data/patches/gh-77cb-madohomu.json
Labels: atlas data: patch

#316 Create gh-63f4-tumtu-darmstadt.json
  data/patches/gh-63f4-tumtu-darmstadt.json
Labels: atlas data: patch

#317 Create gh-bfd9-mew-pokemon.json
  data/patches/gh-bfd9-mew-pokemon.json
Labels: atlas data: patch

#318 Create gh-37ed-kdrkitten-mew.json
  data/patches/gh-37ed-kdrkitten-mew.json
Labels: atlas data: patch

#319 Create gh-734d-wanderer-above-the-sea-of-fog.json
  data/patches/gh-734d-wanderer-above-the-sea-of-fog.json
Labels: atlas data: patch

#320 Create gh-108c-bonjwa.json
  data/patches/gh-108c-bonjwa.json
Labels: atlas data: patch

#322 Create gh-33e1-ultra-terrance.json
  data/patches/gh-33e1-ultra-terrance.json
Labels: atlas data: patch

#324 add Feddit.de
  data/patches/gh-3e24-fedditde.json
Labels: atlas data: patch

#328 Create gh-5f2d-42-school.json
  data/patches/gh-5f2d-42-school.json
Labels: atlas data: patch

#329 Create gh-8d28-norminet.json
  data/patches/gh-8d28-norminet.json
Labels: atlas data: patch

#330 Create gh-249a-hurdy-gurdy.json
  data/patches/gh-249a-hurdy-gurdy.json
Labels: atlas data: patch

#334 Add monster hunter
  data/patches/gh-de31-monster-hunter.json
Labels: atlas data: patch

#333 Create gh-d9aa-holo-spice-and-wolf.json
  data/patches/gh-d9aa-holo-spice-and-wolf.json
Labels: atlas data: patch

#332 Create gh-3c70-hitori-bocchi.json
  data/patches/gh-3c70-hitori-bocchi.json
Labels: atlas data: patch

#337 add the nebula link to the show like the shinkinson
  data/patches/gh-c236-jet-lag-the-game.json
Labels: atlas data: patch

#338 Blue Corner
  data/patches/gh-90ef-the-blue-corner.json
Labels: atlas data: patch

#339 Create gh-253c-holo-spice-and-wolf.json
  data/patches/gh-253c-holo-spice-and-wolf.json
Labels: atlas data: patch

#341 Indian Train Coach.json
  data/patches/gh-903c-indian-train-coach.json
Labels: atlas data: patch

#342 Create gh-0975-vande-bharat-express.json
  data/patches/gh-0975-vande-bharat-express.json
Labels: atlas data: patch

#344 Edited Description to include monkaW creation attribution to xQc
  data/patches/gh-eaa6-monkaw.json
Labels: atlas data: patch

#345 Create gh-a7c7-karl-lauterbach.json
  data/patches/gh-a7c7-karl-lauterbach.json
Labels: atlas data: patch

#347 Create gh-b9ff-arc-de-triomphe.json
  data/patches/gh-b9ff-arc-de-triomphe.json
Labels: atlas data: patch

#348 Create gh-40e2-factorio-cracktorio.json
  data/patches/gh-40e2-factorio-cracktorio.json
Labels: atlas data: patch

#349 Create gh-cabd-olympia-logo.json
  data/patches/gh-cabd-olympia-logo.json
Labels: atlas data: patch

#350 Create gh-e916-1up-graffity-on-tgv.json
  data/patches/gh-e916-1up-graffity-on-tgv.json
Labels: atlas data: patch

#351 Create gh-ba30-eiffel-tower.json
  data/patches/gh-ba30-eiffel-tower.json
Labels: atlas data: patch

#352 Create gh-d81f-power.json
  data/patches/gh-d81f-power.json
Labels: atlas data: patch

#353 Create gh-c4fc-mission-erde-logo.json
  data/patches/gh-c4fc-mission-erde-logo.json
Labels: atlas data: patch

#359 Submissions of mine
  data/patches/gh-bb0b-oshi-no-ko.json
Labels: atlas data: patch

#364 Create gh-cf33-map-of-brittany.json
  data/patches/gh-cf33-map-of-brittany.json
Labels: atlas data: patch

#365 Create gh-6775-white-ermine-stoat.json
  data/patches/gh-6775-white-ermine-stoat.json
Labels: atlas data: patch

#363 Code changes (05:00 24/07)
  .github/ISSUE_TEMPLATE/3-edit-json.yml
  .github/ISSUE_TEMPLATE/4-edit-request.yml
Labels: staging merge

#366 Create gh-19d8-bigoudene.json
  data/patches/gh-19d8-bigoudene.json
Labels: atlas data: patch

#369 Edit Jet Lag: The Game
  data/patches/gh-0000-jet-lag-the-game.json
Labels: atlas data: patch

#372 Create gh-b061-charizard-pokemon-card.json
  data/patches/gh-b061-charizard-pokemon-card.json
Labels: atlas data: patch

#384 Add 09:00-09:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690189200.png
  web/_img/canvas/main/1690191001.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#389 Add 10:00-10:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690192801.png
  web/_img/canvas/main/1690194601.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#399 Add 11:00-11:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690196400.png
  web/_img/canvas/main/1690198201.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#403 Add 12:00-12:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690200001.png
  web/_img/canvas/main/1690201801.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#401 Code changes (13:00 24/07)
  .all-contributorsrc
  .github/workflows/validate-json.yml
  README.md
  package-lock.json
  tools/merge_out.py
  web/atlas.json
Labels: atlas data: direct, staging merge

#374 Create gh-9f4d-resistance-in-ingress.json
  data/patches/gh-9f4d-resistance-in-ingress.json
Labels: atlas data: patch

#376 Create gh-0934-jet-lag-the-game.json
  data/patches/gh-0934-jet-lag-the-game.json
Labels: atlas data: patch

#379 Create gh-62f4-muse.json
  data/patches/gh-62f4-muse.json
Labels: atlas data: patch

#380 Edit gh-77de-octoprism.json
  data/patches/gh-77de-octoprism.json
Labels: atlas data: patch

#381 Create gh-45c8-al-boraq.json
  data/patches/gh-45c8-al-boraq.json
Labels: atlas data: patch

#382 Create gh-5916-hoalid-regragui.json
  data/patches/gh-5916-hoalid-regragui.json
Labels: atlas data: patch

#383 Change description of Bad Apple!!
  data/patches/gh-d48a-bad-apple-music-video.json
Labels: atlas data: patch

#385 Create entry for r/osuplace and r/touhou subreddit text
  data/patches/gh-e02d-rosuplace-rtouhou.json
Labels: atlas data: patch

#390 Create gh-4e8d-roger-federer.json
  data/patches/gh-4e8d-roger-federer.json
Labels: atlas data: patch

#391 Create gh-9878-1000-swiss-franc-bill.json
  data/patches/gh-9878-1000-swiss-franc-bill.json
Labels: atlas data: patch

#392 Adding rivella bottle on swiss flag
  data/patches/gh-813b-rivella-red-bottle.json
Labels: atlas data: patch

#393 Create gh-0f54-helvetia.json
  data/patches/gh-0f54-helvetia.json
Labels: atlas data: patch

#394 Create gh-1aad-migros-ice-tea-peach.json
  data/patches/gh-1aad-migros-ice-tea-peach.json
Labels: atlas data: patch

#397 Update 1083
  data/patches/gh-5a58-france.json
Labels: atlas data: patch

#398 Create gh-b8f0-spyro.json
  data/patches/gh-b8f0-spyro.json
Labels: atlas data: patch

#400 Create gh-26da-penguin-zone.json
  data/patches/gh-26da-penguin-zone.json
Labels: atlas data: patch

#404 Create gh-8bf5-wolfgang-amadeus-mozart-musician.json
  data/patches/gh-8bf5-wolfgang-amadeus-mozart-musician.json
Labels: atlas data: patch

#405 Change period 2 football stars
  data/patches/gh-6df5-2-football-stars.json
Labels: atlas data: patch

#406 Add 13:00-13:30 canvasses
  tools/extend_entry_times.py
  web/_img/canvas/main/1690203601.png
  web/_img/canvas/main/1690205401.png
  web/_js/config.js
  web/atlas.json
Labels: atlas data: direct

#408 Cleanup
  data/read-ids.txt
  tools/merge_out.py
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

#407 Create gh-f069-frakk-the-famous-dog.json
  data/patches/gh-f069-frakk-the-famous-dog.json
Labels: atlas data: patch

#409 Create gh-9bd9-flag-of-austria.json
  data/patches/gh-9bd9-flag-of-austria.json
Labels: atlas data: patch

#411 Create gh-38d4-coat-of-arms-of-south-tyrol.json
  data/patches/gh-38d4-coat-of-arms-of-south-tyrol.json
Labels: atlas data: patch

#412 Create gh-cb52-coat-of-arms-of-bavaria.json
  data/patches/gh-cb52-coat-of-arms-of-bavaria.json
Labels: atlas data: patch

#416 Cleanup
  data/patches/gh-1dcf-spyro.json
Labels: atlas data: patch

#418 Add Black MIDI
  data/patches/gh-37eb-black-midi.json
Labels: atlas data: patch

#422 Create gh-2f42-ingress.json
  data/patches/gh-2f42-ingress.json
Labels: atlas data: patch

#427 Add windows 7 taskbar
  data/patches/gh-f297-windows-7-taskbar.json
Labels: atlas data: patch

#428 Create gh-9651-flag-of-the-romani.json
  data/patches/gh-9651-flag-of-the-romani.json
Labels: atlas data: patch

#429 Cleanup
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690219804.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

#432 Create gh-23a9-hypixel-h.json
  data/patches/gh-23a9-hypixel-h.json
Labels: atlas data: patch

#433 Cleanup
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690223452.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

#434 Create gh-2e9e-blackpink-logo.json
  data/patches/gh-2e9e-blackpink-logo.json
Labels: atlas data: patch

#435 Create gh-8afc-blink-bp-hammer-logo.json
  data/patches/gh-8afc-blink-bp-hammer-logo.json
Labels: atlas data: patch

#436 Create gh-cd24-blackpink-heart-logo.json
  data/patches/gh-cd24-blackpink-heart-logo.json
Labels: atlas data: patch

#439 Create gh-ab56-anarchist-flag.json
  data/patches/gh-ab56-anarchist-flag.json
Labels: atlas data: patch

#440 Create gh-f037-star-wars-art.json
  data/patches/gh-f037-star-wars-art.json
Labels: atlas data: patch

#445 Updated canvas
  data/read-ids.txt
  tools/extend_entry_times.py
  web/_img/canvas/main/1690227039.png
  web/_js/config.js
  web/all-authors.txt
  web/atlas.json
Labels: atlas data: direct

#447 Create gh-eb64-swiss-broadcasting-corporation-ssr.json
  data/patches/gh-eb64-swiss-broadcasting-corporation-ssr.json
Labels: atlas data: patch

#448 Updated Author and external reddit
  data/patches/gh-f037-star-wars-art.json
  data/patches/star-wars-x-wing-starfighter.json
Labels: atlas data: patch

#449 Create gh-9fad-rolex-logo.json
  data/patches/gh-9fad-rolex-logo.json
Labels: atlas data: patch

#446 Adding helvetia in swiss flag
  data/patches/gh-7928-helvetia.json
Labels: atlas data: patch

#452 UPDATE TIME since this is not anymore on place
  data/patches/gh-d6ff-unified-payments-interface.json
Labels: atlas data: patch

#453 Create gh-ca15-holo-spice-and-wolf.json
  data/patches/gh-ca15-holo-spice-and-wolf.json
Labels: atlas data: patch

#454 Create gh-9c6f-sbb-cff-ffs-logo.json
  data/patches/gh-9c6f-sbb-cff-ffs-logo.json
Labels: atlas data: patch

#455 Create gh-51ac-geoguessr-logo.json
  data/patches/gh-51ac-geoguessr-logo.json
Labels: atlas data: patch

#456 Create gh-b487-reimu-hakurei.json
  data/patches/gh-b487-reimu-hakurei.json
Labels: atlas data: patch

#457 Create gh-3da3-marisa-kirisame.json
  data/patches/gh-3da3-marisa-kirisame.json
Labels: atlas data: patch

#458 UPDATE TIME gh-ee46-2014-fifa-world-cup.json
  data/patches/gh-ee46-2014-fifa-world-cup.json
Labels: atlas data: patch

#459 Update time gh-c2d7-lionel-messi.json
  data/patches/gh-c2d7-lionel-messi.json
Labels: atlas data: patch

#460 Update time gh-bc44-flag-of-argentina.json
  data/patches/gh-bc44-flag-of-argentina.json
Labels: atlas data: patch

#461 Create gh-9984-10d-drawing.json
  data/patches/gh-9984-10d-drawing.json
Labels: atlas data: patch

#463 Create gh-a02f-yet-another-french-flag.json
  data/patches/gh-a02f-yet-another-french-flag.json
Labels: atlas data: patch

#464 Update time gh-5365-rolex-logo.json
  data/patches/gh-5365-rolex-logo.json
Labels: atlas data: patch

#465 Added entry for the Minetest logo
  data/patches/gh-e598-minetest.json
Labels: atlas data: patch

#466 final pr of starwars artwork
  data/patches/gh-f037-star-wars-art.json
  data/patches/x-wing-fighter.json
Labels: atlas data: patch

#468 Create gh-a306-ramayana-anime.json
  data/patches/gh-a306-ramayana-anime.json
Labels: atlas data: patch

#472 Update Star Wars Art
  data/patches/gh-edf0-star-wars-art.json
Labels: atlas data: patch

#475 Create gh-4687-lion-rampant.json
  data/patches/gh-4687-lion-rampant.json
Labels: atlas data: patch

#476 Add valorant agents
  data/patches/gh-ac76-valorant-agents.json
Labels: atlas data: patch

#478 Edit Slifer the Sky Dragon
  data/patches/gh-7ea2-slifer-the-sky-dragon-by-papaplatte.json
Labels: atlas data: patch

#485 Create gh-7a7a-church-of-the-sacred-hear.json
  data/patches/gh-7a7a-church-of-the-sacred-hear.json
Labels: atlas data: patch

#484 1-karate-dojo-norden
  data/patches/gh-5890-1-karate-dojo-norden.json
Labels: atlas data: patch

#482 Create gh-8c20-casa-voyageurs-railway-station.json
  data/patches/gh-8c20-casa-voyageurs-railway-station.json
Labels: atlas data: patch

#481 Create gh-bb17-hassan-2-mosque.json
  data/patches/gh-bb17-hassan-2-mosque.json
Labels: atlas data: patch

#480 Create gh-4879-twin-center.json
  data/patches/gh-4879-twin-center.json
Labels: atlas data: patch

#486 Create gh-5e12-tribute-to-lola.json
  data/patches/gh-5e12-tribute-to-lola.json
Labels: atlas data: patch

#487 Add "Restos du coeur" & read desc
  data/patches/gh-fd0f-les-restos-du-coeur.json
Labels: atlas data: patch

#488 Create gh-93ab-retrogamingnow-iceberg.json
  data/patches/gh-93ab-retrogamingnow-iceberg.json
Labels: atlas data: patch

#490 Create gh-3405-tribute-to-lola.json
  data/patches/gh-3405-tribute-to-lola.json
Labels: atlas data: patch

#491 Add Charles de Gaulle
  data/patches/gh-dea4-charles-de-gaulle.json
Labels: atlas data: patch

#492 Create gh-9213-crying-gigachad-yagoo.json
  data/patches/gh-9213-crying-gigachad-yagoo.json
Labels: atlas data: patch

#493 Create gh-a64d-zephra.json
  data/patches/gh-a64d-zephra.json
Labels: atlas data: patch

#494 Create gh-d2cb-rvnx-logo.json
  data/patches/gh-d2cb-rvnx-logo.json
Labels: atlas data: patch
